workflows/5kbyirkHU52sB6fO.json
{"updatedAt":"2026-02-02T05:30:38.744Z","createdAt":"2025-12-08T03:56:42.054Z","id":"5kbyirkHU52sB6fO","name":"Konqa CRM Updater Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"descriptionType":"manual","toolDescription":"Search for a contact by email address in the Contacts table. Use this to check if a contact already exists before creating a new one. Returns contact details including name, phone, club, and record ID if found.","operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblkNHg3OqkY80LLo"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[352,224],"id":"dcc8739b-72cd-4d37-a08f-2db5e81dc710","name":"search_contact_by_email","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a new contact record in the Contacts table. Provide name, email, and phone number. Source is automatically set to Website Chatbot. Returns the new contact's record ID.","operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblkNHg3OqkY80LLo"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}","Last Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","Phone Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}","Source":"Website Chatbot","Captured by Atomi":"Yes","Notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Associated Club","displayName":"Associated Club","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Deals","displayName":"Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Inquiries","displayName":"Total Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deals","displayName":"Total Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Inquiry Date","displayName":"Last Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deal Value","displayName":"Total Deal Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Expo","value":"Expo"},{"name":"Referral","value":"Referral"},{"name":"Manual","value":"Manual"}],"readOnly":false,"removed":false},{"id":"Captured by Atomi","displayName":"Captured by Atomi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[480,224],"id":"a1ef4406-cec8-49ca-a612-94e4e8eebc4e","name":"create_contact","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search for a club by name in the Clubs table. Use this to check if a club already exists","operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tbl6B97GSpTlg3MnX"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[608,224],"id":"c9309d6e-6785-4721-8f9d-4e338b946d35","name":"search_club_by_name","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a new contact record in the Contacts table. Provide name, email, and phone number. Source is automatically set to Website Chatbot. Returns the new contact's record ID.","operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tbl6B97GSpTlg3MnX"},"columns":{"mappingMode":"defineBelow","value":{"Club Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Club_Name', ``, 'string') }}","Website":"=","Contacts":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contacts', ``, 'json') }}","Phone Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}","Lead Source":"Atomi Agency Systems","Notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Club Name","displayName":"Club Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Contacts","displayName":"Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Number of Contacts","displayName":"Number of Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Atomi Agency Systems","value":"Atomi Agency Systems"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Sport Type","displayName":"Sport Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Soccer","value":"Soccer"}],"readOnly":false,"removed":false},{"id":"Region","displayName":"Region","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Active Inquiries","displayName":"Active Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Name (from Active Inquiries)","displayName":"Name (from Active Inquiries)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Inquiry Date (from Active Inquiries)","displayName":"Inquiry Date (from Active Inquiries)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[736,224],"id":"8c3c1b8f-dfba-49f7-ac62-a7fa49cd6650","name":"create_club","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a new contact record in the Contacts table. Provide name, email, and phone number. Source is automatically set to Website Chatbot. Returns the new contact's record ID.","operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tbligvK9InwpNpQBy","mode":"list","cachedResultName":"Enquiries","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tbligvK9InwpNpQBy"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Inquiry Date":"2025-11-21T20:50:35","Clubs":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Clubs', ``, 'json') }}","Source":"Website Chatbot","Chat Transcript":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_Transcript', ``, 'string') }}","Contact":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact', ``, 'json') }}","Suggested Next Steps":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Suggested_Next_Steps', ``, 'string') }}","Estimated Quantity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estimated_Quantity', ``, 'string') }}","Timeline":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timeline', ``, 'string') }}","Status":"New"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiry Date","displayName":"Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Clubs","displayName":"Clubs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Referral","value":"Referral"},{"name":"Email","value":"Email"},{"name":"Event","value":"Event"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Chat Transcript","displayName":"Chat Transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Associated Company (from Contact)","displayName":"Associated Company (from Contact)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Inquiry Summary","displayName":"Inquiry Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Suggested Next Steps","displayName":"Suggested Next Steps","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Days Since Inquiry","displayName":"Days Since Inquiry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Estimated Quantity","displayName":"Estimated Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timeline","displayName":"Timeline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Qualified","value":"Qualified"},{"name":"Meeting Booked","value":"Meeting Booked"},{"name":"Quote Sent","value":"Quote Sent"},{"name":"Won","value":"Won"},{"name":"Lost","value":"Lost"}],"readOnly":false,"removed":false},{"id":"Meeting Date/Time","displayName":"Meeting Date/Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Conversation Log","displayName":"Conversation Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Design Notes","displayName":"Design Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pricing Notes","displayName":"Pricing Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Next Steps","displayName":"Next Steps","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[864,224],"id":"6dfe86bf-76bf-41d1-901a-065047728c3e","name":"create_inquiry","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}}},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"You are Konqa's CRM Specialist. You handle Airtable database operations.\n\nYOUR TOOLS:\n- search_contact_by_email: Search for a contact by email address\n- create_contact: Create a new contact record\n- search_club_by_name: Search for existing club\n- create_club: Create new club\n- create_inquiry: Create new inquiry record\n\nYOUR WORKFLOW:\n\nOUR JOB:\nWhen asked to save an enquiry with name, email, phone, club, quantity, and timeline:\n\nSTEP 1: Search for contact by email\n- If found: use that contact_record_id\n- If not found: create contact, get the new contact_record_id\n\nSTEP 2: Search for club by name\n- The EXACT field name is \"Club Name\"\n- If found: use that club_record_id\n- If not found: create club, get the new club_record_id\n\nSTEP 3: Create inquiry\n- Link to contact_record_id\n- Link to club_record_id\n- Include quantity and timeline\n- Set status to \"Qualified - Ready for Consultation\"\n\nSTEP 4: Return success\n\"Enquiry saved successfully. Contact: [name], Club: [club], Inquiry ID: [rec...]\"\n\nIMPORTANT:\n- If searches return empty, that's normal - just create new records\n- Strict: Work through the steps in order\n- Return the inquiry record ID at the end"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[480,0],"id":"f9704cc8-3550-43cf-beea-14c201e70838","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,224],"id":"7548c353-7880-442f-b9f7-e53275cd274a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3kjaAdywNClqTtrf","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"d2819883-a8d9-4c80-ae52-7d6559c0530e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9430c124-1709-4ec6-aa62-b9deb4b77a57","name":"Webhook","webhookId":"d2819883-a8d9-4c80-ae52-7d6559c0530e"}],"connections":{"search_contact_by_email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_contact":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"search_club_by_name":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_club":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_inquiry":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff44814a-fdab-469a-a37a-7d7904b46e7e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-08T03:56:42.057Z","createdAt":"2025-12-08T03:56:42.057Z","role":"workflow:owner","workflowId":"5kbyirkHU52sB6fO","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-08T03:25:09.564Z","createdAt":"2025-12-08T03:25:09.564Z","id":"s7sRA6pXEL4mRaco","name":"Konqa"}]}