workflows/AI-Time-Audit.json
{"updatedAt":"2026-04-17T00:11:29.382Z","createdAt":"2026-04-16T23:55:10.504Z","id":"p6Q0PLcyyBs0TUBy","name":"AI Time Audit","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b8e4f2a1-7c9d-4e3b-a5f0-6d2c1b0a9e8f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"aab71e6e-ddac-4cf3-8ca1-5887feb0821a","name":"Webhook","webhookId":"55efb4c9-1a72-4f30-97fa-ba1a0e6186b8"},{"parameters":{"jsCode":"const formResponse = $input.first().json.body.form_response;\n\nconst hidden = formResponse.hidden || {};\nconst customerEmail = hidden.email || '';\nconst firstName = hidden.first_name || '';\nconst lastName = hidden.last_name || '';\nconst userId = hidden.user_id || '';\n\nconst answerMap = {};\nfor (const answer of (formResponse.answers || [])) {\n  const fieldId = answer.field.id;\n  let value;\n  switch (answer.type) {\n    case 'text': value = answer.text || ''; break;\n    case 'choice': value = answer.choice ? answer.choice.label : ''; break;\n    case 'choices': value = answer.choices ? answer.choices.labels.join(', ') : ''; break;\n    case 'number': value = answer.number || 0; break;\n    default: value = answer[answer.type] || '';\n  }\n  answerMap[fieldId] = value;\n}\n\nconst fieldIds = Object.keys(answerMap);\nconst process_name = answerMap[fieldIds[0]] || '';\nconst frustration_type = answerMap[fieldIds[1]] || '';\nconst monthly_volume_raw = String(answerMap[fieldIds[2]] || '0');\nconst time_per_instance_raw = answerMap[fieldIds[3]] || '';\nconst hourly_rate_raw = answerMap[fieldIds[4]] || '';\nconst error_rate_raw = answerMap[fieldIds[5]] || '';\nconst tools_involved = answerMap[fieldIds[6]] || '';\nconst decision_complexity_raw = answerMap[fieldIds[7]] || '';\nconst ideal_state = answerMap[fieldIds[8]] || '';\nconst freed_time_impact = answerMap[fieldIds[9]] || '';\n\nconst timeNorm = {\n  '5-15 minutes': '5-15min', '15-30 minutes': '15-30min',\n  '30-60 minutes': '30-60min', '1-2 hours': '1-2hrs',\n  '2+ hours': '2+hrs', 'More than 2 hours': '2+hrs'\n};\nconst time_per_instance = timeNorm[time_per_instance_raw] || time_per_instance_raw || '15-30min';\n\nconst rateNorm = {\n  '$50-75/hr': '$50-75/hr', '$75-100/hr': '$75-100/hr',\n  '$100-150/hr': '$100-150/hr', '$150+/hr': '$150+/hr',\n  'Not sure': '$75-100/hr'\n};\nconst hourly_rate = rateNorm[hourly_rate_raw] || hourly_rate_raw || '$75-100/hr';\n\nconst errorNorm = {\n  'Rarely (under 2%)': 'Rarely (<2%)', 'Rarely (<2%)': 'Rarely (<2%)',\n  'Occasionally (~5%)': 'Occasionally (~5%)',\n  'Often (10%+)': 'Often (10%+)', 'Often (10% or more)': 'Often (10%+)'\n};\nconst error_rate = errorNorm[error_rate_raw] || error_rate_raw || 'Occasionally (~5%)';\n\nconst compNorm = {\n  'Simple rules, no judgment needed': 'Simple rules / no judgment',\n  'Simple rules / no judgment': 'Simple rules / no judgment',\n  'Mostly rules with occasional judgment': 'Simple rules with occasional judgment calls',\n  'Simple rules with occasional judgment calls': 'Simple rules with occasional judgment calls',\n  'Requires context or experience': 'Requires context or experience',\n  'Highly subjective or relationship-dependent': 'Highly subjective / relationship-dependent'\n};\nconst decision_complexity = compNorm[decision_complexity_raw] || decision_complexity_raw || 'Simple rules with occasional judgment calls';\n\nconst numbers = monthly_volume_raw.match(/\\d+/g);\nlet monthly_volume = 0;\nif (numbers && numbers.length >= 2) {\n  monthly_volume = Math.round((parseInt(numbers[0]) + parseInt(numbers[1])) / 2);\n} else if (numbers && numbers.length === 1) {\n  monthly_volume = parseInt(numbers[0]);\n}\n\nconst now = new Date();\nconst ms = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst report_date = `${ms[now.getMonth()]} ${now.getDate()}, ${now.getFullYear()}`;\n\nreturn [{ json: {\n  customer_email: customerEmail, first_name: firstName, last_name: lastName, user_id: userId,\n  process_name, frustration_type, monthly_volume, monthly_volume_raw,\n  time_per_instance, hourly_rate, error_rate, tools_involved,\n  decision_complexity, ideal_state, freed_time_impact, report_date\n}}];"},"id":"e78ebaa0-0d94-49bb-8afd-38b8bfa8b162","name":"Parse Typeform","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0]},{"parameters":{"base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblqy20VkDmeTY8jT","mode":"list","cachedResultName":"Engagements","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblqy20VkDmeTY8jT"},"id":"={{ $json.user_id }}","options":{}},"id":"80bc2bf8-5779-49a0-adfe-e099438cf6b3","name":"Get Engagement","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,0]},{"parameters":{"jsCode":"const intake = $('Parse Typeform').first().json;\nconst engagement = $input.first().json;\n\nlet clientName = '';\nconst companyField = engagement.fields ? engagement.fields.Company : engagement.Company;\nif (companyField) {\n  if (Array.isArray(companyField)) {\n    clientName = companyField[0] || '';\n  } else if (typeof companyField === 'string') {\n    clientName = companyField;\n  }\n}\nif (!clientName) {\n  clientName = [intake.first_name, intake.last_name].filter(Boolean).join(' ') || 'Client';\n}\n\nreturn [{ json: { ...intake, client_name: clientName } }];"},"id":"2d8ef689-731a-43c1-ac7c-a652527e8ed3","name":"Extract Company Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,0]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c1","operator":{"type":"string","operation":"isNotEmpty","singleValue":true},"leftValue":"={{ $json.customer_email }}"},{"id":"c2","operator":{"type":"string","operation":"isNotEmpty","singleValue":true},"leftValue":"={{ $json.process_name }}"},{"id":"c3","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.monthly_volume }}","rightValue":0}]},"options":{}},"id":"db13c126-229c-4e98-93d4-06f7a1479ba2","name":"Validate Intake","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,0]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblr4vdY1UtdP59O1","mode":"list","cachedResultName":"AI Time Audit Intake Form","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblr4vdY1UtdP59O1"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the specific manual process we are auditing today?","displayName":"What is the specific manual process we are auditing today?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the biggest frustration with this process right now?","displayName":"What is the biggest frustration with this process right now?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It takes too long and delays other work.","value":"It takes too long and delays other work."},{"name":"Errors happen too often and need fixing.","value":"Errors happen too often and need fixing."},{"name":"It’s a bottleneck stopping us from growing.","value":"It’s a bottleneck stopping us from growing."},{"name":"The team is frustrated or burnt out from doing it.","value":"The team is frustrated or burnt out from doing it."}],"readOnly":false,"removed":false},{"id":"Roughly how many times is this task performed every month?","displayName":"Roughly how many times is this task performed every month?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How long does it take to complete one instance of this task?","displayName":"How long does it take to complete one instance of this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"5–15 minutes","value":"5–15 minutes"},{"name":"15–30 minutes","value":"15–30 minutes"},{"name":"30–60 minutes","value":"30–60 minutes"},{"name":"1–2 hours","value":"1–2 hours"},{"name":"2+ hours","value":"2+ hours"}],"readOnly":false,"removed":false},{"id":"What is the approximate hourly cost of the person doing this work?","displayName":"What is the approximate hourly cost of the person doing this work?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"$50-75/hr","value":"$50-75/hr"},{"name":"$75-100/hr","value":"$75-100/hr"},{"name":"$100-150/hr","value":"$100-150/hr"},{"name":"$150+/hr","value":"$150+/hr"},{"name":"Not sure","value":"Not sure"}],"readOnly":false,"removed":false},{"id":"How often do mistakes happen that require manual fixing or re-entry?","displayName":"How often do mistakes happen that require manual fixing or re-entry?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Rarely (under 2%)","value":"Rarely (under 2%)"},{"name":"Occasionally (approx. 5%)","value":"Occasionally (approx. 5%)"},{"name":"Often (10% or more)","value":"Often (10% or more)"}],"readOnly":false,"removed":false},{"id":"Which tools are involved in this process? (Select all that apply)","displayName":"Which tools are involved in this process? (Select all that apply)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Email (Gmail, Outlook)","value":"Email (Gmail, Outlook)"},{"name":"Spreadsheets (Excel, Google Sheets)","value":"Spreadsheets (Excel, Google Sheets)"},{"name":"Accounting (Xero, QuickBooks, MYOB)","value":"Accounting (Xero, QuickBooks, MYOB)"},{"name":"CRM (Salesforce, HubSpot, Dynamics)","value":"CRM (Salesforce, HubSpot, Dynamics)"},{"name":"Documents (PDFs, Images, Word)","value":"Documents (PDFs, Images, Word)"},{"name":"Other Web Portals or Legacy Apps.","value":"Other Web Portals or Legacy Apps."},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"How much \"thinking\" is required to do this task?","displayName":"How much \"thinking\" is required to do this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah).","value":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah)."},{"name":"Judgment Calls: \"Read the email and decide which department handles it.\"","value":"Judgment Calls: \"Read the email and decide which department handles it.\""},{"name":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\"","value":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\""}],"readOnly":false,"removed":false},{"id":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","displayName":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"If we freed up this time for your team, what high-value work would they do instead?","displayName":"If we freed up this time for your team, what high-value work would they do instead?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How urgently do you need to solve this?","displayName":"How urgently do you need to solve this?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It's painful, but we can cope for now.","value":"It's painful, but we can cope for now."},{"name":"It's actively blocking our growth or costing us money.","value":"It's actively blocking our growth or costing us money."},{"name":"This is a top-3 priority for this quarter.","value":"This is a top-3 priority for this quarter."}],"readOnly":false,"removed":false},{"id":"If the audit shows a clear ROI, who makes the decision to move forward?","displayName":"If the audit shows a clear ROI, who makes the decision to move forward?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"I can approve this myself.","value":"I can approve this myself."},{"name":"I need to get leadership buy-in.","value":"I need to get leadership buy-in."},{"name":"We would need board or executive level approval.","value":"We would need board or executive level approval."}],"readOnly":false,"removed":false},{"id":"Engagement","displayName":"Engagement","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company (from Engagement)","displayName":"Company (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Contact (from Engagement)","displayName":"Contact (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Form Email","displayName":"Form Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form First Name","displayName":"Form First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form Surname","displayName":"Form Surname","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"id":"338050e3-d8c9-4017-838e-c1387716d9e5","name":"Create Intake Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1408,0],"notes":"SETUP: Open this node in n8n UI and configure the column mappings to match your Airtable field names. Use typecast=true so Airtable auto-converts linked records."},{"parameters":{"jsCode":"// Reference intake data from Extract Company Name node (has all fields + client_name)\nconst intake = $('Extract Company Name').first().json;\n\nconst timeMidpoints = {\n  '5-15min': 10, '15-30min': 22.5, '30-60min': 45, '1-2hrs': 90, '2+hrs': 150\n};\nconst rateMidpoints = {\n  '$50-75/hr': 62.50, '$75-100/hr': 87.50, '$100-150/hr': 125.00, '$150+/hr': 175.00\n};\nconst errorDecimals = {\n  'Rarely (<2%)': 0.02, 'Occasionally (~5%)': 0.05, 'Often (10%+)': 0.12\n};\n\nconst timeMinutes = timeMidpoints[intake.time_per_instance] || 22.5;\nconst hourlyRate = rateMidpoints[intake.hourly_rate] || 87.50;\nconst errorDecimal = errorDecimals[intake.error_rate] || 0.05;\nconst volume = parseInt(intake.monthly_volume) || 0;\n\n// Core calculations\nconst monthlyHoursRaw = (volume * timeMinutes) / 60;\n// Realism cap: if raw hours > 100, cap at 80%\nconst monthlyHours = monthlyHoursRaw > 100\n  ? Math.round(monthlyHoursRaw * 0.8)\n  : Math.round(monthlyHoursRaw);\n\nconst monthlyCost = Math.round(monthlyHours * hourlyRate);\nconst annualCost = monthlyCost * 12;\nconst reworkCost = Math.round(monthlyCost * errorDecimal * 1.5);\n\n// Format numbers with commas\nconst fmt = (n) => n.toLocaleString('en-US');\n\nreturn [{\n  json: {\n    // Raw values for further calculation\n    time_minutes_midpoint: timeMinutes,\n    hourly_rate_midpoint: hourlyRate,\n    error_rate_decimal: errorDecimal,\n    monthly_hours: monthlyHours,\n    monthly_cost: monthlyCost,\n    annual_cost: annualCost,\n    rework_cost: reworkCost,\n    // Display formatted (with commas)\n    monthly_hours_display: fmt(monthlyHours),\n    monthly_cost_display: fmt(monthlyCost),\n    annual_cost_display: fmt(annualCost),\n    rework_cost_display: fmt(reworkCost)\n  }\n}];"},"id":"a4c24150-0c4e-4549-881c-ce635b4b1b58","name":"Calculate Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,0]},{"parameters":{"jsCode":"// Reference intake data with client_name\nconst d = $('Extract Company Name').first().json;\n\nconst userMessage = `Here is the intake data for this AI Time Audit:\n\nBusiness Name: ${d.client_name}\nProcess Being Audited: ${d.process_name}\nPrimary Frustration: ${d.frustration_type}\nMonthly Volume: ${d.monthly_volume} times per month\nTime Per Instance: ${d.time_per_instance}\nHourly Rate of Person Doing Work: ${d.hourly_rate}\nError/Rework Rate: ${d.error_rate}\nTools Currently Involved: ${d.tools_involved}\nDecision Complexity: ${d.decision_complexity}\nIdeal State (client's words): \"${d.ideal_state}\"\nWhat Team Would Do With Freed Time: \"${d.freed_time_impact}\"`;\n\nreturn [{\n  json: {\n    ai_user_message: userMessage\n  }\n}];"},"id":"d7d9a156-ce97-4c89-aaa6-5e10b60fd2ff","name":"Build AI Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,0]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-3-5-haiku-20241022"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst for a small business consultancy. Your job is to estimate what percentage of a manual business process can realistically be automated using standard integration and workflow tools (n8n, Zapier, Make, APIs).\n\nRULES:\n- Return ONLY a single integer between 30 and 85. Nothing else. No explanation, no text, just the number.\n- Never return higher than 85. No process is fully automatable. Humans always own exceptions, judgment calls, and relationship management.\n- Use this scoring framework:\n\n  Decision Complexity:\n  - \"Simple rules / no judgment\" = base 75-85%\n  - \"Simple rules with occasional judgment calls\" = base 60-75%\n  - \"Requires context or experience\" = base 45-60%\n  - \"Highly subjective / relationship-dependent\" = base 30-45%\n\n  Tool Modifier:\n  - If tools include well-known software with APIs (e.g., Xero, HubSpot, Google Workspace, Slack, accounting software, CRMs) = add 0-5%\n  - If tools are mostly manual (paper, phone calls, in-person) = subtract 5-10%\n  - If tools include spreadsheets only = no change (automatable but needs setup)\n\n  Volume Modifier:\n  - High volume (50+ per month) with simple decisions = add 0-5%\n  - Low volume (<10 per month) with complex decisions = subtract 0-5%\n\n- Round to the nearest 5 (e.g., 65, 70, 75).\n- When in doubt, round DOWN. Conservative estimates build trust. Overstating destroys it.","maxTokens":10,"temperature":0.3}},"id":"2119851d-4f98-498d-b4f9-da3d9f254233","name":"P1 Automation Pct","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2240,0]},{"parameters":{"jsCode":"const p1 = $('P1 Automation Pct').first().json;\nconst metrics = $('Calculate Metrics').first().json;\n\n// Parse automation percentage from Anthropic output\nlet rawText = (p1.text || p1.content || JSON.stringify(p1)).trim();\nlet pct = parseInt(rawText);\n\n// Validate: must be 30-85, divisible by 5\nif (isNaN(pct) || pct < 30 || pct > 85) {\n  pct = 55; // Safe fallback (conservative middle)\n}\nif (pct % 5 !== 0) {\n  pct = Math.round(pct / 5) * 5;\n}\n\n// Calculate savings using validated percentage\nconst timeSavingsMonthly = Math.round(metrics.monthly_hours * (pct / 100));\nconst costSavingsMonthly = Math.round(metrics.monthly_cost * (pct / 100));\nconst costSavingsAnnual = costSavingsMonthly * 12;\n\n// Payback period: assume $5,000 implementation mid-range\nconst implCost = 5000;\nconst paybackMonths = costSavingsMonthly > 0\n  ? Math.ceil(implCost / costSavingsMonthly)\n  : 0;\nconst paybackDisplay = paybackMonths <= 1\n  ? '1 month'\n  : paybackMonths <= 2\n    ? '1-2 months'\n    : `${paybackMonths - 1}-${paybackMonths} months`;\n\nreturn [{\n  json: {\n    automation_percentage: pct,\n    time_savings_monthly: timeSavingsMonthly,\n    cost_savings_monthly: costSavingsMonthly,\n    cost_savings_annual: costSavingsAnnual,\n    payback_period: paybackDisplay,\n    time_savings_monthly_display: timeSavingsMonthly.toLocaleString(),\n    cost_savings_monthly_display: costSavingsMonthly.toLocaleString(),\n    cost_savings_annual_display: costSavingsAnnual.toLocaleString()\n  }\n}];"},"id":"4eb7fb8e-c19d-430d-bec6-2bcc57f5392d","name":"Validate Pct and Savings","type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,0]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst writing a section of a client report. Based on the intake data provided, list the specific steps of this process that CAN be automated using standard workflow and integration tools.\n\nRULES:\n- Return a bullet list of 3-6 steps. No more than 6.\n- Each bullet starts with a present participle verb (e.g., \"Pulling,\" \"Generating,\" \"Sending,\" \"Logging,\" \"Matching,\" \"Scheduling\").\n- Write in plain English. No jargon. No technical tool names unless the client mentioned them.\n- Each step must be a concrete action, not a vague category. Bad: \"Data management.\" Good: \"Pulling completed job data from your job management system.\"\n- Reference the client's actual tools where they named them (e.g., \"in Xero\" if they said Xero).\n- Reference the client's actual process where possible (e.g., \"invoices\" if that's what they audit).\n- Focus on the repetitive, rule-based parts of the process. If it requires reading context, making a judgment call, or managing a relationship, it does NOT belong here.\n- Format each bullet as a markdown list item starting with \"- \".\n\nOUTPUT FORMAT (return ONLY the bullet list, no heading, no intro text):\n- [Step 1]\n- [Step 2]\n- [Step 3]\n...","maxTokens":300,"temperature":0.3}},"id":"2c53e47b-14ea-474f-a501-df73ed71c46c","name":"P2 Automatable Steps","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2800,0]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst writing a section of a client report. Based on the intake data provided, list the specific parts of this process that STILL NEED a human. These are the steps that should not be automated because they require judgment, context, relationships, or exception handling.\n\nRULES:\n- Return a bullet list of 2-4 steps. No more than 4.\n- Each bullet starts with a present participle verb (e.g., \"Reviewing,\" \"Handling,\" \"Approving,\" \"Deciding,\" \"Negotiating,\" \"Escalating\").\n- Write in plain English. No jargon.\n- Each step must be a concrete action. Bad: \"Complex decisions.\" Good: \"Reviewing invoices for jobs with scope changes or disputes.\"\n- These steps should feel valuable and important, not leftover. The framing is: \"This is the work that actually matters, and now your team has time for it.\"\n- Reference the client's actual process language where possible.\n- The steps should logically complement the automatable steps (together they should cover the full process).\n- Format each bullet as a markdown list item starting with \"- \".\n\nOUTPUT FORMAT (return ONLY the bullet list, no heading, no intro text):\n- [Step 1]\n- [Step 2]\n- [Step 3]","maxTokens":200,"temperature":0.3}},"id":"400f0581-ef1f-4a99-9950-968fe2a5085c","name":"P3 Human Steps","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3088,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation consultant writing a \"Solution Preview\" paragraph for a client report. This paragraph gives the client a clear, non-technical picture of how the automation would work in practice. It should make them nod and think \"yes, that's exactly what I need.\"\n\nRULES:\n- Write exactly ONE paragraph of 40-60 words.\n- Start with \"The automation would...\" to maintain consistent report tone.\n- Describe the solution in terms of what changes for the client, not how it's built technically.\n- Reference their actual tools and process by name where they provided them.\n- Use \"instead of [current pain]\" framing to contrast current vs. automated state.\n- No technical jargon. No mention of APIs, nodes, webhooks, or workflow engines.\n- No pricing. No timelines. No promises about specific features.\n- Write as if explaining to the business owner, not a developer.\n- Do NOT include any disclaimers or caveats. The template already has a guardrail line after this section.\n\nOUTPUT FORMAT (return ONLY the paragraph, no heading):\nThe automation would...","maxTokens":150,"temperature":0.4}},"id":"ef55e947-4299-4234-a6ab-c4ec32286a11","name":"P4 Solution Approach","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3360,0]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst. Based on the intake data, generate two short phrases that complete this sentence in a client report:\n\n\"The core workflow would connect [KEY_INTEGRATIONS], triggered automatically when [TRIGGER_EVENT].\"\n\nRULES FOR KEY_INTEGRATIONS:\n- Name the 2-3 tools or systems that would be connected.\n- Use the client's actual tool names where provided.\n- If they only listed generic categories (e.g., \"spreadsheets\"), use those.\n- Format as a natural phrase (e.g., \"your CRM to your accounting software\" or \"your job tracking spreadsheet to Xero\").\n- Keep it under 15 words.\n\nRULES FOR TRIGGER_EVENT:\n- Describe the specific event that would kick off the automation.\n- Use the client's process language (e.g., \"a job status changes to Complete\" or \"a new lead fills out your contact form\").\n- Must be a concrete, observable event, not a vague condition.\n- Keep it under 15 words.\n\nOUTPUT FORMAT (return EXACTLY this format, two lines, no other text):\nKEY_INTEGRATIONS: [your phrase here]\nTRIGGER_EVENT: [your phrase here]","maxTokens":100,"temperature":0.3}},"id":"a8b81ef5-0b0d-4a7d-9aff-a7d5881f5007","name":"P5 Integrations Trigger","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3648,0]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $('Build AI Message').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst. Based on the intake data, write a short phrase describing when the client's team would need to step in during the automated process. This completes the sentence:\n\n\"Your team would only step in for [EXCEPTION_HANDLING].\"\n\nRULES:\n- Write ONE phrase of 8-20 words.\n- Describe the specific exception or edge case, not a generic statement.\n- Bad: \"unusual situations\" or \"edge cases.\" Good: \"flagged invoices that exceed usual amounts or have notes requiring review.\"\n- Reference the client's actual process. Use their language.\n- The tone should reassure: the team still has control over the important stuff.\n- Do not start with \"when\" or \"if.\" Start with the noun (e.g., \"flagged invoices...\" or \"client requests...\" or \"quotes that...\").\n\nOUTPUT FORMAT (return ONLY the phrase, no heading, no sentence wrapper):\n[your phrase here]","maxTokens":80,"temperature":0.3}},"id":"6971d62f-9c30-4a14-8516-02d0da7664a2","name":"P6 Exception Handling","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3920,0]},{"parameters":{"jsCode":"// Gather all data from upstream nodes\nconst intake = $('Extract Company Name').first().json;\nconst metrics = $('Calculate Metrics').first().json;\nconst savings = $('Validate Pct and Savings').first().json;\n\n// AI outputs (simplified Anthropic returns {text: \"...\"})\nconst automatableSteps = $('P2 Automatable Steps').first().json.text || '';\nconst humanSteps = $('P3 Human Steps').first().json.text || '';\nconst solutionApproach = $('P4 Solution Approach').first().json.text || '';\nconst intTriggerRaw = $('P5 Integrations Trigger').first().json.text || '';\nconst exceptionHandling = $('P6 Exception Handling').first().json.text || '';\n\n// Parse Prompt 5 two-line output\nconst lines = intTriggerRaw.split('\\n');\nlet keyIntegrations = '';\nlet triggerEvent = '';\nfor (const line of lines) {\n  if (line.startsWith('KEY_INTEGRATIONS:')) {\n    keyIntegrations = line.replace('KEY_INTEGRATIONS:', '').trim();\n  }\n  if (line.startsWith('TRIGGER_EVENT:')) {\n    triggerEvent = line.replace('TRIGGER_EVENT:', '').trim();\n  }\n}\n\n// Derive remaining_human_work from first human step\nconst humanStepLines = humanSteps.split('\\n').filter(l => l.trim().startsWith('-'));\nconst remainingHumanWork = humanStepLines.length > 0\n  ? humanStepLines[0].replace('- ', '').toLowerCase().trim()\n  : 'tasks requiring judgment';\n\n// Validation\nconst validationIssues = [];\nconst autoStepCount = automatableSteps.split('\\n').filter(l => l.trim().startsWith('-')).length;\nif (autoStepCount < 3 || autoStepCount > 6) {\n  validationIssues.push(`automatable_steps has ${autoStepCount} bullets (expected 3-6)`);\n}\nif (humanStepLines.length < 2 || humanStepLines.length > 4) {\n  validationIssues.push(`human_required_steps has ${humanStepLines.length} bullets (expected 2-4)`);\n}\nif (!solutionApproach.trim().startsWith('The automation would')) {\n  validationIssues.push('solution_approach does not start with \"The automation would\"');\n}\nif (!keyIntegrations) {\n  validationIssues.push('key_integrations could not be parsed from Prompt 5');\n}\nif (!triggerEvent) {\n  validationIssues.push('trigger_event could not be parsed from Prompt 5');\n}\nconst exceptionWords = exceptionHandling.trim().split(/\\s+/).length;\nif (exceptionWords < 8 || exceptionWords > 20) {\n  validationIssues.push(`exception_handling is ${exceptionWords} words (expected 8-20)`);\n}\n\nreturn [{\n  json: {\n    ...intake,\n    ...metrics,\n    ...savings,\n    automatable_steps: automatableSteps,\n    human_required_steps: humanSteps,\n    solution_approach: solutionApproach,\n    key_integrations: keyIntegrations,\n    trigger_event: triggerEvent,\n    exception_handling: exceptionHandling,\n    remaining_human_work: remainingHumanWork,\n    validation_issues: validationIssues,\n    validation_passed: validationIssues.length === 0\n  }\n}];"},"id":"d4a3eadf-8518-41d1-a49b-510781d07052","name":"Parse All AI Outputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[4208,0]},{"parameters":{"operation":"copy","fileId":{"__rl":true,"mode":"id","value":"12ZybW49SlYkkTR0lnasIJZMg8GvKiEv_XaQWNEik_yA"},"options":{}},"id":"ea073bec-06d3-4a0f-9e51-f6cd7ce3a3bc","name":"Copy Template","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4480,0]},{"parameters":{"jsCode":"const d = $('Parse All AI Outputs').first().json;\nconst documentId = $('Copy Template').first().json.id;\n\nconst r = (key, fallback = '') => {\n  const val = d[key];\n  return val !== undefined && val !== null ? String(val) : fallback;\n};\n\n// Build placeholder keys using charCode to avoid n8n expression parsing\nconst b = (name) => String.fromCharCode(123, 123) + name + String.fromCharCode(125, 125);\n\nconst fieldMap = {\n  'client_name': 'client_name',\n  'process_name': 'process_name',\n  'report_date': 'report_date',\n  'monthly_hours': 'monthly_hours_display',\n  'monthly_cost': 'monthly_cost_display',\n  'annual_cost': 'annual_cost_display',\n  'error_rate': 'error_rate',\n  'rework_cost': 'rework_cost_display',\n  'frustration_type': 'frustration_type',\n  'tools_involved': 'tools_involved',\n  'decision_complexity': 'decision_complexity',\n  'freed_time_impact': 'freed_time_impact',\n  'automation_percentage': 'automation_percentage',\n  'automatable_steps': 'automatable_steps',\n  'human_required_steps': 'human_required_steps',\n  'remaining_human_work': 'remaining_human_work',\n  'solution_approach': 'solution_approach',\n  'key_integrations': 'key_integrations',\n  'trigger_event': 'trigger_event',\n  'exception_handling': 'exception_handling',\n  'time_savings_monthly': 'time_savings_monthly_display',\n  'cost_savings_monthly': 'cost_savings_monthly_display',\n  'cost_savings_annual': 'cost_savings_annual_display',\n  'payback_period': 'payback_period'\n};\n\nconst replacements = {};\nfor (const [placeholder, field] of Object.entries(fieldMap)) {\n  replacements[b(placeholder)] = r(field);\n}\nreplacements[b('booking_link_15min')] = 'https://calendly.com/atomi-agency/15min';\nreplacements[b('booking_link_strategy')] = 'https://calendly.com/atomi-agency/strategy';\n\nconst requests = Object.entries(replacements).map(([placeholder, value]) => ({\n  replaceAllText: {\n    containsText: {\n      text: placeholder,\n      matchCase: true\n    },\n    replaceText: value\n  }\n}));\n\nreturn [{\n  json: {\n    documentId,\n    requests,\n    report_url: 'https://docs.google.com/document/d/' + documentId + '/edit'\n  }\n}];"},"id":"cadbef21-bc67-48c5-9f6e-2e0b625bb450","name":"Build Replacements","type":"n8n-nodes-base.code","typeVersion":2,"position":[4768,0]},{"parameters":{"method":"POST","url":"={{ 'https://docs.googleapis.com/v1/documents/' + $json.documentId + ':batchUpdate' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ requests: $json.requests }) }}","options":{}},"id":"73d2f473-0a82-40c2-af2d-5c186a7ba45c","name":"Docs batchUpdate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5040,0]},{"parameters":{"url":"={{ 'https://docs.google.com/document/d/' + $('Build Replacements').first().json.documentId + '/export?format=pdf' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"45fb6900-4cc5-42b3-bc95-656ed6ee3090","name":"Export PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5328,0]},{"parameters":{"jsCode":"const d = $('Parse All AI Outputs').first().json;\nconst reportUrl = $('Build Replacements').first().json.report_url;\nconst inputBinary = $input.first().binary || {};\n\nconst emailHtml = `<p>Hi ${d.client_name},</p><p>Your AI Time Audit is complete. Please find your report attached.</p><p>Here is a quick summary:</p><ul><li>Process audited: ${d.process_name}</li><li>Current monthly cost: $${d.monthly_cost_display}</li><li>Estimated automation potential: ${d.automation_percentage}%</li><li>Projected monthly savings: $${d.cost_savings_monthly_display}</li></ul><p>The report includes three options for what to do next. If you would like to discuss the findings, the quickest way is to book a free 15-minute call:</p><p><a href=\"https://calendly.com/atomi-agency/15min\">Book a Call</a></p><p>Questions? Just reply to this email.</p><p>Jeremy<br>Atomi Agency</p>`;\n\nconst validStatus = d.validation_passed ? 'PASSED' : 'ISSUES: ' + (d.validation_issues || []).join(', ');\nconst teamsMsg = 'New AI Time Audit report ready for review.\\n\\nClient: ' + d.client_name + '\\nProcess: ' + d.process_name + '\\nAutomation: ' + d.automation_percentage + '%\\nMonthly savings: $' + d.cost_savings_monthly_display + '\\n\\nGoogle Doc: ' + reportUrl + '\\n\\nValidation: ' + validStatus + '\\n\\nAction required: Review draft email in Outlook, then send.';\n\nreturn [{\n  json: {\n    email_html: emailHtml,\n    email_subject: 'Your AI Time Audit Report is Ready - ' + d.client_name,\n    email_to: d.customer_email,\n    teams_message: teamsMsg,\n    intake_record_id: $('Create Intake Record').first().json.id,\n    automation_percentage: d.automation_percentage,\n    cost_savings_monthly: d.cost_savings_monthly,\n    report_url: reportUrl,\n    validation_issues: d.validation_issues || []\n  },\n  binary: inputBinary\n}];"},"id":"679cb750-fec6-48ab-ab74-c83da2df038f","name":"Prepare Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[5600,0]},{"parameters":{"resource":"draft","subject":"={{ $json.email_subject }}","bodyContent":"={{ $json.email_html }}","additionalFields":{"bodyContentType":"html","toRecipients":"={{ $json.email_to }}"}},"id":"08875729-2890-44c2-afd4-06dc2387e99e","name":"Outlook Create Draft","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[5888,0],"webhookId":"37663192-22de-41ee-8a15-26071d26f5f0"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblr4vdY1UtdP59O1","mode":"list","cachedResultName":"AI Time Audit Intake Form","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblr4vdY1UtdP59O1"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a35af034-c4d6-43e7-a389-72d817e6ea56","name":"Airtable Update Intake","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[6160,0]},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"message":"={{ $('Prepare Email').first().json.teams_message }}","options":{}},"id":"38f712c0-1c21-4cb9-8f0a-00f70dea58b5","name":"Teams DM Jeremy","type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[6448,0],"webhookId":"0c306a83-e1ff-42df-a3c2-42a9509a6d74"},{"parameters":{},"id":"2df9cca7-b6fa-4e1c-b84a-51988d09b829","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"message":"={{ 'AI Time Audit workflow FAILED.\\n\\nExecution ID: ' + $json.execution.id + '\\nError: ' + $json.execution.error.message + '\\n\\nAction: Check n8n execution log and re-run.' }}","options":{}},"id":"ee9e997d-2cc7-48fe-a177-03d200f89659","name":"Teams DM Error","type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[288,304],"webhookId":"feb43565-6ecc-46a6-9455-60b65c3d2601"},{"parameters":{"errorMessage":"Invalid intake data - missing required fields (email, process_name, or monthly_volume). Check Typeform submission."},"id":"0b3ecaf8-a7c6-4333-8928-43757c7ae860","name":"Stop Invalid Intake","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1408,304]}],"connections":{"Webhook":{"main":[[{"node":"Parse Typeform","type":"main","index":0}]]},"Parse Typeform":{"main":[[{"node":"Get Engagement","type":"main","index":0}]]},"Get Engagement":{"main":[[{"node":"Extract Company Name","type":"main","index":0}]]},"Extract Company Name":{"main":[[{"node":"Validate Intake","type":"main","index":0}]]},"Validate Intake":{"main":[[{"node":"Create Intake Record","type":"main","index":0}],[{"node":"Stop Invalid Intake","type":"main","index":0}]]},"Create Intake Record":{"main":[[{"node":"Calculate Metrics","type":"main","index":0}]]},"Calculate Metrics":{"main":[[{"node":"Build AI Message","type":"main","index":0}]]},"Build AI Message":{"main":[[{"node":"P1 Automation Pct","type":"main","index":0}]]},"P1 Automation Pct":{"main":[[{"node":"Validate Pct and Savings","type":"main","index":0}]]},"Validate Pct and Savings":{"main":[[{"node":"P2 Automatable Steps","type":"main","index":0}]]},"P2 Automatable Steps":{"main":[[{"node":"P3 Human Steps","type":"main","index":0}]]},"P3 Human Steps":{"main":[[{"node":"P4 Solution Approach","type":"main","index":0}]]},"P4 Solution Approach":{"main":[[{"node":"P5 Integrations Trigger","type":"main","index":0}]]},"P5 Integrations Trigger":{"main":[[{"node":"P6 Exception Handling","type":"main","index":0}]]},"P6 Exception Handling":{"main":[[{"node":"Parse All AI Outputs","type":"main","index":0}]]},"Parse All AI Outputs":{"main":[[{"node":"Copy Template","type":"main","index":0}]]},"Copy Template":{"main":[[{"node":"Build Replacements","type":"main","index":0}]]},"Build Replacements":{"main":[[{"node":"Docs batchUpdate","type":"main","index":0}]]},"Docs batchUpdate":{"main":[[{"node":"Export PDF","type":"main","index":0}]]},"Export PDF":{"main":[[{"node":"Prepare Email","type":"main","index":0}]]},"Prepare Email":{"main":[[{"node":"Outlook Create Draft","type":"main","index":0}]]},"Outlook Create Draft":{"main":[[{"node":"Airtable Update Intake","type":"main","index":0}]]},"Airtable Update Intake":{"main":[[{"node":"Teams DM Jeremy","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Teams DM Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.atomiagency.com","user-agent":"Typeform Webhooks","content-length":"11586","accept-encoding":"gzip","content-type":"application/json","traceparent":"00-edd4678c31d1ec8e9e3d38dc3b9f72d6-991852dcf472cd87-01","x-forwarded-for":"172.20.0.1","x-forwarded-host":"n8n.atomiagency.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b7893169eae3","x-real-ip":"172.20.0.1"},"params":{},"query":{},"body":{"event_id":"01KG4JBNBNJK3F8KQ00EMY7SQW","event_type":"form_response","form_response":{"form_id":"T8TNeHoJ","token":"9roab4utpm5manvs0m9roa6kpujhi82e","response_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e#responses","landed_at":"2026-01-29T09:41:31Z","submitted_at":"2026-01-29T09:46:40Z","hidden":{"email":"jeremy@atomiagency.com","first_name":"Jeremy","last_name":"Maidment","user_id":"recTWBEn0is4qua08","utm_source":"test"},"definition":{"id":"T8TNeHoJ","title":"My branded typeform","fields":[{"id":"CT6McQMxZF6U","ref":"8ef9d430-27a7-4d01-a8c6-8cc975d99147","type":"short_text","title":"What is the specific manual process we are auditing today?","properties":{}},{"id":"q3dxHdXuzarC","ref":"9188e3aa-afcc-41f3-93a5-bedf3b15fda7","type":"multiple_choice","title":"What is the biggest frustration with this process right now?","properties":{},"choices":[{"id":"JFRS7GwJAO7v","ref":"5c93f434-300f-4323-bed6-0c499d8ef784","label":"It takes too long and delays other work."},{"id":"esvhYFpuYQM0","ref":"fdd9a72b-77e7-4399-84e4-86e262ac95e6","label":"Errors happen too often and need fixing."},{"id":"y2Cwugm7jlkB","ref":"df2790a1-240a-4c57-b1d4-544a6bfa0845","label":"It’s a bottleneck stopping us from growing."},{"id":"Heubtob4ElEK","ref":"7c26f7d3-e33e-4e63-8379-e9b91712df9a","label":"The team is frustrated or burnt out from doing it."}]},{"id":"KajIvIVqMiYm","ref":"350d9faa-a484-4c7e-bec4-5a125a3295da","type":"short_text","title":"Roughly how many times is this task performed every month?","properties":{}},{"id":"aX4hUPs0FCMU","ref":"3d163126-6bad-4070-a27f-40c99fb1ede3","type":"multiple_choice","title":"How long does it take to complete *one* instance of this task?","properties":{},"choices":[{"id":"YwuRLzuvCpTK","ref":"37411fe5-7eee-4113-8f52-a2c38a970545","label":"5–15 minutes"},{"id":"no8tuV6wcfh0","ref":"647bde52-9213-4aec-b7f4-8664a9f33fb8","label":"15–30 minutes"},{"id":"c1GffGuRRUcP","ref":"3822a7e3-4cf2-45a0-aad6-b54d35962aa3","label":"30–60 minutes"},{"id":"5tkFC4EJIhif","ref":"25b9fb46-2862-4cbb-bc1f-863fabe1a8b4","label":"1–2 hours"},{"id":"VnAcSCH2oIGk","ref":"41315b38-e644-4d98-a441-2faa04932145","label":"2+ hours"}]},{"id":"R9VX682pSZej","ref":"95a2f724-ac93-4fcc-8332-368c9d315d98","type":"multiple_choice","title":"What is the approximate hourly cost of the person doing this work?","properties":{},"choices":[{"id":"wHhp94RnNm5j","ref":"2dd250de-1e52-4d67-b00d-a26d39e633cb","label":"$50-75/hr"},{"id":"e3v9SelWVJL7","ref":"48ae70c4-9c9b-454b-ae8c-b40882e83d59","label":"$75-100/hr"},{"id":"gtnVfDqwGPp5","ref":"24566722-f5d1-4729-98b3-d06fe597c87f","label":"$100-150/hr"},{"id":"nul3ulciImB2","ref":"c5c879ce-8404-4fd9-875a-13a2de79b910","label":"$150+/hr"},{"id":"i0psMSGluGdg","ref":"d1059089-95da-42c0-b8c1-0779f013ced2","label":"Not sure"}]},{"id":"4kEhvoROnY3o","ref":"7d2294c9-5307-43dd-a853-b8c5b76c3d54","type":"multiple_choice","title":"How often do mistakes happen that require manual fixing or re-entry?","properties":{},"choices":[{"id":"1cCuXoCDDVrN","ref":"b7feb77f-6807-4734-ae91-e9bf05d92930","label":"Rarely (under 2%)"},{"id":"Mj9MsfwiXFxW","ref":"1f51da24-9cb3-4f14-93eb-206b34daf6cb","label":"Occasionally (approx. 5%)"},{"id":"84X8aPnpnEKw","ref":"7c8e838e-9cab-40b0-b239-6b9b5cefa2c6","label":"Often (10% or more)"}]},{"id":"kbAIcPdHztPo","ref":"933a1fce-df17-4dda-8522-33d7588297a1","type":"multiple_choice","title":"Which tools are involved in this process? (Select all that apply)","properties":{},"allow_multiple_selections":true,"allow_other_choice":true,"choices":[{"id":"jFkGa0wuRczx","ref":"7678f170-66dc-42e4-b3ea-d2e98e8b7d5e","label":"Email (Gmail, Outlook)"},{"id":"6kpE0RJEjtnO","ref":"318a17ea-3a67-4829-b9a7-9a8cd1969488","label":"Spreadsheets (Excel, Google Sheets)"},{"id":"DVTVy7jadHXn","ref":"5bafd3de-c45d-49ad-a92a-7a387a61c1c7","label":"Accounting (Xero, QuickBooks, MYOB)"},{"id":"9PBbAIta3dmN","ref":"2b7f171e-06f7-40c6-a3c6-0e9034325858","label":"CRM (Salesforce, HubSpot, Dynamics)"},{"id":"vnTGvQoMpA9p","ref":"68d064f7-1ae9-42e1-9561-4857c31d892a","label":"Documents (PDFs, Images, Word)"},{"id":"ezO4gzhGU6PC","ref":"748f5bdb-ab75-4313-8645-adb227b51213","label":"Other Web Portals or Legacy Apps."}]},{"id":"6d6XTIFLGUIY","ref":"4c888487-3154-4f2f-b1cb-48185adf1af1","type":"multiple_choice","title":"How much \"thinking\" is required to do this task?","properties":{},"choices":[{"id":"pY4Rk3Z6Phas","ref":"5ea206b6-94bf-4f97-875f-8ba29eef59dd","label":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah)."},{"id":"dL77OOeLtOrF","ref":"cf17ee66-0f9c-4eb8-b53b-e0b0b7ac54bc","label":"Judgment Calls: \"Read the email and decide which department handles it.\""},{"id":"BMExz7TI2fAc","ref":"34f18855-7f1a-4aef-b5ce-d7c8c42ac428","label":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\""}]},{"id":"L91EafOtXG38","ref":"247f8121-15ea-45b2-a558-3f49fa138dba","type":"long_text","title":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","properties":{}},{"id":"5lhZXO1EBKnS","ref":"e2afee63-c746-44c7-ba95-e1b20fd9422f","type":"long_text","title":"If we freed up this time for your team, what high-value work would they do instead?","properties":{}},{"id":"GGJqfpf5b8HM","ref":"d99c3311-f7a0-4df3-9a82-048a10c82750","type":"multiple_choice","title":"How urgently do you need to solve this?","properties":{},"choices":[{"id":"ZGmU6ZxjHj8x","ref":"50387307-d126-465a-92e9-fe590cb727ac","label":"It's painful, but we can cope for now."},{"id":"HLQ0A9UZmxBu","ref":"894c2b18-6719-4782-8a33-5803db63f738","label":"It's actively blocking our growth or costing us money."},{"id":"pyHxgg7xstcZ","ref":"87ee96e9-bbf4-4f3b-8982-761f0af23fa8","label":"This is a top-3 priority for this quarter."}]},{"id":"qibFXQ2IoDxE","ref":"38c6f403-2ff8-4db3-89cb-5b7c8dd2bf4c","type":"multiple_choice","title":"If the audit shows a clear ROI, who makes the decision to move forward?","properties":{},"choices":[{"id":"nGflOM9p5IKY","ref":"400ee8a7-d9ef-40c2-9973-c2b6c783fad1","label":"I can approve this myself."},{"id":"5v7FNk5pBwWV","ref":"38cceded-1f72-4eab-8236-79edf4e2a811","label":"I need to get leadership buy-in."},{"id":"g6UvT4DvrA3D","ref":"81a0d0d2-d30a-4c5e-87c6-7dcf694e6ef6","label":"We would need board or executive level approval."}]}],"endings":[{"id":"exIxOrkU08YW","ref":"fd397204-e065-47d8-b853-0e7767e54a4d","title":"Got it, {{hidden:first_name}}. Thanks for taking the time to be thorough.","type":"thankyou_screen","properties":{"description":"We're building your report now. You'll get a 3-page PDF outlining the cost, the biggest opportunity, and a clear next-step roadmap. Look for it in your inbox within 2 business days.\n\nWhen you get it, take a look and let's talk about what comes next. We're here to partner on this, not just had you a report and disappear.","button_text":"Create a typeform","show_button":true,"share_icons":true,"button_mode":"default_redirect"}}],"settings":{"partial_responses_to_all_integrations":true}},"answers":[{"type":"text","text":"Monthly client invoicing is taking too long","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=CT6McQMxZF6U#responses","field":{"id":"CT6McQMxZF6U","type":"short_text","ref":"8ef9d430-27a7-4d01-a8c6-8cc975d99147"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=q3dxHdXuzarC#responses","choice":{"id":"Heubtob4ElEK","label":"The team is frustrated or burnt out from doing it.","ref":"7c26f7d3-e33e-4e63-8379-e9b91712df9a"},"field":{"id":"q3dxHdXuzarC","type":"multiple_choice","ref":"9188e3aa-afcc-41f3-93a5-bedf3b15fda7"}},{"type":"text","text":"we send at least 80-100 invoices per month","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=KajIvIVqMiYm#responses","field":{"id":"KajIvIVqMiYm","type":"short_text","ref":"350d9faa-a484-4c7e-bec4-5a125a3295da"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=aX4hUPs0FCMU#responses","choice":{"id":"YwuRLzuvCpTK","label":"5–15 minutes","ref":"37411fe5-7eee-4113-8f52-a2c38a970545"},"field":{"id":"aX4hUPs0FCMU","type":"multiple_choice","ref":"3d163126-6bad-4070-a27f-40c99fb1ede3"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=R9VX682pSZej#responses","choice":{"id":"gtnVfDqwGPp5","label":"$100-150/hr","ref":"24566722-f5d1-4729-98b3-d06fe597c87f"},"field":{"id":"R9VX682pSZej","type":"multiple_choice","ref":"95a2f724-ac93-4fcc-8332-368c9d315d98"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=4kEhvoROnY3o#responses","choice":{"id":"Mj9MsfwiXFxW","label":"Occasionally (approx. 5%)","ref":"1f51da24-9cb3-4f14-93eb-206b34daf6cb"},"field":{"id":"4kEhvoROnY3o","type":"multiple_choice","ref":"7d2294c9-5307-43dd-a853-b8c5b76c3d54"}},{"type":"choices","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=kbAIcPdHztPo#responses","choices":{"ids":["DVTVy7jadHXn","6kpE0RJEjtnO"],"labels":["Accounting (Xero, QuickBooks, MYOB)","Spreadsheets (Excel, Google Sheets)"],"refs":["5bafd3de-c45d-49ad-a92a-7a387a61c1c7","318a17ea-3a67-4829-b9a7-9a8cd1969488"]},"field":{"id":"kbAIcPdHztPo","type":"multiple_choice","ref":"933a1fce-df17-4dda-8522-33d7588297a1"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=6d6XTIFLGUIY#responses","choice":{"id":"dL77OOeLtOrF","label":"Judgment Calls: \"Read the email and decide which department handles it.\"","ref":"cf17ee66-0f9c-4eb8-b53b-e0b0b7ac54bc"},"field":{"id":"6d6XTIFLGUIY","type":"multiple_choice","ref":"4c888487-3154-4f2f-b1cb-48185adf1af1"}},{"type":"text","text":"I could submit jobs and then they would populate Xero and draft the invoice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=L91EafOtXG38#responses","field":{"id":"L91EafOtXG38","type":"long_text","ref":"247f8121-15ea-45b2-a558-3f49fa138dba"}},{"type":"text","text":"Following up on new work and setting up the next day for the crew","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=5lhZXO1EBKnS#responses","field":{"id":"5lhZXO1EBKnS","type":"long_text","ref":"e2afee63-c746-44c7-ba95-e1b20fd9422f"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=GGJqfpf5b8HM#responses","choice":{"id":"HLQ0A9UZmxBu","label":"It's actively blocking our growth or costing us money.","ref":"894c2b18-6719-4782-8a33-5803db63f738"},"field":{"id":"GGJqfpf5b8HM","type":"multiple_choice","ref":"d99c3311-f7a0-4df3-9a82-048a10c82750"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=qibFXQ2IoDxE#responses","choice":{"id":"nGflOM9p5IKY","label":"I can approve this myself.","ref":"400ee8a7-d9ef-40c2-9973-c2b6c783fad1"},"field":{"id":"qibFXQ2IoDxE","type":"multiple_choice","ref":"38c6f403-2ff8-4db3-89cb-5b7c8dd2bf4c"}}],"ending":{"id":"exIxOrkU08YW","ref":"fd397204-e065-47d8-b853-0e7767e54a4d"}}},"webhookUrl":"https://n8n.atomiagency.com/webhook/55efb4c9-1a72-4f30-97fa-ba1a0e6186b8","executionMode":"production"}}]},"versionId":"365d0930-6237-429e-bda9-e3849103fdc1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T23:55:10.506Z","createdAt":"2026-04-16T23:55:10.506Z","role":"workflow:owner","workflowId":"p6Q0PLcyyBs0TUBy","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":null,"tags":[]}