workflows/Kw_aPfatpYizVtkRZNuRS.json
{"updatedAt":"2026-02-02T05:30:31.778Z","createdAt":"2026-02-02T05:17:17.582Z","id":"Kw_aPfatpYizVtkRZNuRS","name":"Konqa CRM Updater","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblBv4op1JA5WgsDa","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblBv4op1JA5WgsDa"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now }}","Message":"=Bot: {{ $('Message Updater Webhook').item.json.body.chatOutput }}\n","Role":"Bot","Session ID":"={{ $('Message Updater Webhook').item.json.body.sessionId }}","Chat Sessions":"={{ [$json.id] }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Bot","value":"Bot"},{"name":"User","value":"User"}],"readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,704],"id":"5d7fbf87-d165-4880-af59-bf6613f4ab3d","name":"Update Transcript - Bot","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblBv4op1JA5WgsDa","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblBv4op1JA5WgsDa"},"columns":{"mappingMode":"defineBelow","value":{"Session ID":"={{ $('Message Updater Webhook').item.json.body.sessionId }}","Timestamp":"={{ $now }}","Message":"=User: {{ $('Message Updater Webhook').item.json.body.chatInput }}\n","Role":"User","Chat Sessions":"={{ [$json.id] }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Bot","value":"Bot"},{"name":"User","value":"User"}],"readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,512],"id":"26a0d427-6372-4449-888a-2fb92a376cff","name":"Update Transcript - User","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const {\n  customer_name,\n  customer_email,\n  customer_phone,\n  club_name,\n  quantity,\n  timeline,\n  agent_summary,\n  source,\n  sessionId\n} = $json.body;\n\nconst nameParts = (customer_name || '').trim().split(' ');\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\nreturn {\n  contact: {\n    email: customer_email || '',\n    firstName: firstName,\n    lastName: lastName,\n    phone: customer_phone || ''\n  },\n  club: {\n    name: (club_name || '').trim()\n  },\n  inquiry: {\n    name: `${club_name} - ${new Date().toISOString().split('T')[0]}`,\n    quantity: quantity || '',\n    timeline: timeline || '',\n    source: source || 'Website Chatbot',\n    sessionId: sessionId || '',\n    agent_summary: agent_summary || ''\n  },\n  raw: $json.body\n};"},"id":"4866adc9-317d-4300-bad2-7d21c5a477c1","name":"Parse Inquiry Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,144]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts"},"filterByFormula":"={Email} = '{{ $('Parse Inquiry Data').item.json.contact.email }}'","options":{}},"id":"fac4b4f2-d411-4230-8ea1-e4a1d4e009d6","name":"Search Contact","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-672,144],"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists"},"id":"80cab436-4987-4119-b014-e33ec5b58a16"}],"combinator":"and"},"options":{}},"id":"738ae926-5c0d-499e-af67-17a5eed9e843","name":"Contact Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,144]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $('Parse Inquiry Data').item.json.contact.firstName }}","Last Name":"={{ $('Parse Inquiry Data').item.json.contact.lastName }}","Email":"={{ $('Parse Inquiry Data').item.json.contact.email }}","Phone Number":"={{ $('Parse Inquiry Data').item.json.contact.phone }}","Source":"Website Chatbot","Captured by Atomi":"Yes","Associated Club":"={{ [$('Set Club ID').item.json.id] }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Associated Club","displayName":"Associated Club","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Deals","displayName":"Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Inquiries","displayName":"Total Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Deals","displayName":"Total Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Inquiry Date","displayName":"Last Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Deal Value","displayName":"Total Deal Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Expo","value":"Expo"},{"name":"Referral","value":"Referral"},{"name":"Manual","value":"Manual"}],"readOnly":false,"removed":false},{"id":"Captured by Atomi","displayName":"Captured by Atomi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4cd4102f-54f1-448d-aeef-803303c82e8d","name":"Create Contact","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,288],"retryOnFail":true,"maxTries":2,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs"},"filterByFormula":"={Club Name} = '{{ $('Parse Inquiry Data').item.json.club.name }}'","options":{}},"id":"4b47414a-33ef-41ec-a449-a74636fd6f37","name":"Search Club","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,144],"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists"},"id":"3a4fb613-afcd-449d-881c-76418b7bc576"}],"combinator":"and"},"options":{}},"id":"0e469fca-13b2-4100-beea-ae2265494304","name":"Club Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1344,144]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs"},"columns":{"mappingMode":"defineBelow","value":{"Club Name":"={{ $('Parse Inquiry Data').item.json.club.name }}","Lead Source":"Atomi Agency Systems","Status":"Prospect","Sport Type":"Soccer"},"matchingColumns":[],"schema":[{"id":"Club Name","displayName":"Club Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sport Type","displayName":"Sport Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Soccer","value":"Soccer"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Prospect","value":"Prospect"},{"name":"Active","value":"Active"},{"name":"Inactive","value":"Inactive"}],"readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Contacts","displayName":"Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Number of Contacts","displayName":"Number of Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Atomi Agency Systems","value":"Atomi Agency Systems"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c78dfa06-d983-45e7-a4c9-046618ef562d","name":"Create Club","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1120,208],"retryOnFail":true,"maxTries":2,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"columns":{"mappingMode":"defineBelow","value":{"Session ID":"={{ $json.body.sessionId }}","Started At":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiry","displayName":"Inquiry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Started At","displayName":"Started At","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Transcripts","displayName":"Transcripts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Message (from Transcript)","displayName":"Message (from Transcript)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-720,592],"id":"76425659-e060-4768-b57e-5491116f6935","name":"Create Chat Session","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"filterByFormula":"={Session ID} = '{{ $json.body.sessionId }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,608],"id":"9933ca7a-3dfb-4493-9902-6041edf1a959","name":"Search Chat Session","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"bcbea92c-a966-40b8-89f1-91c4a73256ac","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,592],"id":"f0afc74a-87de-4350-a79d-f79fd562a985","name":"Create Chat Webhook","webhookId":"bcbea92c-a966-40b8-89f1-91c4a73256ac","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"ab03bf02-a1bd-45e4-a17b-aea4f42ff393","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,608],"id":"a15d616e-2347-477a-afe4-d21d0a15d500","name":"Message Updater Webhook","webhookId":"ab03bf02-a1bd-45e4-a17b-aea4f42ff393","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"d2819883-a8d9-4c80-ae52-7d6559c0530e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,144],"id":"98586454-d07e-4cce-ae5f-20d9562115e1","name":"CRM Update Webhook","webhookId":"d2819883-a8d9-4c80-ae52-7d6559c0530e","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fc581efa-1d4f-4afe-ae9d-b2415fb6a75b","name":"id","value":"={{ $('Search Club').item.json.id }}","type":"string"},{"id":"cc8d9546-35f4-4713-aa44-6480b7b64822","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,144],"id":"3b1f092f-c36e-47ce-a8dc-1deef4753378","name":"Set Club ID"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2590f664-ac3a-45b9-a0ce-c46de543d4cd","leftValue":"={{ $json['Associated Club'] }}","rightValue":"","operator":{"type":"array","operation":"notExists"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,64],"id":"de8bb474-fb71-4ea2-9cae-e3e933eadc84","name":"If"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblkNHg3OqkY80LLo"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Search Contact').item.json.id }}","Associated Club":"={{ [$('Set Club ID').item.json.id] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Associated Club","displayName":"Associated Club","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Deals","displayName":"Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Inquiries","displayName":"Total Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deals","displayName":"Total Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Inquiry Date","displayName":"Last Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deal Value","displayName":"Total Deal Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Expo","value":"Expo"},{"name":"Referral","value":"Referral"},{"name":"Manual","value":"Manual"}],"readOnly":false,"removed":true},{"id":"Captured by Atomi","displayName":"Captured by Atomi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"d049befa-7da3-432e-bc10-7bbb82b5bb18","name":"Update record1","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"filterByFormula":"={Session ID} = '{{ $('Parse Inquiry Data').item.json.inquiry.sessionId }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,144],"id":"3e344d3c-2a3e-47fe-a5c8-989554ce1b4e","name":"Search Chat Session2","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tbligvK9InwpNpQBy","mode":"list","cachedResultName":"Inquiries","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tbligvK9InwpNpQBy"},"columns":{"mappingMode":"defineBelow","value":{"Inquiry TItle":"={{ $('Parse Inquiry Data').item.json.inquiry.name }}","Source":"Website Chatbot","Clubs":"={{ [$('Set Club ID').item.json.id] }}","Contact":"={{ [$('Set Contact ID').item.json.id] }}","Estimated Quantity":"={{ $('Parse Inquiry Data').item.json.inquiry.quantity }}","Timeline":"={{ $('Parse Inquiry Data').item.json.raw.timeline }}","Status":"New","Chat Sessions":"={{ [$json.id] }}","Chat Summary":"={{ $('Parse Inquiry Data').item.json.inquiry.agent_summary }}"},"matchingColumns":[],"schema":[{"id":"Inquiry TItle","displayName":"Inquiry TItle","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiry Date","displayName":"Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Referral","value":"Referral"},{"name":"Email","value":"Email"},{"name":"Event","value":"Event"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Clubs","displayName":"Clubs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Chat Summary","displayName":"Chat Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Days Since Inquiry","displayName":"Days Since Inquiry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Estimated Quantity","displayName":"Estimated Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timeline","displayName":"Timeline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Qualified","value":"Qualified"},{"name":"Meeting Booked","value":"Meeting Booked"},{"name":"Quote Sent","value":"Quote Sent"},{"name":"Won","value":"Won"},{"name":"Lost","value":"Lost"}],"readOnly":false,"removed":false},{"id":"Meeting Date/Time","displayName":"Meeting Date/Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Design Notes","displayName":"Design Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Pricing Notes","displayName":"Pricing Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Next Steps","displayName":"Next Steps","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[672,144],"id":"c225618f-c2d1-4bcc-893b-9114682d9161","name":"Create a record","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable - Konqa CRM"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b0d5ab99-766c-4dfb-8dd4-6f13f43e8b03","name":"id","value":"={{ $('Search Contact').item.json.id }}","type":"string"},{"id":"04401a5f-c15f-43b5-b6bb-66d330f9ec13","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"893fedc7-0e49-47fa-b66f-48b8fffc5fd6","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,144],"id":"514b8979-bf25-4ca2-adc5-dc00510b6f7c","name":"Set Contact ID"}],"connections":{"Parse Inquiry Data":{"main":[[{"node":"Search Club","type":"main","index":0}]]},"Search Contact":{"main":[[{"node":"Contact Exists?","type":"main","index":0}]]},"Contact Exists?":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Create Contact","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Set Contact ID","type":"main","index":0}]]},"Search Club":{"main":[[{"node":"Club Exists?","type":"main","index":0}]]},"Club Exists?":{"main":[[{"node":"Set Club ID","type":"main","index":0}],[{"node":"Create Club","type":"main","index":0}]]},"Create Club":{"main":[[{"node":"Set Club ID","type":"main","index":0}]]},"Search Chat Session":{"main":[[{"node":"Update Transcript - User","type":"main","index":0},{"node":"Update Transcript - Bot","type":"main","index":0}]]},"Create Chat Webhook":{"main":[[{"node":"Create Chat Session","type":"main","index":0}]]},"Message Updater Webhook":{"main":[[{"node":"Search Chat Session","type":"main","index":0}]]},"CRM Update Webhook":{"main":[[{"node":"Parse Inquiry Data","type":"main","index":0}]]},"Set Club ID":{"main":[[{"node":"Search Contact","type":"main","index":0}]]},"If":{"main":[[{"node":"Update record1","type":"main","index":0}],[{"node":"Set Contact ID","type":"main","index":0}]]},"Update record1":{"main":[[{"node":"Set Contact ID","type":"main","index":0}]]},"Search Chat Session2":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Set Contact ID":{"main":[[{"node":"Search Chat Session2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Message Updater Webhook":[{"json":{"headers":{"host":"n8n.atomiagency.com","user-agent":"axios/1.12.0","content-length":"198","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.19.0.1","x-forwarded-host":"n8n.atomiagency.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fe395f246158","x-real-ip":"172.19.0.1"},"params":{},"query":{},"body":{"sessionId":"981f4eb8dc8a4cbab9ae3c486beb745a","chatInput":"d","chatOutput":"Hi there! Thanks for reaching out to Konqa. How can I help you today – are you looking for custom kit for your club?"},"webhookUrl":"https://n8n.atomiagency.com/webhook/ab03bf02-a1bd-45e4-a17b-aea4f42ff393","executionMode":"production"}}],"CRM Update Webhook":[{"json":{"headers":{"host":"n8n.atomiagency.com","user-agent":"axios/1.12.0","content-length":"435","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.20.0.1","x-forwarded-host":"n8n.atomiagency.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b7893169eae3","x-real-ip":"172.20.0.1"},"params":{},"query":{},"body":{"customer_name":"Jeremy Maidment","customer_email":"jeremy@atomiagency.com","customer_phone":"0413647484","club_name":"Atomi FC","quantity":"12 teams (roughly 180-240 players)","timeline":"Kit needed by April","agent_summary":"Customer enquiry for 12 teams at Atomi FC. Kit needed by April. Callback requested for next business day within 2 hours. Phone: 0413647484","source":"Chat","sessionId":"d5be48a8-8e4a-46e1-9d03-8d5dc4b093a5"},"webhookUrl":"https://n8n.atomiagency.com/webhook/d2819883-a8d9-4c80-ae52-7d6559c0530e","executionMode":"production"}}]},"versionId":"11b1f0fc-ced1-454d-8ef8-3d71d9da15c4","activeVersionId":"08e23306-0763-4d50-b71a-daeb379d5d2f","triggerCount":3,"shared":[{"updatedAt":"2026-02-02T05:17:17.584Z","createdAt":"2026-02-02T05:17:17.584Z","role":"workflow:owner","workflowId":"Kw_aPfatpYizVtkRZNuRS","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":{"updatedAt":"2026-02-02T05:19:50.000Z","createdAt":"2026-02-02T05:17:48.181Z","versionId":"08e23306-0763-4d50-b71a-daeb379d5d2f","workflowId":"Kw_aPfatpYizVtkRZNuRS","nodes":[{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblBv4op1JA5WgsDa","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblBv4op1JA5WgsDa"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now }}","Message":"=Bot: {{ $('Message Updater Webhook').item.json.body.chatOutput }}\n","Role":"Bot","Session ID":"={{ $('Message Updater Webhook').item.json.body.sessionId }}","Chat Sessions":"={{ [$json.id] }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Bot","value":"Bot"},{"name":"User","value":"User"}],"readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,704],"id":"5d7fbf87-d165-4880-af59-bf6613f4ab3d","name":"Update Transcript - Bot","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblBv4op1JA5WgsDa","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblBv4op1JA5WgsDa"},"columns":{"mappingMode":"defineBelow","value":{"Session ID":"={{ $('Message Updater Webhook').item.json.body.sessionId }}","Timestamp":"={{ $now }}","Message":"=User: {{ $('Message Updater Webhook').item.json.body.chatInput }}\n","Role":"User","Chat Sessions":"={{ [$json.id] }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Bot","value":"Bot"},{"name":"User","value":"User"}],"readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,512],"id":"26a0d427-6372-4449-888a-2fb92a376cff","name":"Update Transcript - User","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const {\n  customer_name,\n  customer_email,\n  customer_phone,\n  club_name,\n  quantity,\n  timeline,\n  agent_summary,\n  source,\n  sessionId\n} = $json.body;\n\nconst nameParts = (customer_name || '').trim().split(' ');\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\nreturn {\n  contact: {\n    email: customer_email || '',\n    firstName: firstName,\n    lastName: lastName,\n    phone: customer_phone || ''\n  },\n  club: {\n    name: (club_name || '').trim()\n  },\n  inquiry: {\n    name: `${club_name} - ${new Date().toISOString().split('T')[0]}`,\n    quantity: quantity || '',\n    timeline: timeline || '',\n    source: source || 'Website Chatbot',\n    sessionId: sessionId || '',\n    agent_summary: agent_summary || ''\n  },\n  raw: $json.body\n};"},"id":"4866adc9-317d-4300-bad2-7d21c5a477c1","name":"Parse Inquiry Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,144]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts"},"filterByFormula":"={Email} = '{{ $('Parse Inquiry Data').item.json.contact.email }}'","options":{}},"id":"fac4b4f2-d411-4230-8ea1-e4a1d4e009d6","name":"Search Contact","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-672,144],"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists"},"id":"80cab436-4987-4119-b014-e33ec5b58a16"}],"combinator":"and"},"options":{}},"id":"738ae926-5c0d-499e-af67-17a5eed9e843","name":"Contact Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,144]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $('Parse Inquiry Data').item.json.contact.firstName }}","Last Name":"={{ $('Parse Inquiry Data').item.json.contact.lastName }}","Email":"={{ $('Parse Inquiry Data').item.json.contact.email }}","Phone Number":"={{ $('Parse Inquiry Data').item.json.contact.phone }}","Source":"Website Chatbot","Captured by Atomi":"Yes","Associated Club":"={{ [$('Set Club ID').item.json.id] }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Associated Club","displayName":"Associated Club","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Deals","displayName":"Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Inquiries","displayName":"Total Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Deals","displayName":"Total Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Inquiry Date","displayName":"Last Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Total Deal Value","displayName":"Total Deal Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Expo","value":"Expo"},{"name":"Referral","value":"Referral"},{"name":"Manual","value":"Manual"}],"readOnly":false,"removed":false},{"id":"Captured by Atomi","displayName":"Captured by Atomi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4cd4102f-54f1-448d-aeef-803303c82e8d","name":"Create Contact","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,288],"retryOnFail":true,"maxTries":2,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs"},"filterByFormula":"={Club Name} = '{{ $('Parse Inquiry Data').item.json.club.name }}'","options":{}},"id":"4b47414a-33ef-41ec-a449-a74636fd6f37","name":"Search Club","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,144],"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists"},"id":"3a4fb613-afcd-449d-881c-76418b7bc576"}],"combinator":"and"},"options":{}},"id":"0e469fca-13b2-4100-beea-ae2265494304","name":"Club Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1344,144]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management"},"table":{"__rl":true,"value":"tbl6B97GSpTlg3MnX","mode":"list","cachedResultName":"Clubs"},"columns":{"mappingMode":"defineBelow","value":{"Club Name":"={{ $('Parse Inquiry Data').item.json.club.name }}","Lead Source":"Atomi Agency Systems","Status":"Prospect","Sport Type":"Soccer"},"matchingColumns":[],"schema":[{"id":"Club Name","displayName":"Club Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sport Type","displayName":"Sport Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Soccer","value":"Soccer"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Prospect","value":"Prospect"},{"name":"Active","value":"Active"},{"name":"Inactive","value":"Inactive"}],"readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Contacts","displayName":"Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Number of Contacts","displayName":"Number of Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Atomi Agency Systems","value":"Atomi Agency Systems"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c78dfa06-d983-45e7-a4c9-046618ef562d","name":"Create Club","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1120,208],"retryOnFail":true,"maxTries":2,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"columns":{"mappingMode":"defineBelow","value":{"Session ID":"={{ $json.body.sessionId }}","Started At":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Session ID","displayName":"Session ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiry","displayName":"Inquiry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Started At","displayName":"Started At","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Transcripts","displayName":"Transcripts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Message (from Transcript)","displayName":"Message (from Transcript)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-720,592],"id":"76425659-e060-4768-b57e-5491116f6935","name":"Create Chat Session","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"filterByFormula":"={Session ID} = '{{ $json.body.sessionId }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,608],"id":"9933ca7a-3dfb-4493-9902-6041edf1a959","name":"Search Chat Session","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"bcbea92c-a966-40b8-89f1-91c4a73256ac","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,592],"id":"f0afc74a-87de-4350-a79d-f79fd562a985","name":"Create Chat Webhook","webhookId":"bcbea92c-a966-40b8-89f1-91c4a73256ac","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"ab03bf02-a1bd-45e4-a17b-aea4f42ff393","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,608],"id":"a15d616e-2347-477a-afe4-d21d0a15d500","name":"Message Updater Webhook","webhookId":"ab03bf02-a1bd-45e4-a17b-aea4f42ff393","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"d2819883-a8d9-4c80-ae52-7d6559c0530e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,144],"id":"98586454-d07e-4cce-ae5f-20d9562115e1","name":"CRM Update Webhook","webhookId":"d2819883-a8d9-4c80-ae52-7d6559c0530e","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fc581efa-1d4f-4afe-ae9d-b2415fb6a75b","name":"id","value":"={{ $('Search Club').item.json.id }}","type":"string"},{"id":"cc8d9546-35f4-4713-aa44-6480b7b64822","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,144],"id":"3b1f092f-c36e-47ce-a8dc-1deef4753378","name":"Set Club ID"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2590f664-ac3a-45b9-a0ce-c46de543d4cd","leftValue":"={{ $json['Associated Club'] }}","rightValue":"","operator":{"type":"array","operation":"notExists"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,64],"id":"de8bb474-fb71-4ea2-9cae-e3e933eadc84","name":"If"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblkNHg3OqkY80LLo","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblkNHg3OqkY80LLo"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Search Contact').item.json.id }}","Associated Club":"={{ [$('Set Club ID').item.json.id] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Associated Club","displayName":"Associated Club","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Inquiries","displayName":"Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Deals","displayName":"Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Inquiries","displayName":"Total Inquiries","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deals","displayName":"Total Deals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Inquiry Date","displayName":"Last Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Total Deal Value","displayName":"Total Deal Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Expo","value":"Expo"},{"name":"Referral","value":"Referral"},{"name":"Manual","value":"Manual"}],"readOnly":false,"removed":true},{"id":"Captured by Atomi","displayName":"Captured by Atomi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"d049befa-7da3-432e-bc10-7bbb82b5bb18","name":"Update record1","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tblNXD8FNuxONXdeB","mode":"list","cachedResultName":"Chat Sessions","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tblNXD8FNuxONXdeB"},"filterByFormula":"={Session ID} = '{{ $('Parse Inquiry Data').item.json.inquiry.sessionId }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,144],"id":"3e344d3c-2a3e-47fe-a5c8-989554ce1b4e","name":"Search Chat Session2","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app11lQkX3SKeaFbC","mode":"list","cachedResultName":"CRM Management","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC"},"table":{"__rl":true,"value":"tbligvK9InwpNpQBy","mode":"list","cachedResultName":"Inquiries","cachedResultUrl":"https://airtable.com/app11lQkX3SKeaFbC/tbligvK9InwpNpQBy"},"columns":{"mappingMode":"defineBelow","value":{"Inquiry TItle":"={{ $('Parse Inquiry Data').item.json.inquiry.name }}","Source":"Website Chatbot","Clubs":"={{ [$('Set Club ID').item.json.id] }}","Contact":"={{ [$('Set Contact ID').item.json.id] }}","Estimated Quantity":"={{ $('Parse Inquiry Data').item.json.inquiry.quantity }}","Timeline":"={{ $('Parse Inquiry Data').item.json.raw.timeline }}","Status":"New","Chat Sessions":"={{ [$json.id] }}","Chat Summary":"={{ $('Parse Inquiry Data').item.json.inquiry.agent_summary }}"},"matchingColumns":[],"schema":[{"id":"Inquiry TItle","displayName":"Inquiry TItle","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inquiry Date","displayName":"Inquiry Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Website Chatbot","value":"Website Chatbot"},{"name":"Referral","value":"Referral"},{"name":"Email","value":"Email"},{"name":"Event","value":"Event"},{"name":"Other","value":"Other"}],"readOnly":false,"removed":false},{"id":"Clubs","displayName":"Clubs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Chat Summary","displayName":"Chat Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Days Since Inquiry","displayName":"Days Since Inquiry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Estimated Quantity","displayName":"Estimated Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Timeline","displayName":"Timeline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Qualified","value":"Qualified"},{"name":"Meeting Booked","value":"Meeting Booked"},{"name":"Quote Sent","value":"Quote Sent"},{"name":"Won","value":"Won"},{"name":"Lost","value":"Lost"}],"readOnly":false,"removed":false},{"id":"Meeting Date/Time","displayName":"Meeting Date/Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Design Notes","displayName":"Design Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Pricing Notes","displayName":"Pricing Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Next Steps","displayName":"Next Steps","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Chat Sessions","displayName":"Chat Sessions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[672,144],"id":"c225618f-c2d1-4bcc-893b-9114682d9161","name":"Create a record","credentials":{"airtableTokenApi":{"id":"hd83UvDHyc4Q0bgS","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b0d5ab99-766c-4dfb-8dd4-6f13f43e8b03","name":"id","value":"={{ $('Search Contact').item.json.id }}","type":"string"},{"id":"04401a5f-c15f-43b5-b6bb-66d330f9ec13","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"893fedc7-0e49-47fa-b66f-48b8fffc5fd6","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,144],"id":"514b8979-bf25-4ca2-adc5-dc00510b6f7c","name":"Set Contact ID"}],"connections":{"Parse Inquiry Data":{"main":[[{"node":"Search Club","type":"main","index":0}]]},"Search Contact":{"main":[[{"node":"Contact Exists?","type":"main","index":0}]]},"Contact Exists?":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Create Contact","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Set Contact ID","type":"main","index":0}]]},"Search Club":{"main":[[{"node":"Club Exists?","type":"main","index":0}]]},"Club Exists?":{"main":[[{"node":"Set Club ID","type":"main","index":0}],[{"node":"Create Club","type":"main","index":0}]]},"Create Club":{"main":[[{"node":"Set Club ID","type":"main","index":0}]]},"Search Chat Session":{"main":[[{"node":"Update Transcript - User","type":"main","index":0},{"node":"Update Transcript - Bot","type":"main","index":0}]]},"Create Chat Webhook":{"main":[[{"node":"Create Chat Session","type":"main","index":0}]]},"Message Updater Webhook":{"main":[[{"node":"Search Chat Session","type":"main","index":0}]]},"CRM Update Webhook":{"main":[[{"node":"Parse Inquiry Data","type":"main","index":0}]]},"Set Club ID":{"main":[[{"node":"Search Contact","type":"main","index":0}]]},"If":{"main":[[{"node":"Update record1","type":"main","index":0}],[{"node":"Set Contact ID","type":"main","index":0}]]},"Update record1":{"main":[[{"node":"Set Contact ID","type":"main","index":0}]]},"Search Chat Session2":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Set Contact ID":{"main":[[{"node":"Search Chat Session2","type":"main","index":0}]]}},"authors":"Jeremy Maidment","name":"Version 08e23306","description":"","autosaved":true},"tags":[{"updatedAt":"2025-12-08T03:25:09.564Z","createdAt":"2025-12-08T03:25:09.564Z","id":"s7sRA6pXEL4mRaco","name":"Konqa"}]}