workflows/n8n----GitHub-Backup.json
{"updatedAt":"2026-04-17T00:36:42.569Z","createdAt":"2026-04-17T00:26:41.804Z","id":"NptlZ8uJ7Ju90vQU","name":"n8n -> GitHub Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4ec29d82-dc5a-4b97-a568-9b3cc498bad9","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[176,0],"id":"d36b5681-376e-4a42-9a7e-bc08de40e062","name":"Get many workflows","credentials":{"n8nApi":{"id":"p0vHrkwU2PgQabIv","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cafc7eed-5b09-4806-9194-57abdbdb3c44","name":"filePath","value":"=workflows/{{ $json.name.replace(/[^a-zA-Z0-9]/g, '-') }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,0],"id":"abb015bd-6cd1-45d5-83f6-34486a89eb31","name":"Edit Fields"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8b9d1c0-b2f6-4184-b187-6d5498ec744f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-17T00:26:41.806Z","createdAt":"2026-04-17T00:26:41.806Z","role":"workflow:owner","workflowId":"NptlZ8uJ7Ju90vQU","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":null,"tags":[]}