workflows/NptlZ8uJ7Ju90vQU.json
{"updatedAt":"2026-04-17T02:01:49.580Z","createdAt":"2026-04-17T00:26:41.804Z","id":"NptlZ8uJ7Ju90vQU","name":"n8n -> GitHub Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4ec29d82-dc5a-4b97-a568-9b3cc498bad9","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[176,0],"id":"d36b5681-376e-4a42-9a7e-bc08de40e062","name":"Get many workflows","credentials":{"n8nApi":{"id":"p0vHrkwU2PgQabIv","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cafc7eed-5b09-4806-9194-57abdbdb3c44","name":"filePath","value":"=workflows/{{ $('Get many workflows').item.json.id }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,0],"id":"abb015bd-6cd1-45d5-83f6-34486a89eb31","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $json.filePath }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,0],"id":"424e777e-99d1-4246-a1fb-5715e86ae44f","name":"Get a file","webhookId":"4bf27efe-6044-4fe8-8c91-908423be6bf5","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50ba6882-b933-470b-b525-43186a3ca046","leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,0],"id":"9c09ca7f-f41a-4682-9958-46badeca8a6f","name":"If"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $('Edit Fields').item.json.filePath }}","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Backup: Backup: {{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1008,-96],"id":"06c0b32e-3d7d-4329-953c-de21502dd3d3","name":"Create a file","webhookId":"416b3bc3-9bb4-4509-836d-bbc1c72570f1","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $('Edit Fields').item.json.filePath }}","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Update: Update: {{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,80],"id":"2da2e0b8-e86c-4a36-aa23-121123933223","name":"Edit a file","webhookId":"1653c4d9-60a6-45de-90f1-e2de8e260fd1","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8c8ebe09-e326-47bf-a853-66c672319e5c","leftValue":"={{ JSON.stringify(JSON.parse($json.content.replace(/\\n/g, '').base64Decode())) }}","rightValue":"={{ JSON.stringify($('Get many workflows').item.json) }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,96],"id":"dd02da1c-b270-42df-ba9e-d4060daeab44","name":"Diff Check"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Diff Check","type":"main","index":0}]]},"Diff Check":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5fbc6c7b-9eb6-4f74-a354-81fc8c388ef5","activeVersionId":"9f27abbd-4f55-4b2b-944f-7fec4131837f","triggerCount":1,"shared":[{"updatedAt":"2026-04-17T00:26:41.806Z","createdAt":"2026-04-17T00:26:41.806Z","role":"workflow:owner","workflowId":"NptlZ8uJ7Ju90vQU","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":{"updatedAt":"2026-04-17T01:36:02.000Z","createdAt":"2026-04-17T01:35:15.643Z","versionId":"9f27abbd-4f55-4b2b-944f-7fec4131837f","workflowId":"NptlZ8uJ7Ju90vQU","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4ec29d82-dc5a-4b97-a568-9b3cc498bad9","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[176,0],"id":"d36b5681-376e-4a42-9a7e-bc08de40e062","name":"Get many workflows","credentials":{"n8nApi":{"id":"p0vHrkwU2PgQabIv","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cafc7eed-5b09-4806-9194-57abdbdb3c44","name":"filePath","value":"=workflows/{{ $json.name.replace(/[^a-zA-Z0-9]/g, '-') }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,0],"id":"abb015bd-6cd1-45d5-83f6-34486a89eb31","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $json.filePath }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,0],"id":"424e777e-99d1-4246-a1fb-5715e86ae44f","name":"Get a file","webhookId":"4bf27efe-6044-4fe8-8c91-908423be6bf5","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50ba6882-b933-470b-b525-43186a3ca046","leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,0],"id":"9c09ca7f-f41a-4682-9958-46badeca8a6f","name":"If"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $('Edit Fields').item.json.filePath }}","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"Automated backup: new workflow"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1008,-96],"id":"06c0b32e-3d7d-4329-953c-de21502dd3d3","name":"Create a file","webhookId":"416b3bc3-9bb4-4509-836d-bbc1c72570f1","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"jpmaidment","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/jpmaidment/n8n-backups"},"filePath":"={{ $('Edit Fields').item.json.filePath }}","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"Automated backup: updated workflow"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,80],"id":"2da2e0b8-e86c-4a36-aa23-121123933223","name":"Edit a file","webhookId":"1653c4d9-60a6-45de-90f1-e2de8e260fd1","credentials":{"githubApi":{"id":"9vJdqKN8dMkNV6Ps","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8c8ebe09-e326-47bf-a853-66c672319e5c","leftValue":"={{ JSON.stringify(JSON.parse($json.content.replace(/\\n/g, '').base64Decode())) }}","rightValue":"={{ JSON.stringify($('Get many workflows').item.json) }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,96],"id":"dd02da1c-b270-42df-ba9e-d4060daeab44","name":"Diff Check"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Diff Check","type":"main","index":0}]]},"Diff Check":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"authors":"Jeremy Maidment","name":"Version 9f27abbd","description":"","autosaved":true},"tags":[]}