workflows/ooP9IGbcbmLnss6R.json
{"updatedAt":"2026-04-17T10:38:24.707Z","createdAt":"2026-04-17T10:37:05.839Z","id":"ooP9IGbcbmLnss6R","name":"YouTube Video Transcript System","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Extract the innertube API key from the page\nconst html = $json.data;\nconst videoId = $('Extract YouTube Video ID').first().json.videoId;\n\n// Extract API key with improved regex\nconst apiKeyMatch = html.match(/\"INNERTUBE_API_KEY\":\\s*\"([^\"]+)\"/);\nif (!apiKeyMatch) {\n  throw new Error('Could not find YouTube API key in page. Video may be restricted or unavailable.');\n}\nconst apiKey = apiKeyMatch[1];\n\n// IMPORTANT: Use ANDROID client for better caption availability\nconst context = {\n  client: {\n    clientName: \"ANDROID\",\n    clientVersion: \"20.10.38\",\n    androidSdkVersion: 30,\n    userAgent: \"com.google.android.youtube/20.10.38 (Linux; U; Android 11) gzip\",\n    hl: \"en\",\n    timeZone: \"UTC\",\n    utcOffsetMinutes: 0\n  }\n};\n\nreturn [{\n  json: {\n    videoId: videoId,\n    apiKey: apiKey,\n    context: context,\n    preferredLanguage: \"en\"\n  }\n}];"},"id":"649580f2-bcd2-485d-ada3-ba6bfe528c63","name":"Extract API Info (Android Client)","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,368],"notes":"Uses Android client context for better caption compatibility"},{"parameters":{"method":"POST","url":"=https://www.youtube.com/youtubei/v1/player?key={{ $json.apiKey }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"={{ $json.context.client.userAgent }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"context\": {{ JSON.stringify($json.context) }},\n  \"videoId\": \"{{ $json.videoId }}\"\n}","options":{"timeout":30000}},"id":"6b1e9fc5-2f38-4cc0-b979-697ab7dd92fa","name":"Get Player Data (Android)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,368],"notes":"Fetches player data using Android context"},{"parameters":{"jsCode":"// Enhanced caption extraction with better error handling\nconst playerData = $json;\nconst preferredLanguage = $node[\"Extract API Info (Android Client)\"].json.preferredLanguage;\n\n// Check multiple possible locations for captions\nlet captionTracks = null;\n\n// Try primary location\nif (playerData.captions && playerData.captions.playerCaptionsTracklistRenderer) {\n  captionTracks = playerData.captions.playerCaptionsTracklistRenderer.captionTracks;\n}\n\n// Check if video is available and has captions\nif (playerData.playabilityStatus) {\n  if (playerData.playabilityStatus.status === 'UNPLAYABLE') {\n    throw new Error(`Video is unplayable: ${playerData.playabilityStatus.reason || 'Unknown reason'}`);\n  }\n  if (playerData.playabilityStatus.status === 'ERROR') {\n    throw new Error(`Video error: ${playerData.playabilityStatus.reason || 'Unknown error'}`);\n  }\n}\n\nif (!captionTracks || captionTracks.length === 0) {\n  // Provide helpful error message\n  const videoTitle = playerData.videoDetails?.title || 'Unknown video';\n  const videoId = $node[\"Extract API Info (Android Client)\"].json.videoId;\n  \n  throw new Error(\n    `No captions available for video: \"${videoTitle}\" (ID: ${videoId}). ` +\n    `This video may not have subtitles/captions enabled, or they may be restricted. ` +\n    `Try a different video or check if the video has CC available on YouTube.`\n  );\n}\n\n// Process available tracks\nconst availableTracks = captionTracks.map(track => ({\n  language: track.languageCode,\n  name: track.name?.simpleText || track.name?.runs?.[0]?.text || track.languageCode,\n  baseUrl: track.baseUrl,\n  isTranslatable: track.isTranslatable || false,\n  kind: track.kind || track.vssId?.includes('.a.') ? 'automatic' : 'standard',\n  vssId: track.vssId\n}));\n\n// Find the preferred language track\nlet selectedTrack = availableTracks.find(track => \n  track.language === preferredLanguage || \n  track.language.startsWith(preferredLanguage + '-')\n);\n\n// Fallback to English if preferred not found\nif (!selectedTrack && preferredLanguage !== 'en') {\n  selectedTrack = availableTracks.find(track => \n    track.language === 'en' || \n    track.language.startsWith('en-')\n  );\n}\n\n// Use first available if still not found\nif (!selectedTrack) {\n  selectedTrack = availableTracks[0];\n}\n\n// Add format parameter for better output\n// selectedTrack.baseUrl += '&fmt=json3';\n\nreturn [{\n  json: {\n    videoId: $node[\"Extract API Info (Android Client)\"].json.videoId,\n    videoTitle: playerData.videoDetails?.title || 'Unknown',\n    videoAuthor: playerData.videoDetails?.author || 'Unknown',        // ADDED\n    channelId: playerData.videoDetails?.channelId || '',              // ADDED\n    viewCount: playerData.videoDetails?.viewCount || '0',             // ADDED (optional)\n    videoDuration: playerData.videoDetails?.lengthSeconds || 0,\n    selectedTrack: selectedTrack,\n    availableTracks: availableTracks,\n    totalTracks: availableTracks.length,\n    trackType: selectedTrack.kind\n  }\n}];"},"id":"d5c58941-e688-457e-82ec-5c40191eb022","name":"Extract Caption Info (Enhanced)","type":"n8n-nodes-base.code","typeVersion":2,"position":[944,368],"notes":"Enhanced caption extraction with better error handling and fallbacks"},{"parameters":{"url":"={{ $json.selectedTrack.baseUrl }}","options":{"timeout":30000}},"id":"230d83c3-0550-4b88-b618-2601340e1a34","name":"Fetch Transcript","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,368],"notes":"Fetches the transcript data from YouTube's timedtext API"},{"parameters":{"jsCode":"// Process the transcript data with XML parsing support\nconst transcriptData = $json;\nconst videoInfo = $node[\"Extract Caption Info (Enhanced)\"].json;\n\n// Check if we received XML data\nif (typeof transcriptData === 'string' || (transcriptData.data && typeof transcriptData.data === 'string')) {\n  // We have XML data\n  const xmlData = transcriptData.data || transcriptData;\n  \n  // Parse XML to extract transcript text\n  let fullText = '';\n  \n  // Extract all paragraph tags\n  const paragraphRegex = /<p\\s+t=\"(\\d+)\"(?:\\s+d=\"(\\d+)\")?[^>]*>(.*?)<\\/p>/gs;\n  let paragraphMatch;\n  \n  while ((paragraphMatch = paragraphRegex.exec(xmlData)) !== null) {\n    const content = paragraphMatch[3];\n    \n    // Skip empty paragraphs\n    if (!content || content.trim() === '' || content.includes('a=\"1\"')) {\n      continue;\n    }\n    \n    // Extract text from segments within the paragraph\n    let paragraphText = '';\n    const segmentRegex = /<s(?:\\s+[^>]*)?>([^<]*)<\\/s>/g;\n    let segmentMatch;\n    \n    while ((segmentMatch = segmentRegex.exec(content)) !== null) {\n      const segmentText = segmentMatch[1];\n      if (segmentText) {\n        paragraphText += segmentText;\n      }\n    }\n    \n    // Clean up the text\n    paragraphText = paragraphText\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .trim();\n    \n    if (paragraphText) {\n      fullText += paragraphText + ' ';\n    }\n  }\n  \n  // Clean up full text\n  fullText = fullText.trim().replace(/\\s+/g, ' ');\n  \n  if (!fullText) {\n    throw new Error('No transcript text could be extracted from the XML data');\n  }\n  \n  return [{\n    json: {\n      videoId: videoInfo.videoId,\n      videoTitle: videoInfo.videoTitle || 'Unknown',\n      videoAuthor: videoInfo.videoAuthor || 'Unknown',\n      channelId: videoInfo.channelId || '',\n      viewCount: videoInfo.viewCount || '0',\n      language: videoInfo.selectedTrack.language,\n      languageName: videoInfo.selectedTrack.name,\n      transcriptType: videoInfo.trackType,\n      fullText: fullText,\n      metadata: {\n        videoUrl: `https://www.youtube.com/watch?v=${videoInfo.videoId}`,\n        channelUrl: videoInfo.channelId ? `https://www.youtube.com/channel/${videoInfo.channelId}` : '',\n        fetchedAt: new Date().toISOString(),\n        format: 'XML'\n      }\n    }\n  }];\n} else {\n  // Handle JSON format\n  let events = [];\n  if (transcriptData.events) {\n    events = transcriptData.events;\n  } else if (transcriptData.transcript) {\n    events = transcriptData.transcript.events || [];\n  } else if (Array.isArray(transcriptData)) {\n    events = transcriptData;\n  }\n  \n  if (events.length === 0) {\n    throw new Error('Transcript data is empty or in unexpected format');\n  }\n  \n  // Extract full text from events\n  let fullText = '';\n  \n  for (const event of events) {\n    // Skip non-text events\n    if (!event.segs && !event.text) continue;\n    \n    if (event.segs) {\n      // Handle segmented text\n      let segmentText = '';\n      for (const seg of event.segs) {\n        if (seg.utf8) {\n          segmentText += seg.utf8;\n        }\n      }\n      \n      if (segmentText.trim()) {\n        fullText += segmentText.trim() + ' ';\n      }\n    } else if (event.text) {\n      // Handle simple text format\n      fullText += event.text.trim() + ' ';\n    }\n  }\n  \n  // Clean up full text\n  fullText = fullText.trim().replace(/\\s+/g, ' ');\n  \n  return [{\n    json: {\n      videoId: videoInfo.videoId,\n      videoTitle: videoInfo.videoTitle || 'Unknown',\n      videoAuthor: videoInfo.videoAuthor || 'Unknown',\n      channelId: videoInfo.channelId || '',\n      viewCount: videoInfo.viewCount || '0',\n      language: videoInfo.selectedTrack.language,\n      languageName: videoInfo.selectedTrack.name,\n      transcriptType: videoInfo.trackType,\n      fullText: fullText,\n      metadata: {\n        videoUrl: `https://www.youtube.com/watch?v=${videoInfo.videoId}`,\n        channelUrl: videoInfo.channelId ? `https://www.youtube.com/channel/${videoInfo.channelId}` : '',\n        fetchedAt: new Date().toISOString(),\n        format: 'JSON'\n      }\n    }\n  }];\n}"},"id":"fa9a475e-f7b9-42d6-8927-211727a980b0","name":"Process Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,368],"notes":"Processes and formats the transcript data"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1648,368],"id":"99bba5bc-1676-4f21-9447-6cc35b277805","name":"Loop Over Items","notes":"Processes transcript chunks one at a time"},{"parameters":{"jsCode":"// Get Record ID from current item\nconst recordId = $input.first().json.id;\n\n// Get the transcript directly\nconst inputText = $('Process Transcript').first().json.fullText;\n\nif (!inputText || inputText.length === 0) {\n  throw new Error('No transcript text to chunk');\n}\n\n// Chunking configuration\nconst maxChunkSize = 20000;\nconst minChunkSize = Math.floor(maxChunkSize * 0.25);\n\nlet chunks = [];\nlet chunkOrder = 1;\n\n// Add chunk with Record ID and order\nfunction addChunk(text) {\n  chunks.push({\n    recordId: recordId,\n    order: chunkOrder,\n    text: text\n  });\n  chunkOrder++;\n}\n\n// Find last period in text for clean sentence breaks\nfunction findLastPeriodIndex(text, startFromIndex) {\n  for (let i = startFromIndex; i >= 0; i--) {\n    if (text[i] === '.') {\n      return i + 1;\n    }\n  }\n  return -1;\n}\n\n// Main chunking logic\nlet startIndex = 0;\nwhile (startIndex < inputText.length) {\n  let endIndex = Math.min(startIndex + maxChunkSize, inputText.length);\n  let chunkText = inputText.slice(startIndex, endIndex);\n  \n  // If not at the end, try to break at a sentence\n  if (endIndex < inputText.length) {\n    let lastPeriodIndex = findLastPeriodIndex(chunkText, chunkText.length - 1);\n    if (lastPeriodIndex !== -1) {\n      endIndex = startIndex + lastPeriodIndex;\n      chunkText = inputText.slice(startIndex, endIndex);\n    }\n    \n    // Avoid tiny final chunks\n    let nextChunkSize = Math.min(maxChunkSize, inputText.length - endIndex);\n    if (nextChunkSize < minChunkSize) {\n      endIndex = Math.min(endIndex + nextChunkSize, inputText.length);\n      chunkText = inputText.slice(startIndex, endIndex);\n    }\n  }\n  \n  addChunk(chunkText);\n  startIndex = endIndex;\n}\n\n// Return each chunk as a separate item\nreturn chunks.map(chunk => ({\n  json: chunk\n}));"},"id":"e22cad24-bcc6-4f2b-93df-56e0142cab56","name":"Chunk Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,368],"notes":"Chunks the transcript into manageable pieces for storage"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appIsEG8gLgCG9Mzi","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi"},"table":{"__rl":true,"value":"tblO8WoeP1VMGDRfM","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi/tblO8WoeP1VMGDRfM"},"columns":{"mappingMode":"defineBelow","value":{"Transcript":"={{ $json.text }}","Name":"={{ $json.order }} - {{ $('Loop Over Items').item.json.fields.Title }}","Chunk Order":"={{ $json.order }}","Videos":"={{ [$json.recordId] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chunk Order","displayName":"Chunk Order","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Videos","displayName":"Videos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2000,368],"id":"f099a511-2e67-481b-ae9c-55fd7c8e1a6d","name":"Create Transcript","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}},"continueOnFail":true,"notes":"Creates transcript record in Airtable"},{"parameters":{"url":"={{ $json.standardUrl }}","options":{"timeout":30000}},"id":"92812f6f-6e1a-415b-a9ad-fa8dd0431b1b","name":"Scrape Video Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,368],"notes":"Fetches the YouTube video page to extract API key"},{"parameters":{"formTitle":"Get YouTube Transcript","formDescription":"Get any YouTube transcript by dropping the link.","formFields":{"values":[{"fieldLabel":"YouTube Video URL","placeholder":"https://youtu.be/A0y6yoQVu8Y","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Get the Transcript"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[48,368],"id":"90236e71-0949-479d-941d-c66de8273716","name":"On form submission","webhookId":"4c22d0a0-4ab8-4983-b8fe-ccb1cd98b153"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const youtubeUrl = item.json['YouTube Video URL'] || '';\n  \n  let videoId = null;\n  \n  // Try each pattern until we find a match\n  const patterns = [\n    /[?&]v=([a-zA-Z0-9_-]{11})/,           // youtube.com/watch?v=\n    /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,      // youtu.be/\n    /embed\\/([a-zA-Z0-9_-]{11})/,          // youtube.com/embed/\n    /shorts\\/([a-zA-Z0-9_-]{11})/,         // youtube.com/shorts/\n    /live\\/([a-zA-Z0-9_-]{11})/,           // youtube.com/live/\n  ];\n  \n  for (const pattern of patterns) {\n    const match = youtubeUrl.match(pattern);\n    if (match) {\n      videoId = match[1];\n      break;\n    }\n  }\n  \n  // Check if it's already just the video ID\n  if (!videoId && /^[a-zA-Z0-9_-]{11}$/.test(youtubeUrl.trim())) {\n    videoId = youtubeUrl.trim();\n  }\n  \n  item.json.videoId = videoId;\n  item.json.standardUrl = videoId ? `https://www.youtube.com/watch?v=${videoId}` : null;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,368],"id":"8e6f6cf2-376b-4b7f-b290-9d31f76f1b1d","name":"Extract YouTube Video ID","notes":"Extracts video ID from any YouTube URL format including standard, short, embed, mobile, shorts, live, and music URLs. Also handles URLs with additional parameters."},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appIsEG8gLgCG9Mzi","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi"},"table":{"__rl":true,"value":"tblaa2LOCmaQM4l9v","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi/tblaa2LOCmaQM4l9v"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.videoTitle }}","Creator":"={{ $json.videoAuthor }}","Video URL":"={{ $('Extract YouTube Video ID').item.json['YouTube Video URL'] }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Creator","displayName":"Creator","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcripts","displayName":"Transcripts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1472,368],"id":"c34ebd55-c347-478b-93fe-b44656ccd246","name":"Create New Video Record","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/starvibe~youtube-video-transcript/run-sync-get-dataset-items?token=[ENTER API KEY]","sendBody":true,"bodyParameters":{"parameters":[{"name":"youtube_url","value":"={{ $json['YouTube Video URL'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[272,48],"id":"4d09b0b3-4d56-45a9-9607-8407ae21bc1d","name":"HTTP Request"},{"parameters":{"formTitle":"Get YouTube Transcript","formDescription":"Get any YouTube transcript by dropping the link.","formFields":{"values":[{"fieldLabel":"YouTube Video URL","placeholder":"https://youtu.be/A0y6yoQVu8Y","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Get the Transcript"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[96,48],"id":"f53f5ed5-8429-4918-bb50-381235243ce5","name":"On form submission1","webhookId":"605b691a-8bdc-45ba-b582-92b5fb8ecf7a"},{"parameters":{"jsCode":"// Get the first item from Apify response\nconst data = $input.first().json;\n\n// Compile transcript segments into full text\nconst fullTranscript = data.transcript\n  .map(segment => segment.text)\n  .join(' ');\n\n// Return everything with correct fields\nreturn {\n  // Video identifiers\n  videoId: data.video_id,\n  url: data.url,\n  \n  // Video metadata\n  title: data.title,\n  description: data.description,\n  thumbnail: data.thumbnail,\n  publishedAt: data.published_at,\n  duration: data.duration_seconds,\n  \n  // Engagement stats\n  viewCount: data.view_count,\n  likeCount: data.like_count,\n  commentCount: data.comment_count,\n  \n  // Channel info\n  channelId: data.channel_id,\n  channelName: data.channel_name,\n  subscriberCount: data.subscriber_count,\n  \n  // Transcript data\n  language: data.language,\n  isAutoGenerated: data.is_auto_generated,\n  transcript: fullTranscript\n};"},"id":"6f3913bd-d072-42c8-b3a9-dd69f353edfb","name":"Process Transcript1","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,48],"notes":"Processes and formats the transcript data"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,48],"id":"3ef5e2d6-92bd-4722-af40-07e93f8bdba0","name":"Loop Over Items1","notes":"Processes transcript chunks one at a time"},{"parameters":{"jsCode":"// Get Record ID from current item\nconst recordId = $input.first().json.id;\n\n// Get the transcript directly\nconst inputText = $('Process Transcript1').first().json.transcript;\n\nif (!inputText || inputText.length === 0) {\n  throw new Error('No transcript text to chunk');\n}\n\n// Chunking configuration\nconst maxChunkSize = 20000;\nconst minChunkSize = Math.floor(maxChunkSize * 0.25);\n\nlet chunks = [];\nlet chunkOrder = 1;\n\n// Add chunk with Record ID and order\nfunction addChunk(text) {\n  chunks.push({\n    recordId: recordId,\n    order: chunkOrder,\n    text: text\n  });\n  chunkOrder++;\n}\n\n// Find last period in text for clean sentence breaks\nfunction findLastPeriodIndex(text, startFromIndex) {\n  for (let i = startFromIndex; i >= 0; i--) {\n    if (text[i] === '.') {\n      return i + 1;\n    }\n  }\n  return -1;\n}\n\n// Main chunking logic\nlet startIndex = 0;\nwhile (startIndex < inputText.length) {\n  let endIndex = Math.min(startIndex + maxChunkSize, inputText.length);\n  let chunkText = inputText.slice(startIndex, endIndex);\n  \n  // If not at the end, try to break at a sentence\n  if (endIndex < inputText.length) {\n    let lastPeriodIndex = findLastPeriodIndex(chunkText, chunkText.length - 1);\n    if (lastPeriodIndex !== -1) {\n      endIndex = startIndex + lastPeriodIndex;\n      chunkText = inputText.slice(startIndex, endIndex);\n    }\n    \n    // Avoid tiny final chunks\n    let nextChunkSize = Math.min(maxChunkSize, inputText.length - endIndex);\n    if (nextChunkSize < minChunkSize) {\n      endIndex = Math.min(endIndex + nextChunkSize, inputText.length);\n      chunkText = inputText.slice(startIndex, endIndex);\n    }\n  }\n  \n  addChunk(chunkText);\n  startIndex = endIndex;\n}\n\n// Return each chunk as a separate item\nreturn chunks.map(chunk => ({\n  json: chunk\n}));"},"id":"b252a9d5-5273-4ff4-a4b4-7ebb9ca89937","name":"Chunk Transcript1","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,48],"notes":"Chunks the transcript into manageable pieces for storage"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appIsEG8gLgCG9Mzi","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi"},"table":{"__rl":true,"value":"tblO8WoeP1VMGDRfM","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi/tblO8WoeP1VMGDRfM"},"columns":{"mappingMode":"defineBelow","value":{"Transcript":"={{ $json.text }}","Name":"={{ $json.order }} - {{ $('Loop Over Items1').item.json.fields.Title }}","Chunk Order":"={{ $json.order }}","Videos":"={{ [$json.recordId] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Chunk Order","displayName":"Chunk Order","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Videos","displayName":"Videos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1168,48],"id":"b230669a-c790-49a0-a8ff-510ba3d936eb","name":"Create Transcript1","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}},"continueOnFail":true,"notes":"Creates transcript record in Airtable"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appIsEG8gLgCG9Mzi","mode":"list","cachedResultName":"Transcripts","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi"},"table":{"__rl":true,"value":"tblaa2LOCmaQM4l9v","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appIsEG8gLgCG9Mzi/tblaa2LOCmaQM4l9v"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.title }}","Creator":"={{ $json.channelName }}","Video URL":"={{ $json.url }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Creator","displayName":"Creator","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcripts","displayName":"Transcripts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[640,48],"id":"329d9b41-6484-4a99-895a-19431c326abf","name":"Create New Video Record1","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"content":"## FOR CLOUD n8n ","height":240,"width":1328},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"cf6d68b4-2f09-4145-a80c-ff811f18b713","name":"Sticky Note"},{"parameters":{"content":"## FOR LOCAL n8n ","height":256,"width":2176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,304],"typeVersion":1,"id":"85d1f328-82b3-4977-9fca-706dfbf9792d","name":"Sticky Note1"}],"connections":{"Extract API Info (Android Client)":{"main":[[{"node":"Get Player Data (Android)","type":"main","index":0}]]},"Get Player Data (Android)":{"main":[[{"node":"Extract Caption Info (Enhanced)","type":"main","index":0}]]},"Extract Caption Info (Enhanced)":{"main":[[{"node":"Fetch Transcript","type":"main","index":0}]]},"Fetch Transcript":{"main":[[{"node":"Process Transcript","type":"main","index":0}]]},"Process Transcript":{"main":[[{"node":"Create New Video Record","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Chunk Transcript","type":"main","index":0}]]},"Chunk Transcript":{"main":[[{"node":"Create Transcript","type":"main","index":0}]]},"Create Transcript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Scrape Video Page":{"main":[[{"node":"Extract API Info (Android Client)","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Extract YouTube Video ID","type":"main","index":0}]]},"Extract YouTube Video ID":{"main":[[{"node":"Scrape Video Page","type":"main","index":0}]]},"Create New Video Record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Process Transcript1","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Chunk Transcript1","type":"main","index":0}]]},"Chunk Transcript1":{"main":[[{"node":"Create Transcript1","type":"main","index":0}]]},"Create Transcript1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create New Video Record1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Process Transcript1":{"main":[[{"node":"Create New Video Record1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fa0367a-c018-4490-a30c-a937348761f4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-17T10:37:05.841Z","createdAt":"2026-04-17T10:37:05.841Z","role":"workflow:owner","workflowId":"ooP9IGbcbmLnss6R","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-16T23:54:23.372Z","createdAt":"2026-04-16T23:54:23.372Z","id":"4eNNlWRRvtM8x0xa","name":"Completed Video"}]}