workflows/p6Q0PLcyyBs0TUBy.json
{"updatedAt":"2026-04-17T07:50:34.026Z","createdAt":"2026-04-16T23:55:10.504Z","id":"p6Q0PLcyyBs0TUBy","name":"AI Time Audit","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b8e4f2a1-7c9d-4e3b-a5f0-6d2c1b0a9e8f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"aab71e6e-ddac-4cf3-8ca1-5887feb0821a","name":"Webhook","webhookId":"55efb4c9-1a72-4f30-97fa-ba1a0e6186b8"},{"parameters":{"jsCode":"const formResponse = $input.first().json.body.form_response;\nconst hidden = formResponse.hidden || {};\n\n// Hidden fields passed from the payment redirect\nconst customerEmail = hidden.email || '';\nconst firstName = hidden.first_name || '';\nconst lastName = hidden.last_name || '';\nconst userId = hidden.user_id || '';\n\n// Build map keyed by Typeform field ID (stable, not order-dependent).\n// For multi-select, store the labels array — DO NOT join here.\nconst answerMap = {};\nfor (const answer of (formResponse.answers || [])) {\n  const fieldId = answer.field.id;\n  let value;\n  switch (answer.type) {\n    case 'text': value = answer.text || ''; break;\n    case 'choice': value = answer.choice ? answer.choice.label : ''; break;\n    case 'choices': value = answer.choices ? answer.choices.labels : []; break;\n    case 'number': value = answer.number || 0; break;\n    default: value = answer[answer.type] || '';\n  }\n  answerMap[fieldId] = value;\n}\n\n// === Lookup by Typeform field ID (stable) ===\nconst FIELD_IDS = {\n  process_name:        'CT6McQMxZF6U',\n  frustration_type:    'q3dxHdXuzarC',\n  monthly_volume:      'KajIvIVqMiYm',\n  time_per_instance:   'aX4hUPs0FCMU',\n  hourly_rate:         'R9VX682pSZej',\n  error_rate:          '4kEhvoROnY3o',\n  tools_involved:      'kbAIcPdHztPo',\n  decision_complexity: '6d6XTIFLGUIY',\n  ideal_state:         'L91EafOtXG38',\n  freed_time_impact:   '5lhZXO1EBKnS',\n  urgency:             'GGJqfpf5b8HM',\n  decision_maker:      'qibFXQ2IoDxE'\n};\n\n// Pull raw values\nconst process_name           = answerMap[FIELD_IDS.process_name] || '';\nconst frustration_type       = answerMap[FIELD_IDS.frustration_type] || '';\nconst monthly_volume_raw     = String(answerMap[FIELD_IDS.monthly_volume] || '0');\nconst time_per_instance_raw  = answerMap[FIELD_IDS.time_per_instance] || '';\nconst hourly_rate_raw        = answerMap[FIELD_IDS.hourly_rate] || '';\nconst error_rate_raw         = answerMap[FIELD_IDS.error_rate] || '';\nconst decision_complexity_raw= answerMap[FIELD_IDS.decision_complexity] || '';\nconst ideal_state            = answerMap[FIELD_IDS.ideal_state] || '';\nconst freed_time_impact      = answerMap[FIELD_IDS.freed_time_impact] || '';\nconst urgency_raw            = answerMap[FIELD_IDS.urgency] || '';\nconst decision_maker_raw     = answerMap[FIELD_IDS.decision_maker] || '';\n\n// === Tools — keep both array and string versions ===\n// Array version: for Airtable multi-select fields (avoids comma-split issues)\n// String version: for AI prompts and report prose\nconst tools_involved_array = Array.isArray(answerMap[FIELD_IDS.tools_involved])\n  ? answerMap[FIELD_IDS.tools_involved]\n  : (answerMap[FIELD_IDS.tools_involved] ? [answerMap[FIELD_IDS.tools_involved]] : []);\nconst tools_involved = tools_involved_array.join(', ');\n\n// === Normalisation tables ===\nconst timeNorm = {\n  '5–15 minutes': '5-15min', '5-15 minutes': '5-15min',\n  '15–30 minutes': '15-30min', '15-30 minutes': '15-30min',\n  '30–60 minutes': '30-60min', '30-60 minutes': '30-60min',\n  '1–2 hours': '1-2hrs', '1-2 hours': '1-2hrs',\n  '2+ hours': '2+hrs', 'More than 2 hours': '2+hrs'\n};\nconst time_per_instance = timeNorm[time_per_instance_raw] || time_per_instance_raw || '15-30min';\n\nconst rateNorm = {\n  '$50-75/hr': '$50-75/hr', '$75-100/hr': '$75-100/hr',\n  '$100-150/hr': '$100-150/hr', '$150+/hr': '$150+/hr',\n  'Not sure': '$75-100/hr'\n};\nconst hourly_rate = rateNorm[hourly_rate_raw] || hourly_rate_raw || '$75-100/hr';\n\nconst errorNorm = {\n  'Rarely (under 2%)': 'Rarely (<2%)', 'Rarely (<2%)': 'Rarely (<2%)',\n  'Occasionally (approx. 5%)': 'Occasionally (~5%)',\n  'Occasionally (~5%)': 'Occasionally (~5%)',\n  'Often (10%+)': 'Often (10%+)', 'Often (10% or more)': 'Often (10%+)'\n};\nconst error_rate = errorNorm[error_rate_raw] || error_rate_raw || 'Occasionally (~5%)';\n\nconst compNorm = {\n  'Simple rules, no judgment needed': 'Simple rules / no judgment',\n  'Simple rules / no judgment': 'Simple rules / no judgment',\n  'Mostly rules with occasional judgment': 'Simple rules with occasional judgment calls',\n  'Simple rules with occasional judgment calls': 'Simple rules with occasional judgment calls',\n  'Requires context or experience': 'Requires context or experience',\n  'Highly subjective or relationship-dependent': 'Highly subjective / relationship-dependent'\n};\n// Typeform sends the FULL choice label which includes the example in quotes.\n// Match by the leading prefix before the colon.\nconst compPrefix = decision_complexity_raw.split(':')[0].trim();\nconst compNormPrefix = {\n  'Simple Rules': 'Simple rules / no judgment',\n  'Judgment Calls': 'Simple rules with occasional judgment calls',\n  'Complex Decisions': 'Highly subjective / relationship-dependent'\n};\nconst decision_complexity = compNormPrefix[compPrefix]\n  || compNorm[decision_complexity_raw]\n  || decision_complexity_raw\n  || 'Simple rules with occasional judgment calls';\n\n// === Urgency normalisation (for sales qualification) ===\nconst urgencyNorm = {\n  \"It's painful, but we can cope for now.\": 'low',\n  \"It's actively blocking our growth or costing us money.\": 'medium',\n  \"This is a top-3 priority for this quarter.\": 'high'\n};\nconst urgency = urgencyNorm[urgency_raw] || 'medium';\n\n// === Decision-maker authority (for whale detection) ===\nconst decisionMakerNorm = {\n  'I can approve this myself.': 'self',\n  'I need to get leadership buy-in.': 'leadership',\n  'We would need board or executive level approval.': 'board'\n};\nconst decision_maker = decisionMakerNorm[decision_maker_raw] || 'leadership';\n\n// === Whale detection: high authority + medium-or-high urgency ===\nconst has_authority = (decision_maker === 'self' || decision_maker === 'leadership');\nconst is_urgent = (urgency === 'high' || urgency === 'medium');\nconst lead_quality = (has_authority && is_urgent) ? 'whale' : 'standard';\n\n// === Monthly volume parsing ===\n// Handles ranges like \"80-100\" by averaging, or single numbers\nconst numbers = monthly_volume_raw.match(/\\d+/g);\nlet monthly_volume = 0;\nif (numbers && numbers.length >= 2) {\n  monthly_volume = Math.round((parseInt(numbers[0]) + parseInt(numbers[1])) / 2);\n} else if (numbers && numbers.length === 1) {\n  monthly_volume = parseInt(numbers[0]);\n}\n\n// === Australian-style date (17 April 2026) ===\nconst now = new Date();\nconst ms = ['January','February','March','April','May','June',\n            'July','August','September','October','November','December'];\nconst report_date = `${now.getDate()} ${ms[now.getMonth()]} ${now.getFullYear()}`;\n\nreturn [{\n  json: {\n    // === Identity ===\n    customer_email: customerEmail,\n    first_name: firstName,\n    last_name: lastName,\n    user_id: userId,\n\n    // === Process intake ===\n    process_name,\n    frustration_type,\n    monthly_volume,\n    monthly_volume_raw,\n    time_per_instance,\n    hourly_rate,\n    error_rate,\n    tools_involved,         // string for AI prompts/report\n    tools_involved_array,   // array for Airtable multi-select\n    decision_complexity,\n    ideal_state,\n    freed_time_impact,\n\n    // === Sales qualification ===\n    urgency,\n    urgency_raw,\n    decision_maker,\n    decision_maker_raw,\n    lead_quality,\n\n    // === Metadata ===\n    report_date\n  }\n}];"},"id":"e78ebaa0-0d94-49bb-8afd-38b8bfa8b162","name":"Parse Typeform","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0]},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are an automation analyst for a small business consultancy. Your job is to estimate what percentage of a manual business process can realistically be automated using standard integration and workflow tools (n8n, Zapier, Make, APIs).\n\nRULES:\n- Return ONLY a single integer between 30 and 85. Nothing else. No explanation, no text, just the number.\n- Never return higher than 85. No process is fully automatable. Humans always own exceptions, judgment calls, and relationship management.\n- Use this scoring framework:\n\n  Decision Complexity:\n  - \"Simple rules / no judgment\" = base 75-85%\n  - \"Simple rules with occasional judgment calls\" = base 60-75%\n  - \"Requires context or experience\" = base 45-60%\n  - \"Highly subjective / relationship-dependent\" = base 30-45%\n\n  Tool Modifier:\n  - If tools include well-known software with APIs (e.g., Xero, HubSpot, Google Workspace, Slack, accounting software, CRMs) = add 0-5%\n  - If tools are mostly manual (paper, phone calls, in-person) = subtract 5-10%\n  - If tools include spreadsheets only = no change (automatable but needs setup)\n\n  Volume Modifier:\n  - High volume (50+ per month) with simple decisions = add 0-5%\n  - Low volume (<10 per month) with complex decisions = subtract 0-5%\n\n- Round to the nearest 5 (e.g., 65, 70, 75).\n- When in doubt, round DOWN. Conservative estimates build trust. Overstating destroys it.","maxTokens":10,"temperature":0.3}},"id":"2119851d-4f98-498d-b4f9-da3d9f254233","name":"P1 Automation Pct","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2432,240],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"mode":"id","value":"12ZybW49SlYkkTR0lnasIJZMg8GvKiEv_XaQWNEik_yA"},"name":"=AI Time Audit - {{ $json.client_name }}","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1xANA03JOoPB1tW3D0YxD6rUj0QHirh-j","mode":"list","cachedResultName":"Generated Reports","cachedResultUrl":"https://drive.google.com/drive/folders/1xANA03JOoPB1tW3D0YxD6rUj0QHirh-j"},"options":{}},"id":"ea073bec-06d3-4a0f-9e51-f6cd7ce3a3bc","name":"Copy Template","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[5872,0],"credentials":{"googleDriveOAuth2Api":{"id":"Gj5hmWwkQFAWhjzg","name":"Google Drive OAuth2 API"}}},{"parameters":{"jsCode":"const d = $('Bundle: Audit Data').first().json;\nconst documentId = $('Copy Template').first().json.id;\n\nconst r = (key, fallback = '') => {\n  const val = d[key];\n  return val !== undefined && val !== null ? String(val) : fallback;\n};\n\n// Build placeholder keys using charCode to avoid n8n expression parsing\nconst b = (name) => String.fromCharCode(123, 123) + name + String.fromCharCode(125, 125);\n\nconst fieldMap = {\n  'client_name': 'client_name',\n  'process_name': 'process_name',\n  'report_date': 'report_date',\n  'monthly_hours': 'monthly_hours_display',\n  'monthly_cost': 'monthly_cost_display',\n  'annual_cost': 'annual_cost_display',\n  'error_rate': 'error_rate',\n  'rework_cost': 'rework_cost_display',\n  'frustration_type': 'frustration_type',\n  'tools_involved': 'tools_involved',\n  'decision_complexity': 'decision_complexity',\n  'freed_time_impact': 'freed_time_impact',\n  'automation_percentage': 'automation_percentage',\n  'automatable_steps': 'automatable_steps',\n  'human_required_steps': 'human_required_steps',\n  'remaining_human_work': 'remaining_human_work',\n  'solution_approach': 'solution_approach',\n  'key_integrations': 'key_integrations',\n  'trigger_event': 'trigger_event',\n  'exception_handling': 'exception_handling',\n  'time_savings_monthly': 'time_savings_monthly_display',\n  'cost_savings_monthly': 'cost_savings_monthly_display',\n  'cost_savings_annual': 'cost_savings_annual_display',\n  'payback_period': 'payback_period'\n};\n\nconst replacements = {};\nfor (const [placeholder, field] of Object.entries(fieldMap)) {\n  replacements[b(placeholder)] = r(field);\n}\nreplacements[b('booking_link_15min')] = 'https://calendly.com/atomi-agency/15min';\nreplacements[b('booking_link_strategy')] = 'https://calendly.com/atomi-agency/strategy';\n\nconst requests = Object.entries(replacements).map(([placeholder, value]) => ({\n  replaceAllText: {\n    containsText: {\n      text: placeholder,\n      matchCase: true\n    },\n    replaceText: value\n  }\n}));\n\nreturn [{\n  json: {\n    documentId,\n    requests,\n    report_url: 'https://docs.google.com/document/d/' + documentId + '/edit'\n  }\n}];"},"id":"cadbef21-bc67-48c5-9f6e-2e0b625bb450","name":"Build Replacements","type":"n8n-nodes-base.code","typeVersion":2,"position":[6192,-208]},{"parameters":{"method":"POST","url":"={{ 'https://docs.googleapis.com/v1/documents/' + $json.documentId + ':batchUpdate' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ requests: $json.requests }) }}","options":{}},"id":"73d2f473-0a82-40c2-af2d-5c186a7ba45c","name":"Docs batchUpdate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5152,272]},{"parameters":{"url":"=={{ 'https://docs.google.com/document/d/' + $('Copy Template').first().json.id + '/export?format=pdf' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"45fb6900-4cc5-42b3-bc95-656ed6ee3090","name":"Export PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[6304,192],"credentials":{"googleDriveOAuth2Api":{"id":"Gj5hmWwkQFAWhjzg","name":"Google Drive OAuth2 API"}}},{"parameters":{"jsCode":"const d = $('Bundle: Audit Data').first().json;\nconst reportUrl = $('Build Replacements').first().json.report_url;\nconst inputBinary = $input.first().binary || {};\n\nconst emailHtml = `<p>Hi ${d.client_name},</p><p>Your AI Time Audit is complete. Please find your report attached.</p><p>Here is a quick summary:</p><ul><li>Process audited: ${d.process_name}</li><li>Current monthly cost: $${d.monthly_cost_display}</li><li>Estimated automation potential: ${d.automation_percentage}%</li><li>Projected monthly savings: $${d.cost_savings_monthly_display}</li></ul><p>The report includes three options for what to do next. If you would like to discuss the findings, the quickest way is to book a free 15-minute call:</p><p><a href=\"https://calendly.com/atomi-agency/15min\">Book a Call</a></p><p>Questions? Just reply to this email.</p><p>Jeremy<br>Atomi Agency</p>`;\n\nconst validStatus = d.validation_passed ? 'PASSED' : 'ISSUES: ' + (d.validation_issues || []).join(', ');\nconst teamsMsg = 'New AI Time Audit report ready for review.\\n\\nClient: ' + d.client_name + '\\nProcess: ' + d.process_name + '\\nAutomation: ' + d.automation_percentage + '%\\nMonthly savings: $' + d.cost_savings_monthly_display + '\\n\\nGoogle Doc: ' + reportUrl + '\\n\\nValidation: ' + validStatus + '\\n\\nAction required: Review draft email in Outlook, then send.';\n\nreturn [{\n  json: {\n    email_html: emailHtml,\n    email_subject: 'Your AI Time Audit Report is Ready - ' + d.client_name,\n    email_to: d.customer_email,\n    teams_message: teamsMsg,\n    intake_record_id: $('Create Intake Record').first().json.id,\n    automation_percentage: d.automation_percentage,\n    cost_savings_monthly: d.cost_savings_monthly,\n    report_url: reportUrl,\n    validation_issues: d.validation_issues || []\n  },\n  binary: inputBinary\n}];"},"id":"679cb750-fec6-48ab-ab74-c83da2df038f","name":"Prepare Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[6480,-208]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblr4vdY1UtdP59O1","mode":"list","cachedResultName":"AI Time Audit Intake Form","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblr4vdY1UtdP59O1"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the specific manual process we are auditing today?","displayName":"What is the specific manual process we are auditing today?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the biggest frustration with this process right now?","displayName":"What is the biggest frustration with this process right now?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It takes too long and delays other work.","value":"It takes too long and delays other work."},{"name":"Errors happen too often and need fixing.","value":"Errors happen too often and need fixing."},{"name":"It’s a bottleneck stopping us from growing.","value":"It’s a bottleneck stopping us from growing."},{"name":"The team is frustrated or burnt out from doing it.","value":"The team is frustrated or burnt out from doing it."}],"readOnly":false,"removed":false},{"id":"Roughly how many times is this task performed every month?","displayName":"Roughly how many times is this task performed every month?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How long does it take to complete one instance of this task?","displayName":"How long does it take to complete one instance of this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"5–15 minutes","value":"5–15 minutes"},{"name":"15–30 minutes","value":"15–30 minutes"},{"name":"30–60 minutes","value":"30–60 minutes"},{"name":"1–2 hours","value":"1–2 hours"},{"name":"2+ hours","value":"2+ hours"},{"name":"5-15min","value":"5-15min"}],"readOnly":false,"removed":false},{"id":"What is the approximate hourly cost of the person doing this work?","displayName":"What is the approximate hourly cost of the person doing this work?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"$50-75/hr","value":"$50-75/hr"},{"name":"$75-100/hr","value":"$75-100/hr"},{"name":"$100-150/hr","value":"$100-150/hr"},{"name":"$150+/hr","value":"$150+/hr"},{"name":"Not sure","value":"Not sure"}],"readOnly":false,"removed":false},{"id":"How often do mistakes happen that require manual fixing or re-entry?","displayName":"How often do mistakes happen that require manual fixing or re-entry?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Rarely (under 2%)","value":"Rarely (under 2%)"},{"name":"Occasionally (approx. 5%)","value":"Occasionally (approx. 5%)"},{"name":"Often (10% or more)","value":"Often (10% or more)"},{"name":"Occasionally (~5%)","value":"Occasionally (~5%)"}],"readOnly":false,"removed":false},{"id":"Which tools are involved in this process? (Select all that apply)","displayName":"Which tools are involved in this process? (Select all that apply)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Email (Gmail, Outlook)","value":"Email (Gmail, Outlook)"},{"name":"Spreadsheets (Excel, Google Sheets)","value":"Spreadsheets (Excel, Google Sheets)"},{"name":"Accounting (Xero, QuickBooks, MYOB)","value":"Accounting (Xero, QuickBooks, MYOB)"},{"name":"CRM (Salesforce, HubSpot, Dynamics)","value":"CRM (Salesforce, HubSpot, Dynamics)"},{"name":"Documents (PDFs, Images, Word)","value":"Documents (PDFs, Images, Word)"},{"name":"Other Web Portals or Legacy Apps.","value":"Other Web Portals or Legacy Apps."},{"name":"Other","value":"Other"},{"name":"Accounting (Xero","value":"Accounting (Xero"},{"name":"QuickBooks","value":"QuickBooks"},{"name":"MYOB)","value":"MYOB)"},{"name":"Spreadsheets (Excel","value":"Spreadsheets (Excel"},{"name":"Google Sheets)","value":"Google Sheets)"}],"readOnly":false,"removed":false},{"id":"How much \"thinking\" is required to do this task?","displayName":"How much \"thinking\" is required to do this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah).","value":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah)."},{"name":"Judgment Calls: \"Read the email and decide which department handles it.\"","value":"Judgment Calls: \"Read the email and decide which department handles it.\""},{"name":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\"","value":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\""},{"name":"Simple rules with occasional judgment calls","value":"Simple rules with occasional judgment calls"}],"readOnly":false,"removed":false},{"id":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","displayName":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"If we freed up this time for your team, what high-value work would they do instead?","displayName":"If we freed up this time for your team, what high-value work would they do instead?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How urgently do you need to solve this?","displayName":"How urgently do you need to solve this?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It's painful, but we can cope for now.","value":"It's painful, but we can cope for now."},{"name":"It's actively blocking our growth or costing us money.","value":"It's actively blocking our growth or costing us money."},{"name":"This is a top-3 priority for this quarter.","value":"This is a top-3 priority for this quarter."}],"readOnly":false,"removed":false},{"id":"If the audit shows a clear ROI, who makes the decision to move forward?","displayName":"If the audit shows a clear ROI, who makes the decision to move forward?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"I can approve this myself.","value":"I can approve this myself."},{"name":"I need to get leadership buy-in.","value":"I need to get leadership buy-in."},{"name":"We would need board or executive level approval.","value":"We would need board or executive level approval."}],"readOnly":false,"removed":false},{"id":"Engagement","displayName":"Engagement","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company (from Engagement)","displayName":"Company (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Contact (from Engagement)","displayName":"Contact (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Form Email","displayName":"Form Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form First Name","displayName":"Form First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form Surname","displayName":"Form Surname","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a35af034-c4d6-43e7-a389-72d817e6ea56","name":"Airtable Update Intake","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[7056,-208],"credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"message":"={{ $('Prepare Email').first().json.teams_message }}","options":{}},"id":"38f712c0-1c21-4cb9-8f0a-00f70dea58b5","name":"Teams DM Jeremy","type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[7312,-208],"webhookId":"0c306a83-e1ff-42df-a3c2-42a9509a6d74","credentials":{"microsoftTeamsOAuth2Api":{"id":"FX4dbjn6369Pl6Xu","name":"Microsoft Teams OAuth2 API"}}},{"parameters":{},"id":"2df9cca7-b6fa-4e1c-b84a-51988d09b829","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"message":"={{ 'AI Time Audit workflow FAILED.\\n\\nExecution ID: ' + $json.execution.id + '\\nError: ' + $json.execution.error.message + '\\n\\nAction: Check n8n execution log and re-run.' }}","options":{}},"id":"ee9e997d-2cc7-48fe-a177-03d200f89659","name":"Teams DM Error","type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[288,304],"webhookId":"feb43565-6ecc-46a6-9455-60b65c3d2601","credentials":{"microsoftTeamsOAuth2Api":{"id":"FX4dbjn6369Pl6Xu","name":"Microsoft Teams OAuth2 API"}}},{"parameters":{"errorMessage":"Invalid intake data - missing required fields (email, process_name, or monthly_volume). Check Typeform submission."},"id":"0b3ecaf8-a7c6-4333-8928-43757c7ae860","name":"Stop Invalid Intake","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1616,304]},{"parameters":{"base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblzp2EWhj03F6Qab","mode":"list","cachedResultName":"Companies","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblzp2EWhj03F6Qab"},"id":"={{ $json.fields.Company[0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[768,0],"id":"59b038d3-bdce-46f4-b97c-4ed68cf1d59b","name":"Get Company","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"// Build the complete audit context object.\n// Combines: Typeform intake + Airtable Engagement + Airtable Company.\n\nconst intake = $('Parse Typeform').first().json;\nconst engagement = $('Get Engagement').first().json.fields;\nconst company = $('Get Company').first().json.fields;\n\n// === Resolve client (business) name ===\nconst clientName = company.Name\n  || [intake.first_name, intake.last_name].filter(Boolean).join(' ')\n  || 'Client';\n\n// === Engagement metadata ===\nconst engagementId = $('Get Engagement').first().json.id;\nconst engagementName = engagement['Engagement Name'] || '';\nconst engagementStatus = engagement.Status || 'Unknown';\nconst engagementType = engagement.Type || '';\n\n// === Company metadata ===\nconst companyId = $('Get Company').first().json.id;\nconst companyIndustry = company.Industry || '';\nconst companySize = company.Size || '';\nconst companyWebsite = company.Website || '';\n\nreturn [{\n  json: {\n    // === Identity ===\n    customer_email: intake.customer_email,\n    first_name: intake.first_name,\n    last_name: intake.last_name,\n    user_id: intake.user_id,\n    client_name: clientName,\n\n    // === Process intake ===\n    process_name: intake.process_name,\n    frustration_type: intake.frustration_type,\n    monthly_volume: intake.monthly_volume,\n    monthly_volume_raw: intake.monthly_volume_raw,\n    time_per_instance: intake.time_per_instance,\n    hourly_rate: intake.hourly_rate,\n    error_rate: intake.error_rate,\n    tools_involved: intake.tools_involved,           // string for AI prompts/report\ntools_involved_array: intake.tools_involved_array, // array for Airtable multi-select\n    decision_complexity: intake.decision_complexity,\n    ideal_state: intake.ideal_state,\n    freed_time_impact: intake.freed_time_impact,\n\n    // === Sales qualification ===\n    urgency: intake.urgency,\n    urgency_raw: intake.urgency_raw,\n    decision_maker: intake.decision_maker,\n    decision_maker_raw: intake.decision_maker_raw,\n    lead_quality: intake.lead_quality,\n\n    // === CRM context ===\n    engagement_id: engagementId,\n    engagement_name: engagementName,\n    engagement_status: engagementStatus,\n    engagement_type: engagementType,\n    company_id: companyId,\n    company_industry: companyIndustry,\n    company_size: companySize,\n    company_website: companyWebsite,\n\n    // === Metadata ===\n    report_date: intake.report_date\n  }\n}];"},"id":"2d8ef689-731a-43c1-ac7c-a652527e8ed3","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8d6cd98b-4f1e-4e0a-91a1-b77f598f6bd4","leftValue":"={{ $json.process_name }}","rightValue":"={{ $json.customer_email }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1296,0],"id":"b28e1e69-8f3f-429e-8b85-6a69d4ee09d2","name":"Validate Intake"},{"parameters":{"base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblqy20VkDmeTY8jT","mode":"list","cachedResultName":"Engagements","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblqy20VkDmeTY8jT"},"id":"={{ $json.user_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[528,0],"id":"d66e5608-0fe5-4039-b417-06d9963a35ca","name":"Get Engagement","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app8ABf1yhcK32BSW","mode":"list","cachedResultName":"Atomi CRM","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW"},"table":{"__rl":true,"value":"tblr4vdY1UtdP59O1","mode":"list","cachedResultName":"AI Time Audit Intake Form","cachedResultUrl":"https://airtable.com/app8ABf1yhcK32BSW/tblr4vdY1UtdP59O1"},"columns":{"mappingMode":"defineBelow","value":{"Name":"=AI Time Audit for {{ $('Build Context').item.json.client_name }}","What is the specific manual process we are auditing today?":"={{ $('Build Context').item.json.process_name }}","What is the biggest frustration with this process right now?":"={{ $('Build Context').item.json.frustration_type }}","Roughly how many times is this task performed every month?":"={{ $('Build Context').item.json.monthly_volume_raw }}","How long does it take to complete one instance of this task?":"={{ $('Build Context').item.json.time_per_instance }}","What is the approximate hourly cost of the person doing this work?":"={{ $('Build Context').item.json.hourly_rate }}","How often do mistakes happen that require manual fixing or re-entry?":"={{ $('Build Context').item.json.error_rate }}","Which tools are involved in this process? (Select all that apply)":"={{ $('Build Context').item.json.tools_involved_array }}","How much \"thinking\" is required to do this task?":"={{ $('Build Context').item.json.decision_complexity }}","In a perfect world, if this ran smoothly without manual work, what would the result look like?":"={{ $('Build Context').item.json.ideal_state }}","If we freed up this time for your team, what high-value work would they do instead?":"={{ $('Build Context').item.json.freed_time_impact }}","How urgently do you need to solve this?":"={{ $('Build Context').item.json.urgency_raw }}","If the audit shows a clear ROI, who makes the decision to move forward?":"={{ $('Build Context').item.json.decision_maker_raw }}","Engagement":"={{ [$('Build Context').item.json.engagement_id] }}","Form Email":"={{ $('Build Context').item.json.customer_email }}","Form First Name":"={{ $('Build Context').item.json.first_name }}","Form Surname":"={{ $('Build Context').item.json.last_name }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the specific manual process we are auditing today?","displayName":"What is the specific manual process we are auditing today?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"What is the biggest frustration with this process right now?","displayName":"What is the biggest frustration with this process right now?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It takes too long and delays other work.","value":"It takes too long and delays other work."},{"name":"Errors happen too often and need fixing.","value":"Errors happen too often and need fixing."},{"name":"It’s a bottleneck stopping us from growing.","value":"It’s a bottleneck stopping us from growing."},{"name":"The team is frustrated or burnt out from doing it.","value":"The team is frustrated or burnt out from doing it."}],"readOnly":false,"removed":false},{"id":"Roughly how many times is this task performed every month?","displayName":"Roughly how many times is this task performed every month?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How long does it take to complete one instance of this task?","displayName":"How long does it take to complete one instance of this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"5–15 minutes","value":"5–15 minutes"},{"name":"15–30 minutes","value":"15–30 minutes"},{"name":"30–60 minutes","value":"30–60 minutes"},{"name":"1–2 hours","value":"1–2 hours"},{"name":"2+ hours","value":"2+ hours"},{"name":"5-15min","value":"5-15min"}],"readOnly":false,"removed":false},{"id":"What is the approximate hourly cost of the person doing this work?","displayName":"What is the approximate hourly cost of the person doing this work?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"$50-75/hr","value":"$50-75/hr"},{"name":"$75-100/hr","value":"$75-100/hr"},{"name":"$100-150/hr","value":"$100-150/hr"},{"name":"$150+/hr","value":"$150+/hr"},{"name":"Not sure","value":"Not sure"}],"readOnly":false,"removed":false},{"id":"How often do mistakes happen that require manual fixing or re-entry?","displayName":"How often do mistakes happen that require manual fixing or re-entry?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Rarely (under 2%)","value":"Rarely (under 2%)"},{"name":"Occasionally (approx. 5%)","value":"Occasionally (approx. 5%)"},{"name":"Often (10% or more)","value":"Often (10% or more)"},{"name":"Occasionally (~5%)","value":"Occasionally (~5%)"}],"readOnly":false,"removed":false},{"id":"Which tools are involved in this process? (Select all that apply)","displayName":"Which tools are involved in this process? (Select all that apply)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Email (Gmail, Outlook)","value":"Email (Gmail, Outlook)"},{"name":"Spreadsheets (Excel, Google Sheets)","value":"Spreadsheets (Excel, Google Sheets)"},{"name":"Accounting (Xero, QuickBooks, MYOB)","value":"Accounting (Xero, QuickBooks, MYOB)"},{"name":"CRM (Salesforce, HubSpot, Dynamics)","value":"CRM (Salesforce, HubSpot, Dynamics)"},{"name":"Documents (PDFs, Images, Word)","value":"Documents (PDFs, Images, Word)"},{"name":"Other Web Portals or Legacy Apps.","value":"Other Web Portals or Legacy Apps."},{"name":"Other","value":"Other"},{"name":"Accounting (Xero","value":"Accounting (Xero"},{"name":"QuickBooks","value":"QuickBooks"},{"name":"MYOB)","value":"MYOB)"},{"name":"Spreadsheets (Excel","value":"Spreadsheets (Excel"},{"name":"Google Sheets)","value":"Google Sheets)"}],"readOnly":false,"removed":false},{"id":"How much \"thinking\" is required to do this task?","displayName":"How much \"thinking\" is required to do this task?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah).","value":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah)."},{"name":"Judgment Calls: \"Read the email and decide which department handles it.\"","value":"Judgment Calls: \"Read the email and decide which department handles it.\""},{"name":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\"","value":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\""},{"name":"Simple rules with occasional judgment calls","value":"Simple rules with occasional judgment calls"}],"readOnly":false,"removed":false},{"id":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","displayName":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"If we freed up this time for your team, what high-value work would they do instead?","displayName":"If we freed up this time for your team, what high-value work would they do instead?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"How urgently do you need to solve this?","displayName":"How urgently do you need to solve this?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"It's painful, but we can cope for now.","value":"It's painful, but we can cope for now."},{"name":"It's actively blocking our growth or costing us money.","value":"It's actively blocking our growth or costing us money."},{"name":"This is a top-3 priority for this quarter.","value":"This is a top-3 priority for this quarter."}],"readOnly":false,"removed":false},{"id":"If the audit shows a clear ROI, who makes the decision to move forward?","displayName":"If the audit shows a clear ROI, who makes the decision to move forward?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"I can approve this myself.","value":"I can approve this myself."},{"name":"I need to get leadership buy-in.","value":"I need to get leadership buy-in."},{"name":"We would need board or executive level approval.","value":"We would need board or executive level approval."}],"readOnly":false,"removed":false},{"id":"Engagement","displayName":"Engagement","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company (from Engagement)","displayName":"Company (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Contact (from Engagement)","displayName":"Contact (from Engagement)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Form Email","displayName":"Form Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form First Name","displayName":"Form First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Form Surname","displayName":"Form Surname","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[1616,0],"id":"4d8286b7-a444-45dd-b1b9-6f6515a724b3","name":"Create Intake Record","credentials":{"airtableTokenApi":{"id":"YNKGUsTWcyuZUaoK","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"// Calculate base metrics from intake data.\n// Conservative approach: midpoints with tapered cap on extreme volumes.\n// Display values use Australian formatting (commas, no currency symbol).\n\nconst ctx = $('Build Context').first().json;\n\n// === Lookup tables ===\n// Each range maps to [low, mid, high] so we have flexibility for future ranges.\nconst timeRanges = {\n  '5-15min':   { low: 5,   mid: 10,   high: 15 },\n  '15-30min':  { low: 15,  mid: 22.5, high: 30 },\n  '30-60min':  { low: 30,  mid: 45,   high: 60 },\n  '1-2hrs':    { low: 60,  mid: 90,   high: 120 },\n  '2+hrs':     { low: 120, mid: 150,  high: 240 }\n};\n\nconst rateRanges = {\n  '$50-75/hr':   { low: 50,  mid: 62.50,  high: 75 },\n  '$75-100/hr':  { low: 75,  mid: 87.50,  high: 100 },\n  '$100-150/hr': { low: 100, mid: 125.00, high: 150 },\n  '$150+/hr':    { low: 150, mid: 175.00, high: 250 }\n};\n\nconst errorDecimals = {\n  'Rarely (<2%)':     0.02,\n  'Occasionally (~5%)': 0.05,\n  'Often (10%+)':     0.12\n};\n\n// === Lookups with sensible fallbacks ===\nconst timeRange = timeRanges[ctx.time_per_instance] || timeRanges['15-30min'];\nconst rateRange = rateRanges[ctx.hourly_rate] || rateRanges['$75-100/hr'];\nconst errorDecimal = errorDecimals[ctx.error_rate] || 0.05;\nconst volume = parseInt(ctx.monthly_volume) || 0;\n\n// === Realism cap ===\n// Rationale: very high reported volumes tend to overstate true time —\n// people batch, take shortcuts, or only spend full time on harder cases.\n// Apply a gentle taper above 50 hours/month rather than a hard cliff.\nconst applyRealismTaper = (rawHours) => {\n  if (rawHours <= 50) return rawHours;\n  if (rawHours <= 100) return 50 + (rawHours - 50) * 0.9;\n  return 50 + (50 * 0.9) + (rawHours - 100) * 0.75;\n};\n\n// === Core calculations using midpoints ===\nconst monthlyHoursRaw = (volume * timeRange.mid) / 60;\nconst monthlyHours = Math.round(applyRealismTaper(monthlyHoursRaw));\nconst monthlyCost = Math.round(monthlyHours * rateRange.mid);\nconst annualCost = monthlyCost * 12;\nconst annualHours = monthlyHours * 12;\nconst reworkCost = Math.round(monthlyCost * errorDecimal * 1.5);\n\n// === Range bounds (for future use — confidence intervals, conservative quotes) ===\nconst monthlyHoursLow = Math.round(applyRealismTaper((volume * timeRange.low) / 60));\nconst monthlyHoursHigh = Math.round(applyRealismTaper((volume * timeRange.high) / 60));\nconst monthlyCostLow = Math.round(monthlyHoursLow * rateRange.low);\nconst monthlyCostHigh = Math.round(monthlyHoursHigh * rateRange.high);\n\n// === Australian-formatted display strings ===\nconst fmt = (n) => n.toLocaleString('en-AU');\n\nreturn [{\n  json: {\n    // === Inputs (handy for debugging) ===\n    time_minutes_midpoint: timeRange.mid,\n    hourly_rate_midpoint: rateRange.mid,\n    error_rate_decimal: errorDecimal,\n    volume_input: volume,\n\n    // === Primary calculations (mid-point estimates) ===\n    monthly_hours: monthlyHours,\n    monthly_cost: monthlyCost,\n    annual_hours: annualHours,\n    annual_cost: annualCost,\n    rework_cost: reworkCost,\n\n    // === Range bounds (for future confidence intervals) ===\n    monthly_hours_low: monthlyHoursLow,\n    monthly_hours_high: monthlyHoursHigh,\n    monthly_cost_low: monthlyCostLow,\n    monthly_cost_high: monthlyCostHigh,\n\n    // === Display formatted (en-AU) ===\n    monthly_hours_display: fmt(monthlyHours),\n    monthly_cost_display: fmt(monthlyCost),\n    annual_hours_display: fmt(annualHours),\n    annual_cost_display: fmt(annualCost),\n    rework_cost_display: fmt(reworkCost),\n    monthly_cost_range_display: `${fmt(monthlyCostLow)}–${fmt(monthlyCostHigh)}`\n  }\n}];"},"id":"a4c24150-0c4e-4549-881c-ce635b4b1b58","name":"Calc: Current State","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,0],"notesInFlow":false},{"parameters":{"jsCode":"const ctx = $('Build Context').first().json;\nconst metrics = $('Calc: Current State').first().json;\nconst savings = $('Calc: Automation Potential').first().json;\n\nconst cleanQuote = (s) => (s || '').trim().replace(/\"/g, '\\\\\"');\nconst orNotProvided = (s) => s && String(s).trim() ? s : 'not specified';\n\nconst userMessage = `The following is intake data and calculated figures from a paid AI Time Audit client. Use this data to generate the requested section of their report.\n\n<client_context>\nBusiness name: ${ctx.client_name}\nIndustry: ${orNotProvided(ctx.company_industry)}\nCompany size: ${orNotProvided(ctx.company_size)}\n</client_context>\n\n<process_audit>\nProcess being audited: ${ctx.process_name}\nPrimary frustration: ${ctx.frustration_type}\nMonthly volume: ${ctx.monthly_volume} times per month\nTime per instance: ${ctx.time_per_instance}\nHourly rate of person doing work: ${ctx.hourly_rate}\nError/rework rate: ${ctx.error_rate}\nTools currently involved: ${ctx.tools_involved}\nDecision complexity: ${ctx.decision_complexity}\n</process_audit>\n\n<client_voice>\nWhat they said about their ideal state:\n\"${cleanQuote(ctx.ideal_state)}\"\n\nWhat they would do with freed time:\n\"${cleanQuote(ctx.freed_time_impact)}\"\n</client_voice>\n\n<calculated_figures>\nCurrent monthly hours: ${metrics.monthly_hours}\nCurrent monthly cost: $${metrics.monthly_cost_display}\nCurrent annual cost: $${metrics.annual_cost_display}\nRework cost per month: $${metrics.rework_cost_display}\nAutomation percentage: ${savings.automation_percentage}%\nMonthly hours saved: ${savings.time_savings_monthly}\nMonthly cost saved: $${savings.cost_savings_monthly_display}\nAnnual cost saved: $${savings.cost_savings_annual_display}\nPayback period: ${savings.payback_period}\n</calculated_figures>\n\n<sales_signals>\nUrgency level: ${ctx.urgency}\nDecision-making authority: ${ctx.decision_maker}\n</sales_signals>`;\n\nreturn [{\n  json: {\n    ai_user_message: userMessage\n  }\n}];"},"id":"d7d9a156-ce97-4c89-aaa6-5e10b60fd2ff","name":"Build: AI Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,0]},{"parameters":{"jsCode":"// Calculate automation percentage AND apply to base metrics.\n// Replaces the AI-based P1 + Validate Pct nodes with deterministic logic.\n// The AI was just executing a lookup table — now we do it directly.\n\nconst ctx = $('Build Context').first().json;\nconst metrics = $('Calc: Current State').first().json;\n\n// === Decision Complexity → base percentage range ===\n// Use the midpoint of each documented range from the original P1 prompt.\nconst complexityBase = {\n  'Simple rules / no judgment':                     80, // range 75-85, mid 80\n  'Simple rules with occasional judgment calls':    68, // range 60-75, mid 67.5\n  'Requires context or experience':                 53, // range 45-60, mid 52.5\n  'Highly subjective / relationship-dependent':     38  // range 30-45, mid 37.5\n};\nlet pct = complexityBase[ctx.decision_complexity] || 55; // safe fallback\n\n// === Tool modifier ===\n// Categorise mentioned tools to determine modifier.\nconst tools = (ctx.tools_involved || '').toLowerCase();\nconst apiConnectedTools = ['xero', 'quickbooks', 'myob', 'hubspot', 'salesforce', \n                            'pipedrive', 'monday', 'asana', 'slack', 'gmail', \n                            'outlook', 'google workspace', 'm365', 'microsoft 365',\n                            'dynamics', 'zendesk', 'intercom', 'shopify', 'stripe'];\nconst manualIndicators = ['paper', 'phone', 'in-person', 'in person', 'physical mail',\n                           'fax', 'handwritten'];\nconst spreadsheetOnly = ['spreadsheet', 'excel', 'google sheets'];\n\nconst hasApiTools = apiConnectedTools.some(t => tools.includes(t));\nconst hasManualTools = manualIndicators.some(t => tools.includes(t));\nconst hasOnlySpreadsheets = spreadsheetOnly.some(t => tools.includes(t)) && !hasApiTools;\n\nif (hasManualTools) {\n  pct -= 8; // -5 to -10, use -8\n} else if (hasApiTools) {\n  pct += 3; // 0 to +5, use +3\n}\n// Spreadsheet-only: no change (per prompt rules)\n\n// === Volume modifier ===\n// High volume + simple decisions = +3\n// Low volume + complex decisions = -3\nconst volume = parseInt(ctx.monthly_volume) || 0;\nconst isSimpleDecision = ctx.decision_complexity === 'Simple rules / no judgment'\n  || ctx.decision_complexity === 'Simple rules with occasional judgment calls';\nconst isComplexDecision = ctx.decision_complexity === 'Requires context or experience'\n  || ctx.decision_complexity === 'Highly subjective / relationship-dependent';\n\nif (volume >= 50 && isSimpleDecision) {\n  pct += 3;\n} else if (volume < 10 && isComplexDecision) {\n  pct -= 3;\n}\n\n// === Apply hard bounds (30-85 per original spec) ===\nif (pct < 30) pct = 30;\nif (pct > 85) pct = 85;\n\n// === Round to nearest 5 (round DOWN per \"when in doubt, round down\" rule) ===\npct = Math.floor(pct / 5) * 5;\n\n// === Calculate savings using the percentage ===\nconst factor = pct / 100;\nconst timeSavingsMonthly  = Math.round(metrics.monthly_hours * factor);\nconst costSavingsMonthly  = Math.round(metrics.monthly_cost * factor);\nconst costSavingsAnnual   = costSavingsMonthly * 12;\nconst timeSavingsAnnual   = timeSavingsMonthly * 12;\n\n// === Range bounds (uses Calculate Metrics range output) ===\nconst costSavingsMonthlyLow  = Math.round(metrics.monthly_cost_low * factor);\nconst costSavingsMonthlyHigh = Math.round(metrics.monthly_cost_high * factor);\n\n// === Payback period ===\nconst implCost = 5000;\nconst paybackMonths = costSavingsMonthly > 0\n  ? Math.ceil(implCost / costSavingsMonthly)\n  : 0;\nconst paybackDisplay = paybackMonths <= 1\n  ? '1 month'\n  : paybackMonths <= 2\n    ? '1-2 months'\n    : `${paybackMonths - 1}-${paybackMonths} months`;\n\n// === Australian-formatted display strings ===\nconst fmt = (n) => n.toLocaleString('en-AU');\n\nreturn [{\n  json: {\n    automation_percentage: pct,\n    time_savings_monthly: timeSavingsMonthly,\n    time_savings_annual: timeSavingsAnnual,\n    cost_savings_monthly: costSavingsMonthly,\n    cost_savings_annual: costSavingsAnnual,\n    payback_period: paybackDisplay,\n    cost_savings_monthly_low: costSavingsMonthlyLow,\n    cost_savings_monthly_high: costSavingsMonthlyHigh,\n    time_savings_monthly_display: fmt(timeSavingsMonthly),\n    time_savings_annual_display: fmt(timeSavingsAnnual),\n    cost_savings_monthly_display: fmt(costSavingsMonthly),\n    cost_savings_annual_display: fmt(costSavingsAnnual),\n    cost_savings_range_display: `${fmt(costSavingsMonthlyLow)}–${fmt(costSavingsMonthlyHigh)}`,\n\n    // Diagnostic info (handy for debugging, no harm leaving in)\n    _decision_basis: {\n      complexity: ctx.decision_complexity,\n      complexity_base: complexityBase[ctx.decision_complexity],\n      tools_modifier: hasManualTools ? -8 : (hasApiTools ? 3 : 0),\n      volume_modifier: (volume >= 50 && isSimpleDecision) ? 3 : \n                        ((volume < 10 && isComplexDecision) ? -3 : 0),\n      final: pct\n    }\n  }\n}];"},"id":"4eb7fb8e-c19d-430d-bec6-2bcc57f5392d","name":"Calc: Automation Potential","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,0]},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the \"What can be automated\" section of a paid AI Time Audit report. Your job is to identify the specific repetitive, rule-based parts of the client's process that can run without human intervention.\n\nThe client paid $299 for this report. They need to recognise their own process in your bullets — generic language reads as a sales pitch and breaks trust. Specificity earns trust.\n\n## What belongs in this list\nSteps where the work follows clear inputs to clear outputs. Examples:\n- \"Pulling completed job data from your job management system\" — yes (clear input, clear output)\n- \"Generating draft invoices in Xero\" — yes (mechanical action on data)\n- \"Sending invoice reminders to overdue clients\" — yes (rule-triggered communication)\n\n## What does NOT belong in this list (save these for the human-required section)\n- Reading email context to decide what to do\n- Negotiating terms or handling disputes\n- Approving exceptions or unusual cases\n- Anything requiring judgement about the client relationship\n\n## Format\n- 3 to 6 bullets, no more\n- Start each bullet with a present participle: \"Pulling,\" \"Generating,\" \"Sending,\" \"Logging,\" \"Matching,\" \"Scheduling\"\n- Reference the client's actual tools by name where they mentioned them (the intake data has their tool list)\n- Each bullet must be a concrete action, not a category — bad: \"data management,\" good: \"pulling completed job data from your job management system\"\n- Markdown bullets only (\"- \"), no headings, no preamble\n\nReturn only the bullet list. Nothing before, nothing after.","maxTokens":300,"temperature":0.3}},"id":"2c53e47b-14ea-474f-a501-df73ed71c46c","name":"AI: Automatable Steps","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3008,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the \"What still needs a human\" section of a paid AI Time Audit report.\n\nThis is the most important section emotionally. The client is paying $299 to see if their job is at risk. Your job is to reassure them: automation removes the repetitive grind, but the work that actually matters — judgement, relationships, exceptions — stays with their team.\n\nFrame these steps as VALUABLE work, not leftovers. The implicit message: \"This is what you should be doing, and now you'll have time for it.\"\n\n## What belongs in this list\nWork that requires judgement, context, relationships, or handling exceptions. Examples:\n- \"Reviewing invoices for jobs with scope changes or disputes\" — yes (judgement on edge cases)\n- \"Negotiating payment arrangements with overdue clients\" — yes (relationship work)\n- \"Approving credits or adjustments outside standard rules\" — yes (authority + judgement)\n- \"Handling customer queries about charges\" — yes (context-sensitive responses)\n\n## What does NOT belong (save these for the automatable section)\n- Anything mechanical with clear rules\n- Data entry, copying, formatting\n- Triggered notifications\n\n## Format\n- 2 to 4 bullets, no more\n- Start each bullet with a present participle: \"Reviewing,\" \"Handling,\" \"Approving,\" \"Deciding,\" \"Negotiating,\" \"Escalating\"\n- Reference the client's actual process language where possible\n- Each bullet must be concrete — bad: \"complex decisions,\" good: \"reviewing invoices for jobs with scope changes or disputes\"\n- Markdown bullets only (\"- \"), no headings, no preamble\n\nReturn only the bullet list. Nothing before, nothing after.","maxTokens":200,"temperature":0.3}},"id":"400f0581-ef1f-4a99-9950-968fe2a5085c","name":"AI: Human Steps","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3296,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the \"Solution Preview\" paragraph for a paid AI Time Audit report.\n\nThis paragraph is where the client first feels seen. They've described their pain — your job is to describe what their world looks like AFTER automation, in their language, with their tools. They should read it and think: \"Yes, that's exactly what I need.\"\n\n## Voice and framing\nWrite to the business owner, not the developer. No technical jargon. No mention of APIs, nodes, webhooks, workflows, scripts, integrations, or anything that hints at \"how\" it's built. Stay focused on \"what changes for them.\"\n\nUse contrast: describe the new state against the old pain. The pattern is \"Instead of [current pain], the system [new behaviour].\" Example:\n\n\"The automation would connect your job submission process directly to Xero, automatically creating draft invoices from the job details instead of your team manually entering data across spreadsheets and then into the accounting system. Each month, 90 invoices would be drafted and ready for quick review, freeing your team to focus on chasing new work and coordinating crew schedules.\"\n\nThat's 56 words. Hits the contrast. Names their tools. Quantifies the impact. No jargon.\n\n## Format\n- Exactly ONE paragraph\n- 40 to 60 words\n- Start with \"The automation would...\"\n- Reference their actual tools and process language\n- No disclaimers or caveats — the next sentence in the report handles that for you\n\nReturn only the paragraph. Nothing before, nothing after.","maxTokens":150,"temperature":0.4}},"id":"ef55e947-4299-4234-a6ab-c4ec32286a11","name":"AI: Solution Approach","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3568,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are extracting two short phrases from intake data that complete a sentence in the AI Time Audit report.\n\nThe sentence will read:\n\"The core workflow would connect [KEY_INTEGRATIONS], triggered automatically when [TRIGGER_EVENT].\"\n\nYour job is to fill in those two phrases.\n\n## KEY_INTEGRATIONS\nNames the 2-3 tools or systems being connected. Use the client's exact tool names where they provided them.\n\nGood examples:\n- \"your job tracking spreadsheet to Xero\"\n- \"your CRM to your accounting software\"\n- \"your Outlook inbox to your project management tool\"\n\nWeak examples:\n- \"various business systems\" (too vague)\n- \"tool A and tool B via API and webhook\" (technical, also two words too many)\n\nMaximum 15 words.\n\n## TRIGGER_EVENT\nNames the specific observable event that kicks off the automation. Use the client's process language.\n\nGood examples:\n- \"a job status changes to Complete\"\n- \"a new lead fills out your contact form\"\n- \"an invoice is approved by the team lead\"\n\nWeak examples:\n- \"certain conditions are met\" (vague, abstract)\n- \"when relevant\" (not an event)\n\nMaximum 15 words.\n\n## Output format\nReturn EXACTLY this two-line format. The labels matter — they're parsed downstream.\n\nKEY_INTEGRATIONS: [your phrase]\nTRIGGER_EVENT: [your phrase]\n\nNo other text. No markdown. No quotes around the phrases.","maxTokens":100,"temperature":0.3}},"id":"a8b81ef5-0b0d-4a7d-9aff-a7d5881f5007","name":"AI: Integrations + Trigger","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[3856,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing one short phrase that completes a sentence in the AI Time Audit report.\n\nThe sentence will read:\n\"Your team would only step in for [YOUR PHRASE].\"\n\nThis phrase reassures the client that automation handles the routine but their team retains control over what matters.\n\n## Voice\nCalm and specific. The tone says \"you stay in charge of the important stuff.\" Reference the client's actual process — generic phrases break trust.\n\nGood examples:\n- \"flagged invoices that exceed usual amounts or have notes requiring review\"\n- \"client requests that fall outside standard pricing rules\"\n- \"quotes that need negotiation or unusual payment terms\"\n\nWeak examples:\n- \"unusual situations\" (too vague)\n- \"edge cases\" (jargon, abstract)\n- \"when something goes wrong\" (starts with \"when,\" sounds like things break)\n\n## Format\n- ONE phrase, 8 to 20 words\n- Must start with a noun (not \"when\" or \"if\")\n- Must reference the client's actual process or tools\n\nReturn only the phrase. No \"Your team would\" wrapper, no quotes, no preamble.","maxTokens":80,"temperature":0.3}},"id":"6971d62f-9c30-4a14-8516-02d0da7664a2","name":"AI: Exception Handling","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[4128,0],"credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the executive summary for a paid AI Time Audit report — the very first paragraph the client reads on page 1. There is limited space.\n\n## Output rules\n- Exactly 4 sentences\n- 60-80 words total — this is a hard constraint\n- Australian English, \"your\" not \"the client's\"\n- Use exact numbers from the calculated figures (e.g. \"75%\" not \"around 75%\")\n- Return only the paragraph — no preamble, no quotes\n\n## Sentence pattern (follow exactly)\n\n1. The pain — name the process, monthly hours, annual cost. Pick the verb by cost:\n   - under $500/month: \"drains\"\n   - $500-$2,000: \"consumes\"\n   - $2,000-$5,000: \"burns\"\n   - over $5,000: \"haemorrhages\"\n\n2. The opportunity — state automation %, monthly hours saved, and what the team will do with the freed time (use the client's verbatim words from <client_voice>, lowercase first letter for grammar).\n\n3. The reassurance — state the remaining % that stays human, framed positively. Pick the phrase by decision complexity:\n   - Simple rules: \"ensure quality control\"\n   - Judgement calls: \"handle the exceptions that need experience\"\n   - Complex decisions: \"drive the judgement calls and relationships that matter\"\n\n4. The ROI — one short line on payback. Pattern: \"This pays for itself in [payback period], then delivers pure savings.\"\n\n## Reference output (71 words — match this density)\n\n\"Your monthly client invoicing currently burns 15 hours each month — that is $22,500 annually leaking out of your operations. We can automate 75% of this work, reclaiming 11 hours every month for your team to focus on following up on new work and setting up the next day for the crew. The remaining 25% stays human to ensure quality control. This pays for itself in under 6 months, then delivers pure savings.\"\n\n## Critical\n- Convert the descriptive process input into a clean noun phrase that reads naturally mid-sentence (e.g. \"Monthly client invoicing is taking too long\" → \"monthly client invoicing\")\n- If the client's freed-time text is long or awkward, you may lightly trim it to fit, but preserve their words and meaning\n- 60-80 words total — count before returning","maxTokens":200,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[4480,0],"id":"efb83b70-addc-4eaf-bab8-0495510496d7","name":"AI: Exec Summary","credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the \"Current State\" narrative for page 1 of a paid AI Time Audit report. It sits below a cost table and does two jobs: reinforce the financial pain in plain words, then pivot to the human and strategic cost that numbers alone can't show.\n\n## Output rules\n- Exactly 4 paragraphs, separated by blank lines\n- 90-130 words total — this is a hard constraint\n- Australian English, \"you\" and \"your\" throughout\n- Return only the four paragraphs — no preamble, no headings\n\n## Paragraph pattern (follow exactly)\n\nP1 — The financial pain (2 sentences)\nState the monthly cost and annual cost in dollars. End with a phrase that reframes it as wasted human effort. Reference the process by a clean noun phrase.\n\nP2 — The pivot (1 short standalone line)\nA single sentence that pivots from money to the deeper cost. Examples: \"But the real cost isn't money.\" / \"The bigger problem isn't the dollars.\" Pick one that fits the tone of P3.\n\nP3 — The human cost (2-3 sentences)\nUse the client's stated frustration as the seed and elaborate naturally. Pick the lead sentence based on their frustration:\n- \"It takes too long...\" → lead with the slowdown effect on other work\n- \"Errors happen too often...\" → lead with the trust/credibility erosion from mistakes\n- \"It's a bottleneck...\" → lead with the growth ceiling\n- \"The team is frustrated or burnt out...\" → lead with the burnout and trapped capacity\nDo NOT invent specific facts not implied by the intake. Keep elaboration general but emotionally true.\n\nP4 — The opportunity cost (2-3 sentences)\nUse the client's verbatim \"freed time\" words to describe what they're missing. End with a sentence about where growth or value actually comes from in their business.\n\n## Reference output (107 words — match this density)\n\nEvery month your monthly client invoicing stays manual, it's costing you $1,875. That's $22,500 per year for work that shouldn't require human time.\n\nBut the real cost isn't money.\n\nYour team is frustrated and burnt out from doing it. That frustration creates a bottleneck. Your best people are trapped in admin work.\n\nEvery hour spent here is an hour not spent following up on new work and setting up the next day for the crew. That's where your growth actually happens.\n\n## Anti-patterns — DO NOT write like this\nThe output should sound like a sharp business consultant, not an essay. Avoid these AI tells:\n\n- Vague profundity: \"That energy isn't coming back once it's spent\" / \"These are the moments that matter\" / \"The clock keeps ticking\" — concrete cost statements only, no philosophical asides\n- Reflexive metaphors: \"leaking\", \"haemorrhaging\", \"wheel spinning\", \"swimming upstream\" — use plain language unless a specific verb is genuinely sharper\n- Hedge words: \"perhaps\", \"in many ways\", \"to some extent\", \"arguably\" — write with conviction or don't write the sentence\n- Repetition for emphasis: \"Day after day. Hour after hour.\" — one sentence, then move on\n- Gratuitous symbolism: \"every minute spent here is a minute lost forever\" — concrete impact only\n- Em-dashes used for drama: keep them functional (parenthetical clauses) not theatrical\n\nTest before returning: would a sharp business consultant actually say this sentence in a meeting, or would they roll their eyes?\n\n## Critical\n- Convert the descriptive process input into a clean noun phrase\n- Use the client's verbatim \"freed time\" words in P4 (lowercase first letter for mid-sentence flow if needed)\n- The frustration in P3 must reflect what they actually said\n- 90-130 words total — count before returning","maxTokens":350,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[4832,0],"id":"4fe4deac-4aa6-4a46-8411-ea3036fe95bf","name":"AI: Current State","credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $('Build: AI Context').first().json.ai_user_message }}"}]},"options":{"system":"You are writing the introductory paragraph for the \"Automation Potential\" section on page 2 of a paid AI Time Audit report. It sits at the top of the section and frames the analysis that follows.\n\n## Output rules\n- 2-3 sentences total\n- 50-70 words — this is a hard constraint\n- Australian English\n- Return only the paragraph — no preamble, no headings\n- Format as TWO short paragraphs separated by a blank line (see structure below)\n\n## Structure (follow exactly)\n\nParagraph 1 (1 sentence) — The framed analysis\nPattern: \"Based on your current use of [TOOLS], and the [DECISION COMPLEXITY] in your [PROCESS NOUN], our analysis shows that [X]% of the process can be immediately automated.\"\n\n- Convert the verbose tool list into a natural prose phrase. Pick the most likely actual tools from each category. Examples:\n  - \"Accounting (Xero, QuickBooks, MYOB), Spreadsheets (Excel, Google Sheets)\" → \"Xero and Excel\"\n  - \"CRM (Salesforce, HubSpot, Dynamics)\" → \"your CRM\"\n  - \"Email (Gmail, Outlook), Documents (PDFs, Images, Word)\" → \"Outlook and Word\"\n  - If unsure which specific tool, use a generic noun (\"your CRM\", \"your accounting software\")\n- Use the decision complexity verbatim, lowercased mid-sentence\n- Convert the descriptive process input into a clean noun phrase\n\n[blank line]\n\nParagraph 2 (1-2 sentences) — The split punchline\nA short paragraph framing what gets automated vs what stays human. Make it concrete to their process. Two-part rhythm works well — first the automation, then what they retain. Examples:\n- \"We automate the rules, and you handle the exceptions. Manual data entry disappears without losing control over the final output.\"\n- \"The repetitive lookups and entries go away. Your team keeps the judgement calls that drive the relationship.\"\n- \"Routine processing runs in the background. You stay in control of the decisions that matter.\"\n\nPick or compose one that fits the decision complexity:\n- Simple rules → focus on data entry / mechanical work disappearing\n- Judgement calls → focus on rules vs exceptions split\n- Complex decisions → focus on automation handling prep work, humans making the call\n\n## Reference output (62 words — match this density and structure)\n\nBased on your current use of Xero and Excel, and the simple rules with occasional judgment calls in your monthly client invoicing, our analysis shows that 75% of the process can be immediately automated.\n\nWe automate the rules, and you handle the exceptions. Manual data entry disappears without losing control over the final output.\n\n## Anti-patterns — DO NOT write like this\n- Hedging: \"approximately 75%\" / \"around three quarters\" — use the exact number\n- Vague tools: \"various business systems\" / \"your existing tech stack\" — name them\n- Sales-speak: \"transformative\", \"game-changing\", \"revolutionary\" — plain language only\n- Filler punchlines: \"The future of work is here\" / \"Welcome to a smarter way\" — concrete value only\n- Single block of text: must be TWO paragraphs separated by a blank line\n\n## Critical\n- Numbers must be exact\n- Tool names should feel real, not corporate\n- 50-70 words total — count before returning\n- Output must be TWO paragraphs separated by a blank line","maxTokens":150,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[5184,0],"id":"c0953956-4573-4487-90cf-580d6c96aa92","name":"AI: Automation Potential","credentials":{"anthropicApi":{"id":"pq8bBs6hhdhmWgz2","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Bundle all AI outputs with upstream data into one clean object.\n// This is the bridge between the AI generation phase and the report assembly phase.\n// Every downstream node (Build Replacements, Prepare Email, etc.) reads from here.\n\n// === Helper: defensive AI text extraction ===\n// LangChain Anthropic node returns content as an array of text objects.\n// Order matters here — check the most-likely path first.\nfunction extractAiText(nodeName) {\n  try {\n    const data = $(nodeName).first().json;\n    \n    // Most likely path: content array with text objects\n    // (LangChain Anthropic node format)\n    if (Array.isArray(data.content) && data.content[0]?.text) {\n      return String(data.content[0].text).trim();\n    }\n    \n    // Fallback: direct text field\n    if (typeof data.text === 'string') {\n      return data.text.trim();\n    }\n    \n    // Fallback: content as string\n    if (typeof data.content === 'string') {\n      return data.content.trim();\n    }\n    \n    // Fallback: nested message structure\n    if (data.message?.content?.[0]?.text) {\n      return String(data.message.content[0].text).trim();\n    }\n    \n    if (typeof data.message?.content === 'string') {\n      return data.message.content.trim();\n    }\n    \n    return ''; // nothing found\n  } catch (e) {\n    return '';\n  }\n}\n\n// === Helper: strip leading \"- \" from each line of a bullet list ===\n// The Google Doc template provides its own bullet formatting, so the AI's\n// markdown-style \"- \" prefix would produce double bullets.\nfunction cleanBulletList(text) {\n  return text\n    .split('\\n')\n    .map(line => line.replace(/^\\s*-\\s*/, ''))\n    .filter(line => line.trim())\n    .join('\\n');\n}\n\n// === Gather upstream data ===\nconst ctx = $('Build Context').first().json;\nconst metrics = $('Calc: Current State').first().json;\nconst savings = $('Calc: Automation Potential').first().json;\n\n// === Extract AI outputs ===\n// Narrative sections (3 new)\nconst execSummary           = extractAiText('AI: Exec Summary');\nconst currentState          = extractAiText('AI: Current State');\nconst automationPotential   = extractAiText('AI: Automation Potential');\n\n// Analysis sections (5 existing)\nconst automatableStepsRaw   = extractAiText('AI: Automatable Steps');\nconst humanStepsRaw         = extractAiText('AI: Human Steps');\nconst solutionApproach      = extractAiText('AI: Solution Approach');\nconst integrationsRaw       = extractAiText('AI: Integrations + Trigger');\nconst exceptionHandling     = extractAiText('AI: Exception Handling');\n\n// === Clean bullet lists (strip leading \"- \" so template bullets don't double up) ===\nconst automatableSteps = cleanBulletList(automatableStepsRaw);\nconst humanSteps       = cleanBulletList(humanStepsRaw);\n\n// === Parse the two-line Integrations + Trigger output ===\nlet keyIntegrations = '';\nlet triggerEvent = '';\nfor (const line of integrationsRaw.split('\\n')) {\n  const trimmed = line.trim();\n  if (trimmed.startsWith('KEY_INTEGRATIONS:')) {\n    keyIntegrations = trimmed.replace('KEY_INTEGRATIONS:', '').trim();\n  }\n  if (trimmed.startsWith('TRIGGER_EVENT:')) {\n    triggerEvent = trimmed.replace('TRIGGER_EVENT:', '').trim();\n  }\n}\n\n// === Derive a short \"remaining human work\" phrase for the exec summary ===\n// KNOWN LIMITATION: Currently uses the first human step bullet, lowercased.\n// Can produce awkward grammar in the exec summary sentence. Worth revisiting.\n// Note: we derive this from the RAW list (before bullet stripping) because\n// the raw format is predictable for parsing.\nconst humanStepLines = humanStepsRaw.split('\\n').filter(l => l.trim().startsWith('-'));\nconst remainingHumanWork = humanStepLines.length > 0\n  ? humanStepLines[0].replace(/^-\\s*/, '').toLowerCase().trim()\n  : 'tasks requiring judgement';\n\n// === Validation ===\n// Non-blocking: we flag issues but pass content through. Teams notification\n// will surface failures so you can manually review the draft report.\n// Validation is done against RAW outputs to catch AI drift before cleaning.\nconst validationIssues = [];\n\n// Automatable steps: 3-6 bullets\nconst autoStepCount = automatableStepsRaw.split('\\n').filter(l => l.trim().startsWith('-')).length;\nif (autoStepCount < 3 || autoStepCount > 6) {\n  validationIssues.push(`Automatable Steps has ${autoStepCount} bullets (expected 3-6)`);\n}\n\n// Human steps: 2-4 bullets\nif (humanStepLines.length < 2 || humanStepLines.length > 4) {\n  validationIssues.push(`Human Steps has ${humanStepLines.length} bullets (expected 2-4)`);\n}\n\n// Solution approach starts correctly\nif (!solutionApproach.startsWith('The automation would')) {\n  validationIssues.push('Solution Approach does not start with \"The automation would\"');\n}\n\n// Solution approach word count\nconst solutionWords = solutionApproach.split(/\\s+/).filter(w => w.length > 0).length;\nif (solutionWords < 35 || solutionWords > 65) {\n  validationIssues.push(`Solution Approach is ${solutionWords} words (expected 40-60, allow 35-65)`);\n}\n\n// Integrations + Trigger parsed\nif (!keyIntegrations) {\n  validationIssues.push('KEY_INTEGRATIONS could not be parsed from AI output');\n}\nif (!triggerEvent) {\n  validationIssues.push('TRIGGER_EVENT could not be parsed from AI output');\n}\n\n// Exception handling word count and start\nconst exceptionWords = exceptionHandling.split(/\\s+/).filter(w => w.length > 0).length;\nif (exceptionWords < 8 || exceptionWords > 20) {\n  validationIssues.push(`Exception Handling is ${exceptionWords} words (expected 8-20)`);\n}\nif (/^(when|if)/i.test(exceptionHandling)) {\n  validationIssues.push('Exception Handling starts with \"when\" or \"if\" (should start with a noun)');\n}\n\n// Exec Summary word count (60-80, allow 50-90)\nconst execWords = execSummary.split(/\\s+/).filter(w => w.length > 0).length;\nif (execWords < 50 || execWords > 90) {\n  validationIssues.push(`Exec Summary is ${execWords} words (expected 60-80)`);\n}\n\n// Current State word count (90-130, allow 80-150)\nconst currentStateWords = currentState.split(/\\s+/).filter(w => w.length > 0).length;\nif (currentStateWords < 80 || currentStateWords > 150) {\n  validationIssues.push(`Current State is ${currentStateWords} words (expected 90-130)`);\n}\n\n// Automation Potential word count (50-70, allow 40-90)\nconst autoPotentialWords = automationPotential.split(/\\s+/).filter(w => w.length > 0).length;\nif (autoPotentialWords < 40 || autoPotentialWords > 90) {\n  validationIssues.push(`Automation Potential is ${autoPotentialWords} words (expected 50-70)`);\n}\n\n// === Catch silent extraction failures ===\nconst extractionFailures = [];\nif (!execSummary) extractionFailures.push('Exec Summary');\nif (!currentState) extractionFailures.push('Current State');\nif (!automationPotential) extractionFailures.push('Automation Potential');\nif (!automatableStepsRaw) extractionFailures.push('Automatable Steps');\nif (!humanStepsRaw) extractionFailures.push('Human Steps');\nif (!solutionApproach) extractionFailures.push('Solution Approach');\nif (!integrationsRaw) extractionFailures.push('Integrations + Trigger');\nif (!exceptionHandling) extractionFailures.push('Exception Handling');\nif (extractionFailures.length > 0) {\n  validationIssues.unshift(`AI EXTRACTION FAILED for: ${extractionFailures.join(', ')}`);\n}\n\n// === Build the output bundle ===\nreturn [{\n  json: {\n    // === Upstream data passthrough ===\n    ...ctx,\n    ...metrics,\n    ...savings,\n\n    // === AI narrative sections ===\n    exec_summary: execSummary,\n    current_state: currentState,\n    automation_potential_intro: automationPotential,\n\n    // === AI analysis sections (bullets cleaned for template insertion) ===\n    automatable_steps: automatableSteps,\n    human_required_steps: humanSteps,\n    solution_approach: solutionApproach,\n    key_integrations: keyIntegrations,\n    trigger_event: triggerEvent,\n    exception_handling: exceptionHandling,\n    remaining_human_work: remainingHumanWork,\n\n    // === Quality status ===\n    validation_passed: validationIssues.length === 0,\n    validation_issues: validationIssues,\n    validation_summary: validationIssues.length === 0 \n      ? 'PASSED' \n      : `${validationIssues.length} issue(s): ${validationIssues.slice(0, 2).join('; ')}${validationIssues.length > 2 ? '...' : ''}`\n  }\n}];"},"id":"d4a3eadf-8518-41d1-a49b-510781d07052","name":"Bundle: Audit Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[5568,0]},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{{company_name}}","replaceText":"={{ $('Bundle: Audit Data').item.json.client_name }}"},{"action":"replaceAll","text":"{{exec_summary}}","replaceText":"={{ $('Bundle: Audit Data').item.json.exec_summary }}"},{"action":"replaceAll","text":"{{monthly_hours}}","replaceText":"={{ $('Bundle: Audit Data').item.json.monthly_hours_display }}"},{"action":"replaceAll","text":"{{monthly_cost}}","replaceText":"={{ $('Bundle: Audit Data').item.json.monthly_cost_display }}"},{"action":"replaceAll","text":"{{annual_cost}}","replaceText":"={{ $('Bundle: Audit Data').item.json.annual_cost_display }}"},{"action":"replaceAll","text":"{{error_rate}}","replaceText":"={{ $('Bundle: Audit Data').item.json.error_rate }}"},{"action":"replaceAll","text":"{{rework_cost}}","replaceText":"={{ $('Bundle: Audit Data').item.json.rework_cost_display }}"},{"action":"replaceAll","text":"{{current_state_paragraph}}","replaceText":"={{ $('Bundle: Audit Data').item.json.current_state }}"},{"action":"replaceAll","text":"{{automation_potential_opening}}","replaceText":"={{ $('Bundle: Audit Data').item.json.automation_potential_intro }}"},{"action":"replaceAll","text":"{{automatable_steps}}","replaceText":"={{ $('Bundle: Audit Data').item.json.automatable_steps }}"},{"action":"replaceAll","text":"{{human_required_steps}}","replaceText":"={{ $('Bundle: Audit Data').item.json.human_required_steps }}"},{"action":"replaceAll","text":"{{solution_approach}}","replaceText":"={{ $('Bundle: Audit Data').item.json.solution_approach }}"},{"action":"replaceAll","text":"{{key_integrations}}","replaceText":"={{ $('Bundle: Audit Data').item.json.key_integrations }}"},{"action":"replaceAll","text":"{{trigger_event}}","replaceText":"={{ $('Bundle: Audit Data').item.json.trigger_event }}"},{"action":"replaceAll","text":"{{exception_handling}}","replaceText":"={{ $('Bundle: Audit Data').item.json.exception_handling }}"},{"action":"replaceAll","text":"{{cost_savings_monthly}}","replaceText":"={{ $('Bundle: Audit Data').item.json.cost_savings_monthly_display }}"},{"action":"replaceAll","text":"{{cost_savings_annual}}","replaceText":"={{ $('Bundle: Audit Data').item.json.cost_savings_annual_display }}"},{"action":"replaceAll","text":"{{time_savings_monthly}}","replaceText":"={{ $('Bundle: Audit Data').item.json.time_savings_monthly_display }}"},{"action":"replaceAll","text":"{{payback_period}}","replaceText":"={{ $('Bundle: Audit Data').item.json.payback_period }}"},{"action":"replaceAll","text":"{{automation_percentage}}","replaceText":"={{ String($('Bundle: Audit Data').item.json.automation_percentage) }}"},{"action":"replaceAll","text":"{{freed_time_impact}}","replaceText":"={{ $('Bundle: Audit Data').item.json.freed_time_impact }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6080,0],"id":"95c3ab0b-3d97-4228-8729-3ae99dfb3dbf","name":"Fill Template","credentials":{"googleDocsOAuth2Api":{"id":"nKhYyurFvwp5iiPx","name":"Google Docs OAuth2 API"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Copy Template').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6560,0],"id":"2b70725e-f456-480a-8cd9-6ed6cec3bcb8","name":"Export: PDF","credentials":{"googleDriveOAuth2Api":{"id":"Gj5hmWwkQFAWhjzg","name":"Google Drive OAuth2 API"}}},{"parameters":{"resource":"draft","subject":"=Your AI Time Audit Report is Ready - {{ $('Bundle: Audit Data').item.json.client_name }}","bodyContent":"=<p>Hi {{ $('Bundle: Audit Data').first().json.first_name }},</p>\n\n<p>Your AI Time Audit for {{ $('Bundle: Audit Data').first().json.client_name }} is complete. Please find your full report attached.</p>\n\n<p>Here is the high-level breakdown:</p>\n\n<ul>\n  <li>Current monthly cost: ${{ $('Bundle: Audit Data').first().json.monthly_cost_display }} (${{ $('Bundle: Audit Data').first().json.annual_cost_display }}/year)</li>\n  <li>Automation potential: {{ $('Bundle: Audit Data').first().json.automation_percentage }}%</li>\n  <li>Projected monthly savings: ${{ $('Bundle: Audit Data').first().json.cost_savings_monthly_display }}</li>\n  <li>Reclaimed time: {{ $('Bundle: Audit Data').first().json.time_savings_monthly }} hours per month</li>\n</ul>\n\n<p>The report outlines three specific pathways to capture these savings, ranging from a DIY setup to a fully managed Crawl → Walk → Run implementation.</p>\n\n<p>If you'd like to discuss which option makes the most sense for your team, you can book a quick 15-minute walkthrough here:</p>\n\n<p><a href=\"https://calendly.com/atomi-agency/15min\">Book a 15-Minute Call</a></p>\n\n<p>Any questions? Just hit reply.</p>\n\n<p>Best,<br>\nJeremy<br>\nAtomi Agency</p>","additionalFields":{"bodyContentType":"html","toRecipients":"={{ $('Bundle: Audit Data').item.json.customer_email }}"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[6336,0],"id":"433d88b3-ae24-414d-b3bb-2c5a3c32eaa2","name":"Outlook Create Draft","webhookId":"a3f59201-13f1-4942-a366-4d3d873268f5","credentials":{"microsoftOutlookOAuth2Api":{"id":"CXmqi1thto4v2JM5","name":"Microsoft Outlook - jeremy@atomiagency.com"}}},{"parameters":{"resource":"messageAttachment","messageId":{"__rl":true,"value":"={{ $('Outlook Create Draft').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[6768,0],"id":"763ef3a6-126c-44b1-8c56-8dae79090aed","name":"Outlook: Attach PDF","webhookId":"60aceb9b-ad94-4f98-867b-4181577535ed","credentials":{"microsoftOutlookOAuth2Api":{"id":"CXmqi1thto4v2JM5","name":"Microsoft Outlook - jeremy@atomiagency.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Parse Typeform","type":"main","index":0}]]},"Parse Typeform":{"main":[[{"node":"Get Engagement","type":"main","index":0}]]},"P1 Automation Pct":{"main":[[]]},"Copy Template":{"main":[[{"node":"Fill Template","type":"main","index":0}]]},"Build Replacements":{"main":[[{"node":"Prepare Email","type":"main","index":0}]]},"Docs batchUpdate":{"main":[[]]},"Export PDF":{"main":[[]]},"Prepare Email":{"main":[[{"node":"Airtable Update Intake","type":"main","index":0}]]},"Airtable Update Intake":{"main":[[{"node":"Teams DM Jeremy","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Teams DM Error","type":"main","index":0}]]},"Get Company":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Validate Intake","type":"main","index":0}]]},"Validate Intake":{"main":[[{"node":"Create Intake Record","type":"main","index":0}],[{"node":"Stop Invalid Intake","type":"main","index":0}]]},"Get Engagement":{"main":[[{"node":"Get Company","type":"main","index":0}]]},"Create Intake Record":{"main":[[{"node":"Calc: Current State","type":"main","index":0}]]},"Calc: Current State":{"main":[[{"node":"Calc: Automation Potential","type":"main","index":0}]]},"Build: AI Context":{"main":[[{"node":"AI: Automatable Steps","type":"main","index":0}]]},"Calc: Automation Potential":{"main":[[{"node":"Build: AI Context","type":"main","index":0}]]},"AI: Automatable Steps":{"main":[[{"node":"AI: Human Steps","type":"main","index":0}]]},"AI: Human Steps":{"main":[[{"node":"AI: Solution Approach","type":"main","index":0}]]},"AI: Solution Approach":{"main":[[{"node":"AI: Integrations + Trigger","type":"main","index":0}]]},"AI: Integrations + Trigger":{"main":[[{"node":"AI: Exception Handling","type":"main","index":0}]]},"AI: Exception Handling":{"main":[[{"node":"AI: Exec Summary","type":"main","index":0}]]},"AI: Exec Summary":{"main":[[{"node":"AI: Current State","type":"main","index":0}]]},"AI: Current State":{"main":[[{"node":"AI: Automation Potential","type":"main","index":0}]]},"AI: Automation Potential":{"main":[[{"node":"Bundle: Audit Data","type":"main","index":0}]]},"Bundle: Audit Data":{"main":[[{"node":"Copy Template","type":"main","index":0}]]},"Fill Template":{"main":[[{"node":"Outlook Create Draft","type":"main","index":0}]]},"Export: PDF":{"main":[[{"node":"Outlook: Attach PDF","type":"main","index":0}]]},"Outlook Create Draft":{"main":[[{"node":"Export: PDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.atomiagency.com","user-agent":"Typeform Webhooks","content-length":"11586","accept-encoding":"gzip","content-type":"application/json","traceparent":"00-edd4678c31d1ec8e9e3d38dc3b9f72d6-991852dcf472cd87-01","x-forwarded-for":"172.20.0.1","x-forwarded-host":"n8n.atomiagency.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b7893169eae3","x-real-ip":"172.20.0.1"},"params":{},"query":{},"body":{"event_id":"01KG4JBNBNJK3F8KQ00EMY7SQW","event_type":"form_response","form_response":{"form_id":"T8TNeHoJ","token":"9roab4utpm5manvs0m9roa6kpujhi82e","response_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e#responses","landed_at":"2026-01-29T09:41:31Z","submitted_at":"2026-01-29T09:46:40Z","hidden":{"email":"jeremy@atomiagency.com","first_name":"Jeremy","last_name":"Maidment","user_id":"recTWBEn0is4qua08","utm_source":"test"},"definition":{"id":"T8TNeHoJ","title":"My branded typeform","fields":[{"id":"CT6McQMxZF6U","ref":"8ef9d430-27a7-4d01-a8c6-8cc975d99147","type":"short_text","title":"What is the specific manual process we are auditing today?","properties":{}},{"id":"q3dxHdXuzarC","ref":"9188e3aa-afcc-41f3-93a5-bedf3b15fda7","type":"multiple_choice","title":"What is the biggest frustration with this process right now?","properties":{},"choices":[{"id":"JFRS7GwJAO7v","ref":"5c93f434-300f-4323-bed6-0c499d8ef784","label":"It takes too long and delays other work."},{"id":"esvhYFpuYQM0","ref":"fdd9a72b-77e7-4399-84e4-86e262ac95e6","label":"Errors happen too often and need fixing."},{"id":"y2Cwugm7jlkB","ref":"df2790a1-240a-4c57-b1d4-544a6bfa0845","label":"It’s a bottleneck stopping us from growing."},{"id":"Heubtob4ElEK","ref":"7c26f7d3-e33e-4e63-8379-e9b91712df9a","label":"The team is frustrated or burnt out from doing it."}]},{"id":"KajIvIVqMiYm","ref":"350d9faa-a484-4c7e-bec4-5a125a3295da","type":"short_text","title":"Roughly how many times is this task performed every month?","properties":{}},{"id":"aX4hUPs0FCMU","ref":"3d163126-6bad-4070-a27f-40c99fb1ede3","type":"multiple_choice","title":"How long does it take to complete *one* instance of this task?","properties":{},"choices":[{"id":"YwuRLzuvCpTK","ref":"37411fe5-7eee-4113-8f52-a2c38a970545","label":"5–15 minutes"},{"id":"no8tuV6wcfh0","ref":"647bde52-9213-4aec-b7f4-8664a9f33fb8","label":"15–30 minutes"},{"id":"c1GffGuRRUcP","ref":"3822a7e3-4cf2-45a0-aad6-b54d35962aa3","label":"30–60 minutes"},{"id":"5tkFC4EJIhif","ref":"25b9fb46-2862-4cbb-bc1f-863fabe1a8b4","label":"1–2 hours"},{"id":"VnAcSCH2oIGk","ref":"41315b38-e644-4d98-a441-2faa04932145","label":"2+ hours"}]},{"id":"R9VX682pSZej","ref":"95a2f724-ac93-4fcc-8332-368c9d315d98","type":"multiple_choice","title":"What is the approximate hourly cost of the person doing this work?","properties":{},"choices":[{"id":"wHhp94RnNm5j","ref":"2dd250de-1e52-4d67-b00d-a26d39e633cb","label":"$50-75/hr"},{"id":"e3v9SelWVJL7","ref":"48ae70c4-9c9b-454b-ae8c-b40882e83d59","label":"$75-100/hr"},{"id":"gtnVfDqwGPp5","ref":"24566722-f5d1-4729-98b3-d06fe597c87f","label":"$100-150/hr"},{"id":"nul3ulciImB2","ref":"c5c879ce-8404-4fd9-875a-13a2de79b910","label":"$150+/hr"},{"id":"i0psMSGluGdg","ref":"d1059089-95da-42c0-b8c1-0779f013ced2","label":"Not sure"}]},{"id":"4kEhvoROnY3o","ref":"7d2294c9-5307-43dd-a853-b8c5b76c3d54","type":"multiple_choice","title":"How often do mistakes happen that require manual fixing or re-entry?","properties":{},"choices":[{"id":"1cCuXoCDDVrN","ref":"b7feb77f-6807-4734-ae91-e9bf05d92930","label":"Rarely (under 2%)"},{"id":"Mj9MsfwiXFxW","ref":"1f51da24-9cb3-4f14-93eb-206b34daf6cb","label":"Occasionally (approx. 5%)"},{"id":"84X8aPnpnEKw","ref":"7c8e838e-9cab-40b0-b239-6b9b5cefa2c6","label":"Often (10% or more)"}]},{"id":"kbAIcPdHztPo","ref":"933a1fce-df17-4dda-8522-33d7588297a1","type":"multiple_choice","title":"Which tools are involved in this process? (Select all that apply)","properties":{},"allow_multiple_selections":true,"allow_other_choice":true,"choices":[{"id":"jFkGa0wuRczx","ref":"7678f170-66dc-42e4-b3ea-d2e98e8b7d5e","label":"Email (Gmail, Outlook)"},{"id":"6kpE0RJEjtnO","ref":"318a17ea-3a67-4829-b9a7-9a8cd1969488","label":"Spreadsheets (Excel, Google Sheets)"},{"id":"DVTVy7jadHXn","ref":"5bafd3de-c45d-49ad-a92a-7a387a61c1c7","label":"Accounting (Xero, QuickBooks, MYOB)"},{"id":"9PBbAIta3dmN","ref":"2b7f171e-06f7-40c6-a3c6-0e9034325858","label":"CRM (Salesforce, HubSpot, Dynamics)"},{"id":"vnTGvQoMpA9p","ref":"68d064f7-1ae9-42e1-9561-4857c31d892a","label":"Documents (PDFs, Images, Word)"},{"id":"ezO4gzhGU6PC","ref":"748f5bdb-ab75-4313-8645-adb227b51213","label":"Other Web Portals or Legacy Apps."}]},{"id":"6d6XTIFLGUIY","ref":"4c888487-3154-4f2f-b1cb-48185adf1af1","type":"multiple_choice","title":"How much \"thinking\" is required to do this task?","properties":{},"choices":[{"id":"pY4Rk3Z6Phas","ref":"5ea206b6-94bf-4f97-875f-8ba29eef59dd","label":"Simple Rules: \"If X happens, do Y.\" (e.g., Invoices over $500 go to Sarah)."},{"id":"dL77OOeLtOrF","ref":"cf17ee66-0f9c-4eb8-b53b-e0b0b7ac54bc","label":"Judgment Calls: \"Read the email and decide which department handles it.\""},{"id":"BMExz7TI2fAc","ref":"34f18855-7f1a-4aef-b5ce-d7c8c42ac428","label":"Complex Decisions: \"Assess a lead's fit and prioritise based on multiple factors.\""}]},{"id":"L91EafOtXG38","ref":"247f8121-15ea-45b2-a558-3f49fa138dba","type":"long_text","title":"In a perfect world, if this ran smoothly without manual work, what would the result look like?","properties":{}},{"id":"5lhZXO1EBKnS","ref":"e2afee63-c746-44c7-ba95-e1b20fd9422f","type":"long_text","title":"If we freed up this time for your team, what high-value work would they do instead?","properties":{}},{"id":"GGJqfpf5b8HM","ref":"d99c3311-f7a0-4df3-9a82-048a10c82750","type":"multiple_choice","title":"How urgently do you need to solve this?","properties":{},"choices":[{"id":"ZGmU6ZxjHj8x","ref":"50387307-d126-465a-92e9-fe590cb727ac","label":"It's painful, but we can cope for now."},{"id":"HLQ0A9UZmxBu","ref":"894c2b18-6719-4782-8a33-5803db63f738","label":"It's actively blocking our growth or costing us money."},{"id":"pyHxgg7xstcZ","ref":"87ee96e9-bbf4-4f3b-8982-761f0af23fa8","label":"This is a top-3 priority for this quarter."}]},{"id":"qibFXQ2IoDxE","ref":"38c6f403-2ff8-4db3-89cb-5b7c8dd2bf4c","type":"multiple_choice","title":"If the audit shows a clear ROI, who makes the decision to move forward?","properties":{},"choices":[{"id":"nGflOM9p5IKY","ref":"400ee8a7-d9ef-40c2-9973-c2b6c783fad1","label":"I can approve this myself."},{"id":"5v7FNk5pBwWV","ref":"38cceded-1f72-4eab-8236-79edf4e2a811","label":"I need to get leadership buy-in."},{"id":"g6UvT4DvrA3D","ref":"81a0d0d2-d30a-4c5e-87c6-7dcf694e6ef6","label":"We would need board or executive level approval."}]}],"endings":[{"id":"exIxOrkU08YW","ref":"fd397204-e065-47d8-b853-0e7767e54a4d","title":"Got it, {{hidden:first_name}}. Thanks for taking the time to be thorough.","type":"thankyou_screen","properties":{"description":"We're building your report now. You'll get a 3-page PDF outlining the cost, the biggest opportunity, and a clear next-step roadmap. Look for it in your inbox within 2 business days.\n\nWhen you get it, take a look and let's talk about what comes next. We're here to partner on this, not just had you a report and disappear.","button_text":"Create a typeform","show_button":true,"share_icons":true,"button_mode":"default_redirect"}}],"settings":{"partial_responses_to_all_integrations":true}},"answers":[{"type":"text","text":"Monthly client invoicing is taking too long","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=CT6McQMxZF6U#responses","field":{"id":"CT6McQMxZF6U","type":"short_text","ref":"8ef9d430-27a7-4d01-a8c6-8cc975d99147"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=q3dxHdXuzarC#responses","choice":{"id":"Heubtob4ElEK","label":"The team is frustrated or burnt out from doing it.","ref":"7c26f7d3-e33e-4e63-8379-e9b91712df9a"},"field":{"id":"q3dxHdXuzarC","type":"multiple_choice","ref":"9188e3aa-afcc-41f3-93a5-bedf3b15fda7"}},{"type":"text","text":"we send at least 80-100 invoices per month","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=KajIvIVqMiYm#responses","field":{"id":"KajIvIVqMiYm","type":"short_text","ref":"350d9faa-a484-4c7e-bec4-5a125a3295da"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=aX4hUPs0FCMU#responses","choice":{"id":"YwuRLzuvCpTK","label":"5–15 minutes","ref":"37411fe5-7eee-4113-8f52-a2c38a970545"},"field":{"id":"aX4hUPs0FCMU","type":"multiple_choice","ref":"3d163126-6bad-4070-a27f-40c99fb1ede3"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=R9VX682pSZej#responses","choice":{"id":"gtnVfDqwGPp5","label":"$100-150/hr","ref":"24566722-f5d1-4729-98b3-d06fe597c87f"},"field":{"id":"R9VX682pSZej","type":"multiple_choice","ref":"95a2f724-ac93-4fcc-8332-368c9d315d98"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=4kEhvoROnY3o#responses","choice":{"id":"Mj9MsfwiXFxW","label":"Occasionally (approx. 5%)","ref":"1f51da24-9cb3-4f14-93eb-206b34daf6cb"},"field":{"id":"4kEhvoROnY3o","type":"multiple_choice","ref":"7d2294c9-5307-43dd-a853-b8c5b76c3d54"}},{"type":"choices","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=kbAIcPdHztPo#responses","choices":{"ids":["DVTVy7jadHXn","6kpE0RJEjtnO"],"labels":["Accounting (Xero, QuickBooks, MYOB)","Spreadsheets (Excel, Google Sheets)"],"refs":["5bafd3de-c45d-49ad-a92a-7a387a61c1c7","318a17ea-3a67-4829-b9a7-9a8cd1969488"]},"field":{"id":"kbAIcPdHztPo","type":"multiple_choice","ref":"933a1fce-df17-4dda-8522-33d7588297a1"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=6d6XTIFLGUIY#responses","choice":{"id":"dL77OOeLtOrF","label":"Judgment Calls: \"Read the email and decide which department handles it.\"","ref":"cf17ee66-0f9c-4eb8-b53b-e0b0b7ac54bc"},"field":{"id":"6d6XTIFLGUIY","type":"multiple_choice","ref":"4c888487-3154-4f2f-b1cb-48185adf1af1"}},{"type":"text","text":"I could submit jobs and then they would populate Xero and draft the invoice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=L91EafOtXG38#responses","field":{"id":"L91EafOtXG38","type":"long_text","ref":"247f8121-15ea-45b2-a558-3f49fa138dba"}},{"type":"text","text":"Following up on new work and setting up the next day for the crew","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=5lhZXO1EBKnS#responses","field":{"id":"5lhZXO1EBKnS","type":"long_text","ref":"e2afee63-c746-44c7-ba95-e1b20fd9422f"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=GGJqfpf5b8HM#responses","choice":{"id":"HLQ0A9UZmxBu","label":"It's actively blocking our growth or costing us money.","ref":"894c2b18-6719-4782-8a33-5803db63f738"},"field":{"id":"GGJqfpf5b8HM","type":"multiple_choice","ref":"d99c3311-f7a0-4df3-9a82-048a10c82750"}},{"type":"choice","answer_url":"https://admin.typeform.com/form/T8TNeHoJ/results?responseId=9roab4utpm5manvs0m9roa6kpujhi82e&fieldId=qibFXQ2IoDxE#responses","choice":{"id":"nGflOM9p5IKY","label":"I can approve this myself.","ref":"400ee8a7-d9ef-40c2-9973-c2b6c783fad1"},"field":{"id":"qibFXQ2IoDxE","type":"multiple_choice","ref":"38c6f403-2ff8-4db3-89cb-5b7c8dd2bf4c"}}],"ending":{"id":"exIxOrkU08YW","ref":"fd397204-e065-47d8-b853-0e7767e54a4d"}}},"webhookUrl":"https://n8n.atomiagency.com/webhook/55efb4c9-1a72-4f30-97fa-ba1a0e6186b8","executionMode":"production"}}]},"versionId":"9054d72d-1149-46ee-a131-3e89547ab1c4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T23:55:10.506Z","createdAt":"2026-04-16T23:55:10.506Z","role":"workflow:owner","workflowId":"p6Q0PLcyyBs0TUBy","projectId":"Y1nGkyVHZhIAPTcX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-17T01:37:33.104Z","createdAt":"2026-04-17T01:37:33.104Z","id":"FWMioKyEji1IDou2","name":"AI Time Audit"}]}